In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [4]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [5]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FSLY', 'FTCH', 'GFS', 'GLBE', 'GOGO',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'OSTK', 'PAR', 'PD', 'PTON', 'RBLX',  'SNOW',
            'SPLK', 'SPOT','STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos6b', mod, True, loss=lossfn)[0]

In [9]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
19,FTCH,RROnly,347.67,259.47,607.14,0.887006,7.939256,0.31,9.43,12.330000
50,TWTR,RROnly,393.82,370.21,764.03,0.893617,23.075707,0.16,39.41,45.820000
55,ZM,RROnly,2097.80,2582.99,4680.79,0.878378,71.712765,0.07,122.64,130.649994
25,MAXR,RROnly,294.68,307.72,602.40,0.941489,4.813628,0.06,27.61,29.150000
6,BMBL,RROnly,91.11,195.82,286.93,0.842105,17.826093,0.02,31.98,32.470001
17,EXPE,RROnly,814.70,1067.46,1882.16,0.904255,49.139063,0.01,102.34,103.180000
8,CRCT,RROnly,43.42,115.61,159.03,0.941176,7.065295,0.01,6.58,6.650000
29,MQ,RROnly,20.60,106.99,127.59,0.900000,7.253239,0.01,10.11,10.230000
24,LYFT,RROnly,259.14,407.96,667.10,0.907285,15.132160,0.01,16.34,16.500000
20,GFS,RROnly,101.67,69.46,171.13,1.000000,44.878042,-0.02,45.89,45.070000
14,DOCS,RROnly,34.92,230.29,265.21,0.842105,31.424926,-0.02,41.50,40.790001
37,PAR,RROnly,442.45,417.32,859.77,0.882979,12.399959,-0.03,38.63,37.430000
47,TOST,RROnly,13.37,122.70,136.07,0.923077,13.730171,-0.04,15.15,14.560000
42,SPLK,RROnly,1139.64,1368.02,2507.66,0.898936,89.144916,-0.04,97.86,93.940002
32,NET,RROnly,749.29,631.31,1380.60,0.898438,17.517080,-0.04,51.84,49.810001
18,FSLY,RROnly,558.58,663.84,1222.42,0.868056,12.423267,-0.04,13.20,12.730000
0,ABNB,RROnly,364.32,633.87,998.19,0.846154,97.734068,-0.04,103.51,99.070000
44,STEM,RROnly,87.73,163.16,250.89,0.851351,7.511997,-0.07,8.40,7.780000
22,GOGO,RROnly,109.85,98.73,208.59,0.877660,1.821465,-0.07,16.53,15.450000
31,MTCH,RROnly,856.73,725.69,1582.42,0.893617,36.141788,-0.07,78.45,72.709999
11,DBX,RROnly,138.32,157.94,296.26,0.920213,16.118035,-0.07,22.62,21.020000
4,AMBA,RROnly,1036.35,963.06,1999.41,0.882979,35.134133,-0.08,72.86,67.169998
39,PTON,RROnly,782.99,582.71,1365.70,0.952381,12.318360,-0.08,11.01,10.180000
28,MPWR,RROnly,2678.81,1595.91,4274.72,0.861702,110.101292,-0.09,419.41,380.589996
30,MXL,RROnly,360.28,259.82,620.10,0.898936,9.251994,-0.10,34.88,31.230000
36,OSTK,RROnly,549.61,776.07,1325.68,0.835106,5.022090,-0.10,33.46,30.129999
10,DASH,RROnly,260.47,881.68,1142.15,0.892308,63.752552,-0.10,74.11,66.370003
2,AFRM,RROnly,418.26,423.69,841.95,0.918033,19.113639,-0.11,23.28,20.709999
52,UBER,RROnly,219.88,310.41,530.29,0.882759,16.051522,-0.12,23.03,20.200001
43,SPOT,RROnly,1525.16,1923.73,3448.89,0.946809,97.031444,-0.12,107.00,93.769997
46,TDOC,RROnly,997.24,1541.07,2538.31,0.904255,33.091364,-0.12,37.17,32.880001
45,SWAV,RROnly,1057.89,644.36,1702.25,0.863636,26.936505,-0.12,197.69,174.649994
34,NVCR,RROnly,860.81,1137.54,1998.35,0.888298,32.820921,-0.14,75.60,65.019997
21,GLBE,RROnly,59.42,196.82,256.24,0.818182,19.572443,-0.14,23.10,19.830000
1,ACLS,RROnly,313.77,310.35,624.12,0.851064,14.749708,-0.15,58.20,49.380001
3,AI,RROnly,27.32,183.38,210.70,0.753846,16.104819,-0.15,19.07,16.250000
41,SNOW,RROnly,831.40,1359.07,2190.47,0.883117,120.663297,-0.16,151.53,127.139999
38,PD,RROnly,265.18,326.33,591.51,0.939597,14.088872,-0.18,28.48,23.420000
27,MNDY,RROnly,222.47,1180.30,1402.77,0.850000,103.039851,-0.18,122.36,100.209999
53,Z,RROnly,725.79,797.86,1523.65,0.882979,27.735665,-0.19,35.46,28.889999
9,CRWD,RROnly,1216.91,1326.39,2543.30,0.879433,38.158644,-0.19,184.99,149.410004
48,TTD,RROnly,515.60,549.78,1065.38,0.877660,10.565357,-0.19,49.49,39.910000
54,ZEN,RROnly,751.36,929.25,1680.61,0.952128,50.884772,-0.21,74.17,58.320000
5,BILL,RROnly,1578.28,1215.63,2793.91,0.913043,36.397512,-0.22,130.48,101.370003
7,CFLT,RROnly,100.92,232.12,333.04,0.947368,20.061800,-0.23,25.28,19.440001
40,RBLX,RROnly,206.10,447.00,653.10,0.943396,27.294963,-0.24,36.42,27.520000
16,ESTC,RROnly,1116.84,780.95,1897.79,0.920000,47.175499,-0.25,77.58,58.060001
13,DOCN,RROnly,317.03,199.20,516.23,0.941176,33.312515,-0.26,47.75,35.450001
49,TWLO,RROnly,1729.29,1811.90,3541.19,0.882979,64.656377,-0.26,99.12,73.550003
15,DOCU,RROnly,1459.63,1238.53,2698.16,0.877660,43.376071,-0.27,68.75,50.020000
23,INMD,RROnly,326.90,286.28,613.18,0.857143,8.230708,-0.28,24.14,17.299999
51,U,RROnly,383.00,819.60,1202.60,0.935065,33.713178,-0.29,46.81,33.389999
35,OKTA,RROnly,1416.37,1556.08,2972.45,0.909574,52.501874,-0.30,101.26,71.129997
33,NVAX,RROnly,1618.64,1779.88,3398.52,0.829787,9.444414,-0.30,51.67,35.930000
26,MDB,RROnly,3235.59,2452.44,5688.02,0.909574,61.134107,-0.31,303.09,209.279999
12,DDOG,RROnly,838.65,516.70,1355.35,0.921260,31.052749,-0.33,107.48,72.239998

In [ ]:
findata.EPOCHS=200
# https://seekingalpha.com/etfs-and-funds/etf-tables/sectors
tickers1 = ['ARKF', 'ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX','GBTC', 
            'ICLN', 'IJR', 'IPO', 'IXC', 'IXN', 'IXP', 'IWM', 'IYZ',
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'ONLN', 'QQQ', 'SMH', 'SMOG', 'SPY', 'TDIV',
            'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf6b', mod, True)[0]
# !cp -r results /content/drive/MyDrive/colab

In [12]:
df1.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
0,ARKF,RROnly,157.31,213.32,370.64,0.943396,15.426758,0.46,17.85,26.120001
3,DAPP,RROnly,35.93,98.25,134.18,0.979167,5.432907,0.19,5.39,6.410000
1,ARKK,RROnly,583.81,643.62,1227.43,0.946809,34.899030,0.16,45.83,53.029999
2,ARKW,RROnly,619.51,660.44,1279.95,0.946809,39.740268,0.05,56.62,59.490002
17,JETS,RROnly,144.01,143.64,287.65,0.941489,12.292462,0.04,17.42,18.110001
12,IXC,RROnly,149.54,116.87,266.41,0.925532,11.911647,0.04,33.60,34.880001
35,XLE,RROnly,369.93,254.04,623.97,0.952128,21.969004,0.04,71.59,74.680000
37,XLI,RROnly,279.10,233.97,513.07,0.909574,47.889045,0.02,88.82,90.320000
4,DIA,RROnly,912.21,832.02,1744.23,0.909574,181.005783,0.00,315.02,315.839996
9,ICLN,RROnly,129.49,68.95,198.44,0.898936,7.808652,-0.00,19.41,19.360001
19,MGV,RROnly,254.99,177.30,432.28,0.867021,54.239776,0.00,97.53,97.629997
6,EEM,RROnly,141.60,192.04,333.64,0.898936,29.733088,-0.01,40.65,40.400002
29,VT,RROnly,280.23,216.81,497.05,0.920213,52.753310,-0.02,87.71,85.570000
27,TDIV,RROnly,183.89,126.69,310.58,0.936170,29.322248,-0.02,51.59,50.450001
34,XLC,RROnly,221.55,227.60,449.15,0.914894,38.501605,-0.02,56.94,55.980000
24,SMH,RROnly,1259.78,666.41,1926.19,0.936170,81.920525,-0.02,216.16,211.550003
31,WDIV,RROnly,175.12,203.91,379.03,0.930851,37.048892,-0.02,61.54,60.029999
15,IWM,RROnly,749.18,802.30,1551.48,0.920213,99.121126,-0.02,175.09,171.240005
10,IJR,RROnly,326.25,379.38,705.63,0.930851,48.424515,-0.02,94.27,92.410004
40,XLU,RROnly,194.18,143.34,337.52,0.872340,42.462596,-0.02,69.01,67.610001
33,XLB,RROnly,264.53,194.79,459.33,0.851064,37.433206,-0.03,76.46,74.550003
21,MTUM,RROnly,564.56,510.94,1075.50,0.930851,89.994967,-0.03,137.10,133.160004
22,ONLN,RROnly,286.56,238.04,524.61,0.907514,28.251097,-0.03,36.22,35.299999
26,SPY,RROnly,1219.39,845.45,2064.85,0.936170,218.518155,-0.03,390.08,379.559998
28,VNQ,RROnly,362.79,237.25,600.04,0.909574,53.805206,-0.03,93.12,89.860001
43,XME,RROnly,292.48,151.90,444.39,0.914894,14.785079,-0.03,46.09,44.810001
30,VTI,RROnly,694.80,453.27,1148.08,0.957447,109.319609,-0.03,195.19,189.169998
36,XLF,RROnly,135.88,96.18,232.06,0.914894,17.227284,-0.03,32.34,31.320000
38,XLK,RROnly,524.85,447.08,971.94,0.946809,56.745504,-0.04,133.45,127.699997
20,MOAT,RROnly,193.77,137.88,331.65,0.930851,37.301800,-0.04,66.86,64.190002
39,XLRE,RROnly,170.50,94.66,265.15,0.872340,24.087719,-0.04,41.81,40.130001
41,XLV,RROnly,404.07,236.20,640.28,0.904255,73.042617,-0.05,129.20,122.570000
23,QQQ,RROnly,1331.87,702.31,2034.19,0.941489,143.068029,-0.05,294.61,279.209991
16,IYZ,RROnly,62.20,93.82,156.02,0.893617,21.445048,-0.05,25.76,24.530001
13,IXN,RROnly,199.79,134.47,334.26,0.914894,22.320744,-0.05,47.95,45.419998
14,IXP,RROnly,219.06,143.69,362.76,0.925532,45.827300,-0.06,63.88,60.040001
42,XLY,RROnly,574.95,456.01,1030.96,0.909574,87.494951,-0.06,146.99,138.899994
18,MGK,RROnly,750.29,604.03,1354.32,0.930851,98.900621,-0.07,191.91,179.009995
8,GBTC,RROnly,348.24,283.84,632.08,0.872340,4.933102,-0.07,13.85,12.940000
7,FPX,RROnly,455.48,387.41,842.89,0.925532,55.989863,-0.08,85.94,79.430000
5,DTEC,RROnly,182.10,147.13,329.23,0.957447,22.680299,-0.08,34.98,32.349998
44,XNTK,RROnly,713.86,402.78,1116.64,0.968085,55.015277,-0.09,109.75,99.400002
25,SMOG,RROnly,839.77,522.83,1362.60,0.920213,52.186783,-0.12,130.10,114.089996
45,XSW,RROnly,650.93,531.47,1182.40,0.930851,71.022202,-0.13,120.32,104.809998
32,XITK,RROnly,956.85,896.30,1853.15,0.941489,79.024128,-0.18,118.79,97.309998
11,IPO,RROnly,288.80,278.92,567.72,0.914894,22.345657,-0.20,33.26,26.510000

In [ ]:
findata.EPOCHS=200
# exclude = ['GTSWF', 'CBNT', 'ILAL']
tickers3 = [ 'AIRI', 'APRN', 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGSF', 'BLNK', 'CLOV', 
            'DMTK', 'EVGO', 'EXPR', 'GBOX',  'HIVE', 
            'INLX', 'JOBY',  'KULR', 'MMMB', 'MTTR', 'MULN',
            'NEPH', 'OMQS', 'ONDS', 'OPEN', 'OTLY',
            'REAL', 'RIDE', 'RIG', 'SFIX', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols5b', mod, True)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df3.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,AHT,RROnly,801.13,2959.61,3760.74,0.744681,16.102027,3.50,5.55,24.969999
27,RIDE,RROnly,159.28,108.66,267.94,0.703448,2.318765,0.98,1.99,3.940000
1,APRN,RROnly,145.21,193.26,338.47,0.819149,3.160400,0.68,3.34,5.610000
9,BLNK,RROnly,265.37,197.75,463.13,0.680851,2.387745,0.46,16.79,24.549999
21,NEPH,RROnly,50.05,51.22,101.27,0.840426,1.962878,0.31,1.85,2.430000
11,DMTK,RROnly,230.45,317.59,548.03,0.739362,6.094125,0.28,7.14,9.160000
26,REAL,RROnly,127.54,136.99,264.53,0.888889,3.410622,0.27,3.27,4.140000
33,WISH,RROnly,3.34,67.54,70.88,0.672131,1.838577,0.26,1.80,2.260000
29,SFIX,RROnly,450.10,492.30,942.40,0.851064,9.065358,0.22,8.59,10.440000
15,HIVE,RROnly,109.30,87.80,197.10,0.750000,0.837363,0.21,3.98,4.820000
7,BKKT,RROnly,33.77,113.05,146.82,0.687500,3.103700,0.20,2.66,3.190000
4,AMSC,RROnly,122.54,144.82,267.36,0.882979,5.176561,0.17,5.50,6.430000
5,ASTR,RROnly,36.78,86.71,123.49,0.900000,2.660740,0.17,2.47,2.890000
24,OPEN,RROnly,88.86,150.05,238.91,0.883721,6.442526,0.06,7.49,7.910000
2,AUGX,RROnly,4.62,19.77,24.39,0.956522,2.033229,0.06,2.11,2.230000
31,SFT,RROnly,43.90,43.66,87.56,0.811594,1.220857,0.05,1.07,1.120000
25,OTLY,RROnly,2.95,53.41,56.36,0.948718,3.265800,0.05,4.19,4.390000
10,CLOV,RROnly,51.79,79.94,131.73,0.862069,2.531585,0.04,2.71,2.820000
19,MMMB,RROnly,1.98,3.03,5.00,0.935484,1.193859,0.02,1.24,1.270000
12,EVGO,RROnly,45.70,90.84,136.53,0.953125,7.756572,0.00,9.78,9.830000
32,VRAR,RROnly,14.35,63.02,77.37,0.941176,3.672664,-0.00,4.05,4.050000
0,AIRI,RROnly,13.77,13.82,27.59,0.840426,0.686422,-0.02,0.71,0.690000
22,OMQS,RROnly,67.41,88.06,155.47,0.861702,3.343711,-0.04,5.89,5.660000
23,ONDS,RROnly,32.52,36.76,69.28,0.919355,4.425476,-0.04,7.16,6.900000
18,KULR,RROnly,25.78,26.84,52.62,0.840659,0.897278,-0.07,1.47,1.370000
14,GBOX,RROnly,91.00,73.18,164.18,0.750000,0.454365,-0.12,2.61,2.300000
30,STEM,RROnly,79.77,163.46,243.23,0.842857,7.705837,-0.13,8.86,7.720000
20,MULN,RROnly,113.66,106.33,219.99,0.829787,1.026967,-0.14,0.97,0.830000
28,RIG,RROnly,43.18,66.70,109.88,0.829787,0.945906,-0.15,4.18,3.550000
8,BGSF,RROnly,84.05,152.63,236.67,0.851064,6.277679,-0.15,12.78,10.870000
16,INLX,RROnly,47.33,48.93,96.26,0.707447,0.418999,-0.20,4.85,3.900000
17,JOBY,RROnly,14.90,40.20,55.10,0.772727,3.997407,-0.20,6.01,4.800000
6,ATOM,RROnly,203.24,146.28,349.52,0.696809,3.400139,-0.24,12.99,9.930000
13,EXPR,RROnly,27.98,73.10,101.08,0.824468,0.804646,-0.29,3.00,2.120000

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CAT', 'CRM', 'COST', 'CSCO', 'DE', 'DHR', 'DIS', 'GOOGL', 'FB',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'SBUX', 'TMO', 'UNH']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df4 = pipeline.runModelCombined(tickers4, 'mcap4b', mod4, False)[0]

loading model from results/mcap4b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df4.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
27,PYPL,RROnly,910.12,1248.29,2158.41,0.819149,78.474096,0.38,86.81,120.089996
11,COST,RROnly,1420.99,667.42,2088.41,0.787234,189.439601,0.06,472.47,498.839996
15,DIS,RROnly,759.95,553.16,1313.11,0.898936,88.716015,0.05,107.83,113.449997
29,TMO,RROnly,1873.20,1376.46,3249.66,0.904255,208.481672,0.03,552.88,570.219971
14,DHR,RROnly,1237.19,591.16,1828.35,0.909574,96.949229,0.01,263.74,265.160004
21,ISRG,RROnly,1343.04,1160.59,2503.63,0.877660,127.123780,0.01,216.43,218.220001
19,INTC,RROnly,262.67,266.93,529.60,0.893617,39.431347,0.01,43.34,43.570000
16,GOOGL,RROnly,9233.10,4211.56,13444.66,0.851064,1015.680740,0.00,2336.41,2342.189941
12,CSCO,RROnly,205.46,209.27,414.73,0.898936,31.784601,0.00,45.33,45.340000
13,DE,RROnly,1293.80,695.63,1989.43,0.787234,113.762890,-0.00,362.91,362.470001
5,AVGO,RROnly,2537.88,1088.65,3626.53,0.872340,163.278042,-0.01,561.23,555.330017
22,MSFT,RROnly,1099.37,482.84,1582.21,0.877660,94.531178,-0.01,268.75,266.140015
4,AMZN,RROnly,595.93,652.64,1248.58,0.845745,70.094509,-0.02,124.79,121.690002
8,BRK-B,RROnly,955.05,683.76,1638.81,0.872340,165.696095,-0.02,312.15,307.399994
0,AAPL,RROnly,619.40,387.72,1007.12,0.904255,37.000307,-0.03,146.14,141.800003
17,FB,RROnly,1451.13,1287.80,2738.93,0.941489,128.625163,-0.04,194.25,186.259995
9,CAT,RROnly,869.91,618.30,1488.22,0.851064,90.204806,-0.04,223.63,214.559998
10,CRM,RROnly,1228.99,977.70,2206.69,0.893617,124.564767,-0.06,182.87,171.490005
26,ORCL,RROnly,227.27,207.25,434.52,0.851064,39.428558,-0.06,72.97,68.480003
30,UNH,RROnly,1919.17,653.08,2572.25,0.845745,195.592233,-0.06,490.18,460.779999
7,BKNG,RROnly,12700.28,12755.72,25456.00,0.914894,1189.801100,-0.07,2347.30,2186.520020
25,NOW,RROnly,2461.23,2472.25,4933.48,0.888298,166.205085,-0.08,492.54,454.790009
6,BA,RROnly,1548.73,2499.06,4047.78,0.898936,102.096637,-0.09,139.24,126.599998
23,NKE,RROnly,493.59,525.84,1019.43,0.867021,63.991484,-0.09,120.23,109.739998
28,SBUX,RROnly,358.53,293.81,652.34,0.867021,46.369447,-0.10,78.98,71.150002
20,IBM,RROnly,532.90,449.96,982.86,0.861702,83.339272,-0.11,142.88,127.250000
1,ACN,RROnly,1120.10,1030.74,2150.84,0.861702,132.189761,-0.13,304.73,264.630005
18,HD,RROnly,1211.12,984.65,2195.77,0.867021,149.729265,-0.13,303.89,262.950012
2,ADBE,RROnly,2451.80,2464.67,4916.47,0.920213,213.440151,-0.14,429.46,370.019989
24,NVDA,RROnly,1530.70,1060.12,2590.81,0.861702,35.920014,-0.16,187.86,157.270004
3,AMD,RROnly,506.07,562.80,1068.87,0.840426,17.594081,-0.24,105.65,80.480003

In [ ]:
findata.EPOCHS=200
tickers5 = ['AEXAF', 'ALSMY', 'AMSSY', 'ASML', 'ADDDF', 'ADYEY', 'BASFY', 'BESIY', 'COTY', 'COVTY', 'CX',
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'HCMLY', 'HENKY', 'JMIA', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'NOK', 'OTGLY', 'PROSF', 'RNMBF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE',
            'TEAM', 'TEF', 'TRYIY', 'TSM',
            'VALE', 'VNT', 'VWAPY', 'YARIY', 'ZURVY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock6a', mod5, False)[0]

loading model from results/gstock6a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
20,DNMR,RROnly,184.59,212.16,396.75,0.922222,4.284006,0.34,4.04,5.430000
1,ALSMY,RROnly,24.57,29.38,53.94,0.930851,1.968985,0.11,2.76,3.070000
33,OTGLY,RROnly,56.93,120.63,177.55,0.827586,6.604929,0.09,6.14,6.680000
36,RYCEF,RROnly,20.49,62.35,82.84,0.851064,1.101015,0.09,1.17,1.280000
27,OZON,RROnly,57.17,193.43,250.60,0.812500,12.652691,0.09,11.60,12.660000
6,BASFY,RROnly,67.11,78.29,145.40,0.909574,9.010555,0.08,13.94,15.080000
24,JMIA,RROnly,-13.57,35.43,21.86,0.589041,6.419047,0.07,7.63,8.200000
48,VNT,RROnly,40.58,64.35,104.93,0.876712,22.594621,0.06,26.99,28.730000
38,SFTBY,RROnly,184.40,189.60,374.00,0.930851,13.281972,0.06,20.74,21.940001
28,RACE,RROnly,1084.76,817.92,1902.68,0.920213,95.890204,0.05,193.27,202.309998
22,HCMLY,RROnly,49.66,47.37,97.03,0.936170,5.496641,0.05,9.92,10.400000
39,ORAN,RROnly,37.86,47.69,85.55,0.914894,8.739891,0.04,11.92,12.390000
23,HENKY,RROnly,78.80,79.12,157.92,0.930851,13.878640,0.03,16.59,17.090000
21,GLOB,RROnly,1149.00,1235.76,2384.76,0.861702,51.973642,0.01,199.76,201.229996
35,RNMBF,RROnly,102.29,-121.43,-19.13,0.303191,80.417524,0.01,198.35,200.130005
37,SAFRF,RROnly,760.83,763.68,1524.50,0.888298,58.534115,0.01,101.83,103.220001
15,ENGGY,RROnly,41.09,37.20,78.29,0.936170,7.567701,0.00,11.56,11.600000
19,FANUY,RROnly,106.34,121.31,227.65,0.946809,11.662837,-0.00,16.23,16.180000
2,AMSSY,RROnly,5.60,56.00,61.61,0.558511,6.987510,0.00,5.80,5.820000
26,NXPI,RROnly,1023.67,439.21,1462.88,0.888298,65.624969,0.00,180.01,180.399994
32,NOK,RROnly,31.19,35.62,66.81,0.952128,2.482591,-0.01,5.00,4.960000
34,PROSF,RROnly,365.02,369.86,734.89,0.951220,43.885099,-0.01,52.60,52.130001
51,ZURVY,RROnly,88.97,50.05,139.02,0.643617,24.608700,-0.01,45.16,44.830002
31,MYTE,RROnly,37.32,80.59,117.91,0.964912,9.954960,-0.02,12.01,11.720000
25,MELI,RROnly,10400.70,7961.75,18362.45,0.909574,285.241168,-0.03,803.99,778.479980
12,EADSF,RROnly,654.75,561.65,1216.40,0.888298,52.064469,-0.03,120.24,116.970001
11,DBOEY,RROnly,72.07,57.61,129.68,0.914894,9.976040,-0.03,16.64,16.110001
4,ADDDF,RROnly,1749.27,1842.48,3591.75,0.936170,172.479922,-0.04,195.00,187.669998
16,ERIC,RROnly,48.26,61.04,109.30,0.930851,6.070209,-0.04,8.22,7.850000
14,EDNMF,RROnly,163.38,170.73,334.11,0.452128,28.185202,-0.04,49.11,47.279999
43,TEAM,RROnly,1541.49,1397.72,2939.21,0.851064,65.400144,-0.04,190.27,183.389999
50,YARIY,RROnly,98.90,77.96,176.86,0.920213,9.794649,-0.05,26.76,25.340000
49,VWAPY,RROnly,147.52,63.48,211.00,0.909574,8.635379,-0.05,16.84,15.980000
30,LVMUY,RROnly,590.41,411.52,1001.93,0.925532,53.086694,-0.05,131.42,124.519997
47,VALE,RROnly,105.62,71.18,176.79,0.888298,5.616442,-0.05,18.54,17.670000
45,TRYIY,RROnly,51.66,61.04,112.70,0.888298,7.530422,-0.05,10.31,9.750000
7,BESIY,RROnly,423.78,323.98,747.76,0.898936,16.342846,-0.06,60.58,56.930000
40,SAP,RROnly,478.86,604.18,1083.04,0.930851,89.482000,-0.06,100.86,94.800003
0,AEXAF,RROnly,-57.10,284.52,227.41,0.558511,31.069204,-0.06,28.25,26.690001
17,ERJ,RROnly,97.78,120.21,217.99,0.898936,4.466958,-0.06,10.92,10.240000
8,COTY,RROnly,93.38,99.46,192.83,0.920213,2.860766,-0.06,7.25,6.790000
44,TEF,RROnly,23.64,28.05,51.69,0.914894,2.874826,-0.08,5.04,4.630000
46,TSM,RROnly,503.35,296.04,799.39,0.867021,32.992276,-0.09,93.11,84.580002
18,ESEA,RROnly,201.63,142.31,343.94,0.835106,2.224723,-0.09,33.66,30.719999
5,ADYEY,RROnly,111.69,107.30,218.99,0.942623,6.714589,-0.10,16.01,14.340000
42,SIEGY,RROnly,306.46,309.18,615.64,0.914894,31.709941,-0.10,67.29,60.549999
10,CX,RROnly,31.31,40.85,72.17,0.904255,1.763409,-0.10,4.39,3.960000
9,COVTY,RROnly,116.15,201.53,317.69,0.898936,12.074702,-0.11,23.53,21.010000
13,EIFZF,RROnly,172.64,112.80,285.44,0.888298,7.860818,-0.12,36.06,31.639999
3,ASML,RROnly,3486.14,2273.24,5759.38,0.888298,149.157828,-0.16,571.69,483.059998
29,LYB,RROnly,550.94,307.63,858.56,0.936170,31.240487,-0.16,109.83,92.669998
41,SHOP,RROnly,6697.70,5712.52,12410.22,0.872340,139.160570,-0.17,360.62,298.850006

In [ ]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'FLN',
            'ECH', 'EWI', 'EWC', 'EWM', 'EWP', 'EWW', 'EWY', 'EWZ',
            'IDX', 'ILF', 'KEMQ', 'THD', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf5a', mod6, False)[0]

loading model from results/cetf5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
14,KEMQ,RROnly,86.92,124.73,211.65,0.835106,14.385566,0.34,16.27,21.850000
9,EWW,RROnly,188.29,117.33,305.62,0.867021,24.501704,0.07,47.41,50.590000
8,EWP,RROnly,68.92,88.00,156.92,0.808511,17.248541,0.06,23.95,25.389999
12,IDX,RROnly,74.19,77.46,151.64,0.888298,10.495694,0.06,20.49,21.790001
1,ARGT,RROnly,156.27,160.05,316.32,0.909574,14.631783,0.06,28.23,29.910000
0,AGT,RROnly,155.25,126.28,281.52,0.925532,12.397123,0.06,23.76,25.150000
5,EWI,RROnly,71.51,66.86,138.38,0.670213,17.689650,0.06,25.26,26.870001
10,EWY,RROnly,248.47,291.43,539.90,0.898936,38.802948,0.04,63.13,65.519997
2,EWD,RROnly,154.30,112.29,266.59,0.904255,20.074241,0.04,33.35,34.660000
16,TUR,RROnly,107.43,114.35,221.78,0.813830,17.334817,0.03,19.37,19.910000
15,THD,RROnly,293.35,257.67,551.03,0.882979,46.903006,0.02,71.60,73.199997
6,EWC,RROnly,103.07,46.04,149.12,0.845745,17.277278,0.01,36.23,36.750000
4,ECH,RROnly,107.16,130.15,237.31,0.877660,16.705116,0.01,27.70,27.980000
17,XCEM,RROnly,93.85,76.99,170.84,0.867021,16.651193,-0.01,27.09,26.820000
7,EWM,RROnly,70.81,78.76,149.57,0.867021,17.670128,-0.02,22.49,22.150000
3,FLN,RROnly,88.17,74.52,162.69,0.882979,9.710906,-0.02,18.69,18.400000
11,EWZ,RROnly,199.59,176.00,375.59,0.872340,18.589744,-0.03,30.53,29.610001
13,ILF,RROnly,109.06,151.74,260.80,0.920213,14.020765,-0.05,24.85,23.510000

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'BLK', 'BGFV',
            'CI', 'CIVI', 'CG', 'CMI', 'COKE', 'DD', 'F', 'FLO',
            'HSII', 'HPE', 'IP', 'IPI', 'JWN', 'KD', 'KHC',
            'M', 'MMM', 'NTR', 'OMC', 
            'PCAR', 'PETS', 'RH', 'REGN', 'SCCO', 'SPTN', 'SWK',
            'T', 'TCN', 'TDG', 'TWI',
            'UNH', 'VRTX', 'VZ', 'WDC', 'WHR', 'WSM', 'XOM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val6a', mod7, True)[0]

In [ ]:
df7.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
18,KD,RROnly,4.93,27.16,32.09,1.000000,10.339757,0.29,9.83,12.690000
16,IPI,RROnly,423.94,356.33,780.27,0.861702,8.425461,0.27,57.25,72.949997
32,TCN,RROnly,4.74,12.39,17.13,0.954545,10.909710,0.16,10.69,12.420000
30,SWK,RROnly,975.64,649.57,1625.22,0.914894,71.822628,0.14,109.96,125.180000
23,OMC,RROnly,253.90,235.41,489.31,0.877660,43.820658,0.10,67.99,74.739998
7,CG,RROnly,197.81,151.19,349.00,0.867021,14.115165,0.09,35.96,39.139999
21,MMM,RROnly,562.23,823.32,1385.55,0.946809,110.887288,0.08,137.65,149.259995
10,DD,RROnly,343.34,485.92,829.26,0.888298,28.432686,0.08,63.53,68.540001
0,APO,RROnly,322.14,216.05,538.19,0.914894,20.484645,0.07,54.45,58.049999
38,WDC,RROnly,366.36,487.98,854.34,0.888298,30.047762,0.06,54.03,57.500000
17,JWN,RROnly,238.68,344.56,583.24,0.872340,12.537513,0.05,26.74,28.180000
40,WSM,RROnly,920.77,670.05,1590.82,0.909574,31.835068,0.05,121.24,126.800003
15,IP,RROnly,222.84,175.76,398.60,0.920213,23.329010,0.04,45.00,46.900002
22,NTR,RROnly,294.29,201.82,496.11,0.845745,24.407943,0.04,86.46,90.269997
36,VRTX,RROnly,903.42,1075.00,1978.42,0.898936,151.059783,0.03,254.88,261.940002
25,PETS,RROnly,142.51,173.08,315.59,0.893617,13.903997,0.03,20.87,21.510000
39,WHR,RROnly,951.52,788.04,1739.56,0.882979,63.390185,0.03,164.35,169.289993
13,HSII,RROnly,216.13,223.20,439.33,0.957447,18.178265,0.03,32.38,33.290001
8,CMI,RROnly,971.57,756.13,1727.69,0.920213,100.288082,0.03,205.50,212.270004
28,SCCO,RROnly,318.34,282.14,600.48,0.936170,21.974169,0.02,60.11,61.200001
2,BAX,RROnly,261.12,328.06,589.18,0.877660,59.706032,0.02,73.12,74.709999
11,F,RROnly,70.53,61.82,132.36,0.840426,4.244076,0.02,12.75,13.000000
33,TDG,RROnly,3079.27,2331.02,5410.29,0.893617,255.247104,0.01,581.13,585.539978
37,VZ,RROnly,127.51,132.99,260.50,0.909574,41.772757,0.00,50.82,51.049999
31,T,RROnly,78.50,54.00,132.50,0.909574,15.424768,0.00,20.69,20.730000
3,BLK,RROnly,3390.88,2936.80,6327.68,0.941489,320.271072,0.00,617.67,620.570007
9,COKE,RROnly,3072.06,1858.33,4930.39,0.877660,135.041446,0.00,582.35,582.520020
24,PCAR,RROnly,343.45,241.46,584.91,0.888298,48.078024,0.00,85.10,85.160004
14,HPE,RROnly,65.77,76.22,142.00,0.888298,7.455636,0.00,14.23,14.280000
12,FLO,RROnly,92.71,55.52,148.22,0.914894,16.169547,0.00,25.07,25.080000
6,CIVI,RROnly,336.99,212.47,549.46,0.861702,9.830719,-0.01,80.66,79.879997
34,TWI,RROnly,94.77,58.20,152.97,0.909574,1.358379,-0.02,17.82,17.480000
35,UNH,RROnly,1905.48,969.00,2874.48,0.914894,194.225572,-0.02,484.63,473.130005
5,CI,RROnly,1095.86,908.96,2004.82,0.893617,129.789971,-0.03,253.29,246.830002
20,M,RROnly,160.13,166.42,326.55,0.914894,4.901218,-0.04,23.04,22.170000
26,RH,RROnly,2756.79,2046.73,4803.52,0.898936,89.789084,-0.05,278.07,265.500000
29,SPTN,RROnly,148.80,83.42,232.22,0.877660,8.396879,-0.07,32.38,30.270000
1,BAH,RROnly,396.78,301.59,698.37,0.941489,41.775793,-0.07,84.91,78.989998
19,KHC,RROnly,125.49,193.35,318.85,0.867021,18.718551,-0.07,37.45,34.900002
41,XOM,RROnly,384.96,290.75,675.72,0.877660,28.449386,-0.08,100.46,92.830002
27,REGN,RROnly,3199.40,2375.15,5574.55,0.914894,282.556906,-0.09,571.81,523.010010
4,BGFV,RROnly,133.03,115.72,248.75,0.835106,1.069686,-0.11,11.27,10.080000

In [ ]:
findata.EPOCHS=200
tickers8 = [ 'GLD', 'JJU', 'PDBC', 'SLV', 'SOYB', 'TIP', 'TLT', 'UUP', 'WEAT']
mod8 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df8 = pipeline.runModelCombined(tickers8, 'com5a', mod8, False)[0]

loading model from results/com5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df8.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,SLV,RROnly,88.92,73.24,162.16,0.771277,11.728000,0.09,19.98,21.709999
1,JJU,RROnly,145.46,113.33,258.79,0.755319,33.476249,0.06,53.99,57.470001
6,TLT,RROnly,95.00,120.06,215.07,0.574468,109.683381,0.03,112.08,115.320000
0,GLD,RROnly,484.64,174.41,659.05,0.829787,113.255014,0.01,171.27,173.009995
5,TIP,RROnly,101.19,55.47,156.66,0.744681,98.044582,0.01,114.73,115.379997
8,WEAT,RROnly,23.16,11.59,34.75,0.712766,5.085621,0.00,10.60,10.600000
4,SOYB,RROnly,58.03,23.15,81.18,0.723404,13.767791,-0.02,28.47,27.889999
7,UUP,RROnly,29.30,15.61,44.91,0.765957,24.236498,-0.02,27.95,27.500000
2,PDBC,RROnly,42.67,12.10,54.77,0.712766,7.600531,-0.07,19.38,18.000000

In [ ]:
findata.EPOCHS=200
tickers9 = [ 'BTC-USD', 'ETH-USD', 'ADA-USD', 'DOGE-USD']
mod9 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df9 = pipeline.runModelCombined(tickers9, 'cry-6b', mod9, True)[0]

In [ ]:
df9.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
1,ETH-USD,RROnly,24225.92,14455.31,38681.23,0.648936,287.157304,0.17,937.22,1092.469971
0,BTC-USD,RROnly,267070.09,254425.62,521495.71,0.675532,8458.431991,0.13,18257.98,20559.919922
2,ADA-USD,RROnly,9.20,6.16,15.36,0.569149,0.135685,-0.02,0.44,0.430000
3,DOGE-USD,RROnly,2.06,2.00,4.06,0.638298,0.020475,-0.06,0.05,0.050000

In [13]:
findata.EPOCHS=200
save = ['CF']
tickers10 = [ 'ACHC', 'ALB', 'ALKS', 'BECN', 'BTC-USD', 'BYDDF',
              'CNC', 'CNQ', 'CVX', 'DLTR',
             'GOOGL', 'HWM', 'HQY',  'LKNCY', 'LLY',
             'MRK', 'MU', 'QQQ', 'RBA', 'SPOT', 'SWAV', 'ULTA',  'UTHR']
mod10 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df10 = pipeline.runModelCombined(tickers10, 'trade-6b', mod10, False)[0]

loading model from results/trade-6b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [14]:
df10.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
13,LKNCY,RROnly,-78.50,69.35,-9.15,0.479167,6.038028,0.38,11.89,16.370001
19,SPOT,RROnly,276.68,260.77,537.45,0.553191,114.060793,0.16,107.00,124.129997
1,ALB,RROnly,427.98,-97.70,330.29,0.601064,62.728372,0.11,224.79,249.979996
3,BECN,RROnly,326.56,231.20,557.76,0.925532,12.790991,0.11,50.71,56.299999
8,CVX,RROnly,502.21,480.95,983.16,0.856383,50.168052,0.11,144.77,160.539993
7,CNQ,RROnly,258.19,196.99,455.18,0.914894,7.377923,0.08,50.52,54.580002
16,MU,RROnly,456.57,422.18,878.74,0.962766,29.838737,0.05,58.44,61.160000
4,BTC-USD,RROnly,75360.44,6239.53,81599.97,0.590426,9792.758986,0.04,21299.09,22059.910156
17,QQQ,RROnly,573.10,-139.07,434.03,0.537234,158.389095,0.04,294.61,305.630005
11,HWM,RROnly,180.20,127.51,307.71,0.904255,10.969002,0.00,32.18,32.200001
0,ACHC,RROnly,347.28,241.20,588.48,0.914894,12.552543,-0.03,70.37,68.000000
6,CNC,RROnly,27.06,49.31,76.37,0.515957,47.419968,-0.03,82.95,80.820000
22,UTHR,RROnly,334.11,140.15,474.26,0.558511,85.838973,-0.03,238.95,231.240005
10,GOOGL,RROnly,4548.70,-377.82,4170.88,0.627660,1088.514249,-0.04,2359.50,2274.770020
12,HQY,RROnly,30.46,194.05,224.51,0.606383,46.819719,-0.04,66.81,64.410004
2,ALKS,RROnly,153.56,174.75,328.31,0.867021,13.558458,-0.06,29.71,28.020000
15,MRK,RROnly,310.15,211.18,521.34,0.920213,53.027268,-0.07,93.13,86.690002
14,LLY,RROnly,989.35,630.44,1619.80,0.829787,84.282467,-0.09,325.62,296.390015
20,SWAV,RROnly,682.88,197.59,880.47,0.623377,35.473704,-0.09,197.69,179.320007
9,DLTR,RROnly,669.29,458.54,1127.83,0.888298,67.383832,-0.10,157.21,140.789993
21,ULTA,RROnly,2172.55,1509.33,3681.88,0.904255,133.896815,-0.10,410.54,367.429993
5,BYDDF,RROnly,27.08,-42.09,-15.00,0.494681,7.207007,-0.15,39.50,33.400002
18,RBA,RROnly,76.57,33.18,109.75,0.574468,29.545067,-0.17,61.76,51.459999

In [ ]:
findata.G_LOOKUP_STEP = 5
mod11 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df11 = pipeline.runModelCombined(tickers10, 'trade-6b', mod11, False)[0]

In [16]:
df11.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
7,CNQ,RROnly,73.85,22.20,96.05,0.610526,7.978781,0.15,50.52,58.080002
3,BECN,RROnly,89.46,65.80,155.26,0.615789,13.638114,0.14,50.71,57.770000
8,CVX,RROnly,203.31,195.27,398.58,0.626316,51.440827,0.13,144.77,164.169998
4,BTC-USD,RROnly,23957.63,33096.46,57054.09,0.552632,7422.524378,0.12,21299.09,23812.289062
19,SPOT,RROnly,122.00,248.78,370.78,0.515789,103.015641,0.10,107.00,117.510002
1,ALB,RROnly,252.85,174.98,427.83,0.547368,57.047595,0.09,224.79,245.589996
16,MU,RROnly,87.15,79.89,167.03,0.631579,31.287161,0.06,58.44,61.669998
11,HWM,RROnly,46.76,55.10,101.86,0.636842,11.456698,0.05,32.18,33.689999
13,LKNCY,RROnly,22.12,6.45,28.57,0.472603,3.153302,0.04,11.89,12.400000
18,RBA,RROnly,54.83,22.61,77.44,0.584211,27.989300,0.02,61.76,63.020000
10,GOOGL,RROnly,1027.25,861.51,1888.76,0.594737,1038.521731,0.02,2359.50,2402.500000
2,ALKS,RROnly,13.50,29.08,42.58,0.578947,14.127950,0.01,29.71,29.920000
6,CNC,RROnly,83.78,30.10,113.88,0.542105,45.318641,0.01,82.95,84.080002
17,QQQ,RROnly,209.59,230.12,439.70,0.663158,148.134962,0.01,294.61,296.399994
0,ACHC,RROnly,94.92,45.77,140.69,0.621053,13.380818,0.00,70.37,70.599998
12,HQY,RROnly,89.70,45.55,135.25,0.505263,43.641100,0.00,66.81,67.019997
15,MRK,RROnly,99.95,27.96,127.91,0.615789,53.668846,-0.01,93.13,91.870003
20,SWAV,RROnly,20.01,78.46,98.47,0.493590,31.614120,-0.01,197.69,196.410004
9,DLTR,RROnly,158.26,62.27,220.53,0.584211,69.098714,-0.03,157.21,151.729996
21,ULTA,RROnly,815.06,215.07,1030.13,0.657895,139.176572,-0.03,410.54,396.510010
5,BYDDF,RROnly,42.45,-9.76,32.68,0.526316,5.816185,-0.04,39.50,37.750000
14,LLY,RROnly,336.48,62.73,399.21,0.642105,85.862181,-0.05,325.62,310.010010
22,UTHR,RROnly,260.26,23.95,284.21,0.563158,79.977155,-0.05,238.95,227.320007

In [17]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/* /content/drive/MyDrive/colab/results/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +90 -delete -print

sending incremental file list
etf6b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5
ipos6b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

sent 6,429,259 bytes  received 54 bytes  12,858,626.00 bytes/sec
total size is 61,038,792  speedup is 9.49