In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [4]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [5]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DMTK', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FSLY', 'FTCH', 'GFS', 'GLBE', 'GOGO',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'OSTK', 'PAR', 'PD', 'PTON', 'RBLX',  'REAL', 'SNOW',
           'SFIX', 'SPLK', 'STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos3b', mod, False, loss=lossfn)[0]

In [ ]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
11,DMTK,RROnly,55.39,1.01,56.40,0.420213,8.993922,0.46,13.84,20.170000
36,OSTK,RROnly,73.16,-120.72,-47.56,0.515957,13.778799,0.22,47.43,57.750000
27,MNDY,RROnly,122.27,655.96,778.23,0.785714,127.907931,0.18,153.73,181.100006
3,AI,RROnly,52.56,269.17,321.73,0.811321,18.276543,0.17,22.53,26.400000
41,REAL,RROnly,118.83,156.46,275.29,0.960317,5.902257,0.17,7.85,9.170000
33,NVAX,RROnly,2127.51,1299.67,3427.18,0.824468,7.320622,0.16,73.85,85.339996
20,FTCH,RROnly,319.98,344.13,664.11,0.939394,7.827444,0.16,14.73,17.120001
54,Z,RROnly,692.62,943.26,1635.88,0.962766,27.018355,0.15,52.80,60.750000
31,MTCH,RROnly,884.73,548.59,1433.32,0.925532,34.963518,0.14,107.81,123.269997
2,AFRM,RROnly,357.22,358.94,716.16,0.937500,29.589765,0.14,43.25,49.410000
35,OKTA,RROnly,1386.92,1265.75,2652.67,0.872340,42.925347,0.14,149.86,170.570007
29,MQ,RROnly,36.12,70.62,106.74,0.964286,9.102985,0.14,11.14,12.750000
5,BILL,RROnly,1450.55,715.04,2165.59,0.961165,32.584290,0.11,231.77,258.170013
8,CRCT,RROnly,22.72,74.22,96.94,0.894737,10.880447,0.11,12.00,13.360000
43,SFIX,RROnly,498.37,471.41,969.78,0.925532,10.400533,0.10,10.59,11.690000
15,DOCS,RROnly,74.26,238.57,312.83,1.000000,42.113667,0.10,49.00,53.950001
19,FSLY,RROnly,331.33,221.79,553.12,0.628788,20.923730,0.09,17.33,18.889999
22,GLBE,RROnly,74.26,108.45,182.71,0.906250,26.976133,0.09,31.92,34.770000
44,SPLK,RROnly,1040.17,1204.26,2244.43,0.904255,90.464907,0.08,143.85,154.860001
24,LYFT,RROnly,283.88,420.72,704.60,0.935252,17.036653,0.08,37.59,40.410000
53,UBER,RROnly,267.66,268.60,536.26,0.917293,15.725069,0.07,34.77,37.200001
6,BMBL,RROnly,65.91,132.23,198.14,0.909091,17.324015,0.07,28.99,31.030001
16,DOCU,RROnly,1349.57,1427.58,2777.15,0.908108,40.792487,0.06,104.67,111.260002
48,TOST,RROnly,13.36,80.37,93.73,1.000000,17.184876,0.06,19.23,20.440001
38,PD,RROnly,254.51,252.72,507.23,0.941606,13.580235,0.04,36.48,38.070000
0,ABNB,RROnly,392.86,356.03,748.89,0.943396,126.719299,0.03,167.65,172.589996
37,PAR,RROnly,440.58,319.79,760.37,0.941489,11.764456,0.03,40.43,41.610001
50,TWLO,RROnly,1806.30,2077.66,3883.96,0.925532,43.162639,0.03,160.74,164.860001
13,DDOG,RROnly,787.71,530.98,1318.69,0.930435,30.483706,0.02,149.35,151.770004
47,TDOC,RROnly,1253.85,1322.92,2576.77,0.930851,42.788837,0.02,69.82,71.180000
30,MXL,RROnly,341.26,234.90,576.16,0.888298,8.969739,0.01,61.98,62.529999
28,MPWR,RROnly,1997.72,1798.71,3796.43,0.851064,107.993319,-0.00,499.42,499.410004
9,CRWD,RROnly,1228.00,848.25,2076.25,0.961240,36.494433,0.00,222.12,222.160004
12,DBX,RROnly,133.32,133.73,267.04,0.909574,16.108256,-0.00,23.52,23.410000
23,INMD,RROnly,317.85,253.50,571.35,0.884298,8.099389,-0.01,38.02,37.799999
56,ZM,RROnly,2074.36,1634.26,3708.62,0.919118,67.485008,-0.02,117.45,114.540001
45,STEM,RROnly,100.14,150.97,251.11,0.935484,8.062779,-0.02,10.91,10.710000
21,GFS,RROnly,77.44,11.79,89.23,1.000000,45.788944,-0.02,73.90,72.500000
40,RBLX,RROnly,181.85,378.00,559.85,0.926829,38.590362,-0.02,48.40,47.439999
52,U,RROnly,408.17,435.06,843.23,0.937500,70.424312,-0.03,98.11,95.209999
10,DASH,RROnly,374.72,542.11,916.83,0.943396,79.507580,-0.03,114.43,111.300003
42,SNOW,RROnly,622.34,1359.30,1981.64,0.938462,172.412303,-0.03,235.89,229.500000
46,SWAV,RROnly,1007.56,391.52,1399.08,0.901408,25.981147,-0.03,186.12,180.690002
51,TWTR,RROnly,327.08,497.34,824.42,0.957447,22.750952,-0.04,39.12,37.389999
14,DOCN,RROnly,226.37,239.27,465.64,0.974359,37.852001,-0.04,57.99,55.680000
18,EXPE,RROnly,942.71,690.41,1633.12,0.893617,48.009828,-0.04,193.19,186.050003
26,MDB,RROnly,3111.29,2215.04,5326.32,0.936170,42.167100,-0.04,420.92,403.829987
17,ESTC,RROnly,1079.00,867.00,1946.00,0.957055,45.999260,-0.05,89.80,85.709999
55,ZEN,RROnly,661.07,497.15,1158.22,0.904255,48.095672,-0.05,118.87,112.720001
7,CFLT,RROnly,137.41,130.14,267.55,0.961538,32.352907,-0.06,42.11,39.759998
25,MAXR,RROnly,356.80,338.79,695.59,0.936170,4.660865,-0.08,38.50,35.270000
4,AMBA,RROnly,908.65,454.41,1363.06,0.861702,34.124093,-0.08,97.94,90.540001
1,ACLS,RROnly,315.92,158.53,474.45,0.914894,14.219924,-0.11,78.57,70.089996
49,TTD,RROnly,647.68,524.48,1172.16,0.936170,6.298759,-0.11,68.89,61.490002
32,NET,RROnly,832.31,314.74,1147.05,0.862069,17.158104,-0.11,126.28,112.580002
39,PTON,RROnly,499.14,599.33,1098.47,0.921053,21.617644,-0.13,28.07,24.480000
34,NVCR,RROnly,1117.03,1229.44,2346.47,0.914894,23.530635,-0.14,79.50,68.550003

In [ ]:
findata.EPOCHS=200
# https://seekingalpha.com/etfs-and-funds/etf-tables/sectors
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX',
            'GBTC', 'GLD',
            'ICLN', 'IJR', 'IPO', 'IPOS', 'IXC', 'IXN', 'IXP', 'IWM',
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'QQQ', 'SLV','SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf2b', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

loading model from results/etf2b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df1.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
0,ARKK,RROnly,380.89,554.01,934.89,0.771277,37.948020,0.12,67.54,75.470001
1,ARKW,RROnly,495.87,510.05,1005.92,0.718085,43.172389,0.10,87.94,96.449997
12,IPOS,RROnly,67.97,50.81,118.78,0.702128,18.056331,0.09,20.06,21.879999
17,JETS,RROnly,34.77,22.57,57.33,0.558511,13.365108,0.05,21.73,22.879999
2,DAPP,RROnly,33.15,50.22,83.37,0.729730,14.428498,0.05,15.07,15.800000
11,IPO,RROnly,184.97,126.76,311.73,0.675532,23.538466,0.05,44.62,46.860001
24,SMH,RROnly,983.36,83.49,1066.84,0.750000,85.208950,0.04,265.42,276.070007
31,XITK,RROnly,627.83,440.89,1068.72,0.675532,83.605741,0.04,154.09,160.470001
33,XLC,RROnly,169.83,60.74,230.57,0.703911,39.676743,0.02,69.29,70.440002
41,XLY,RROnly,465.91,223.79,689.70,0.696809,89.558860,0.02,185.23,189.210007
9,ICLN,RROnly,102.96,39.96,142.93,0.765957,8.280899,0.01,21.64,21.809999
5,EEM,RROnly,76.80,85.69,162.49,0.670213,30.834671,0.01,45.90,46.360001
35,XLF,RROnly,102.02,84.49,186.52,0.808511,17.804027,-0.00,38.22,38.220001
37,XLK,RROnly,454.40,114.52,568.93,0.707447,58.991834,0.00,158.46,158.500000
43,XNTK,RROnly,501.38,279.79,781.16,0.760638,57.797101,-0.00,138.53,138.080002
21,MTUM,RROnly,484.32,349.75,834.06,0.803191,92.325890,0.00,168.54,168.729996
18,MGK,RROnly,583.95,467.29,1051.24,0.776596,104.050555,0.00,235.71,235.809998
22,QQQ,RROnly,949.57,296.22,1245.79,0.776596,147.500006,0.00,361.85,363.179993
16,IWM,RROnly,723.98,290.18,1014.16,0.712766,102.840369,-0.00,207.57,206.949997
15,IXP,RROnly,177.54,55.93,233.47,0.718085,47.379510,-0.00,74.93,74.760002
14,IXN,RROnly,178.99,78.89,257.88,0.840426,23.225724,-0.00,57.76,57.500000
4,DTEC,RROnly,140.66,67.90,208.56,0.776596,23.283651,-0.00,42.97,42.759998
6,FPX,RROnly,335.03,281.18,616.20,0.808511,58.078763,-0.00,109.75,109.750000
3,DIA,RROnly,651.66,480.81,1132.46,0.696809,185.900384,-0.01,348.01,343.309998
7,GBTC,RROnly,180.74,167.10,347.84,0.632979,6.801402,-0.01,32.05,31.600000
26,SPY,RROnly,1095.82,565.74,1661.56,0.755319,224.853053,-0.01,452.92,446.660004
28,VT,RROnly,245.69,112.67,358.36,0.744681,54.325100,-0.02,101.94,100.279999
29,VTI,RROnly,497.62,149.50,647.12,0.739362,112.100989,-0.02,228.58,224.970001
10,IJR,RROnly,274.23,217.37,491.60,0.760638,50.070704,-0.02,109.02,107.070000
36,XLI,RROnly,287.84,62.73,350.57,0.707447,50.203330,-0.03,102.18,99.389999
23,SLV,RROnly,49.04,15.93,64.97,0.558511,12.091512,-0.03,22.74,22.059999
20,MOAT,RROnly,125.15,42.55,167.70,0.632979,38.278361,-0.03,75.14,72.610001
44,XSW,RROnly,519.86,296.60,816.46,0.739362,73.463048,-0.03,148.54,144.460007
27,VNQ,RROnly,223.65,95.08,318.73,0.648936,55.702536,-0.04,110.48,106.589996
30,WDIV,RROnly,117.93,49.55,167.49,0.648936,38.943729,-0.04,68.02,65.389999
19,MGV,RROnly,147.02,59.23,206.26,0.601064,56.410366,-0.04,107.64,103.180000
32,XLB,RROnly,211.18,137.76,348.94,0.755319,38.826653,-0.04,89.08,85.150002
8,GLD,RROnly,216.33,6.66,222.99,0.542553,114.999850,-0.04,179.50,172.300003
38,XLRE,RROnly,109.55,61.42,170.98,0.707447,24.883098,-0.04,49.28,47.330002
40,XLV,RROnly,219.01,85.14,304.15,0.659574,75.224841,-0.04,138.07,132.820007
25,SMOG,RROnly,482.27,190.71,672.98,0.680851,55.714283,-0.06,145.90,137.800003
13,IXC,RROnly,48.82,-2.71,46.10,0.510638,13.030109,-0.06,36.49,34.369999
39,XLU,RROnly,64.78,1.61,66.39,0.494681,43.918892,-0.06,75.50,71.269997
34,XLE,RROnly,57.41,-13.83,43.57,0.494681,24.453563,-0.08,77.06,71.230003
42,XME,RROnly,78.44,40.44,118.88,0.632979,16.088698,-0.10,62.42,55.900002

In [ ]:
findata.EPOCHS=200
tickers3 = [ 'AIRI', 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGSF', 'BLNK', 'CBNT', 'CLOV', 'CX',
             'EVGO', 'EXPR', 'GBOX', 'GTSWF'. 'MULN', 'HIVE', 
            'ILAL', 'INLX', 'JOBY',  'KULR', 'MMMB', 'MTTR',
            'NEPH', 'OMQS', 'ONDS',   'RIG', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols4a', mod, True)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df3.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
8,CBNT,RROnly,0.87,7.98,8.85,0.365591,0.091700,2.35,0.02,0.070000
1,AHT,RROnly,972.90,2624.57,3597.47,0.712766,23.511677,0.55,9.83,15.270000
4,ATOM,RROnly,145.51,122.20,267.72,0.739362,3.392883,0.29,12.92,16.700001
25,VRAR,RROnly,26.76,32.85,59.61,0.846154,5.507652,0.13,6.24,7.050000
3,ASTR,RROnly,53.77,68.91,122.68,0.952381,3.789331,0.11,4.31,4.780000
24,SFT,RROnly,22.28,52.58,74.86,0.725191,1.908584,0.11,2.10,2.330000
26,WISH,RROnly,25.27,76.50,101.77,0.849057,2.555527,0.07,2.28,2.440000
9,CLOV,RROnly,53.21,70.35,123.56,0.784810,2.831661,0.07,3.53,3.770000
15,INLX,RROnly,57.34,52.79,110.13,0.755319,0.434788,0.03,4.76,4.920000
14,ILAL,RROnly,1.49,2.93,4.42,0.820000,0.443784,0.03,0.46,0.470000
13,HIVE,RROnly,18.31,15.74,34.05,0.686170,0.186604,0.02,2.11,2.150000
2,AMSC,RROnly,132.21,156.80,289.01,0.787234,5.529163,0.02,7.64,7.790000
11,EXPR,RROnly,48.63,59.65,108.28,0.792553,0.901981,0.01,3.37,3.420000
20,NEPH,RROnly,49.55,51.42,100.97,0.824468,4.185831,0.01,4.27,4.330000
5,BKKT,RROnly,111.83,104.74,216.57,0.732143,4.916848,-0.01,6.26,6.200000
16,JMIA,RROnly,231.13,234.43,465.56,0.746377,4.281016,-0.06,9.48,8.890000
18,KULR,RROnly,19.41,22.73,42.14,0.758621,0.942030,-0.06,2.17,2.050000
19,MTTR,RROnly,69.75,67.07,136.82,0.829787,7.319235,-0.06,8.24,7.730000
0,AUGX,RROnly,4.97,14.21,19.19,0.820513,2.237381,-0.11,2.65,2.360000
23,STEM,RROnly,119.59,152.06,271.65,0.887097,9.444845,-0.12,11.32,9.990000
7,BLNK,RROnly,340.01,98.69,438.70,0.760638,2.727241,-0.16,26.89,22.480000
6,BGSF,RROnly,84.85,149.65,234.49,0.787234,6.592588,-0.16,13.42,11.260000
22,RIG,RROnly,51.10,77.98,129.08,0.819149,1.075016,-0.16,4.64,3.920000
17,JOBY,RROnly,10.00,22.92,32.92,0.758621,4.140715,-0.17,6.47,5.380000
21,ONDS,RROnly,21.43,33.37,54.80,0.870370,4.570059,-0.17,7.81,6.470000
10,EVGO,RROnly,60.02,49.23,109.25,0.821429,7.979625,-0.19,12.75,10.380000
12,MULN,RROnly,105.82,102.03,207.85,0.808511,1.275617,-0.29,2.87,2.030000

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CAT', 'CRM', 'COST', 'CSCO', 'DE', 'DHR', 'DIS', 'GOOGL', 'FB',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'SBUX', 'TMO', 'UNH']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df4 = pipeline.runModelCombined(tickers4, 'mcap4a', mod4, True)[0]
# !cp results/mcap* /content/drive/MyDrive/colab/results/

In [ ]:
df4.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
24,NVDA,RROnly,954.37,732.82,1687.19,0.856383,35.217772,0.25,231.19,288.970001
15,DIS,RROnly,636.75,584.78,1221.53,0.893617,87.779599,0.13,131.87,149.419998
25,NOW,RROnly,3013.66,2071.82,5085.48,0.914894,165.562176,0.11,515.60,573.359985
3,AMD,RROnly,794.88,351.32,1146.20,0.845745,11.986636,0.10,101.00,110.739998
4,AMZN,RROnly,13004.55,11479.37,24483.92,0.898936,1382.810897,0.08,3089.21,3335.280029
27,PYPL,RROnly,1167.57,1351.29,2518.85,0.909574,75.796141,0.08,111.21,120.349998
22,MSFT,RROnly,1051.42,362.67,1414.09,0.893617,90.805600,0.07,296.97,318.980011
5,AVGO,RROnly,2444.88,787.30,3232.18,0.888298,162.019523,0.07,587.00,626.010010
6,BA,RROnly,1727.38,1806.84,3534.22,0.925532,100.912618,0.07,175.20,187.979996
28,SBUX,RROnly,353.18,331.72,684.90,0.914894,46.405719,0.06,81.52,86.669998
19,INTC,RROnly,230.50,265.81,496.31,0.909574,39.554866,0.05,47.02,49.290001
1,ACN,RROnly,1103.41,769.46,1872.86,0.877660,131.541866,0.05,338.92,356.250000
16,GOOGL,RROnly,8764.85,4006.56,12771.41,0.856383,1013.863503,0.04,2665.75,2784.669922
29,TMO,RROnly,2326.09,1071.32,3397.41,0.925532,207.515834,0.03,608.86,624.969971
9,CAT,RROnly,916.07,581.75,1497.82,0.851064,89.743786,0.03,217.03,224.009995
18,HD,RROnly,1307.22,812.64,2119.86,0.898936,149.717003,0.02,311.11,317.720001
12,CSCO,RROnly,244.06,149.95,394.01,0.925532,31.656921,0.02,54.28,55.439999
10,CRM,RROnly,1084.57,1116.82,2201.39,0.882979,120.686114,0.02,197.17,200.419998
23,NKE,RROnly,708.57,384.89,1093.46,0.888298,63.689818,0.02,128.15,130.929993
20,IBM,RROnly,441.46,437.39,878.85,0.893617,82.737754,0.01,127.73,129.300003
2,ADBE,RROnly,2699.30,2155.17,4854.47,0.920213,213.706012,0.01,445.34,449.890015
21,ISRG,RROnly,1447.53,969.57,2417.10,0.914894,126.142456,-0.01,289.86,287.640015
17,FB,RROnly,1577.92,1299.15,2877.07,0.930851,128.662719,-0.02,222.33,217.919998
7,BKNG,RROnly,9807.63,11166.42,20974.05,0.888298,1183.064868,-0.02,2167.42,2130.649902
0,AAPL,RROnly,794.59,346.67,1141.26,0.946809,36.310868,-0.03,170.09,165.029999
30,UNH,RROnly,1726.29,1013.29,2739.58,0.893617,194.935760,-0.03,545.96,528.849976
14,DHR,RROnly,973.79,554.94,1528.72,0.882979,96.712107,-0.04,299.29,287.720001
26,ORCL,RROnly,260.64,224.51,485.14,0.872340,39.360220,-0.05,80.94,77.110001
8,BRK-B,RROnly,1082.97,495.47,1578.44,0.893617,164.776463,-0.05,353.10,335.309998
11,COST,RROnly,1528.28,888.75,2417.04,0.845745,184.934289,-0.06,600.04,566.770020
13,DE,RROnly,1369.89,582.44,1952.33,0.765957,113.565304,-0.07,418.30,388.019989

In [ ]:
findata.EPOCHS=200
tickers5 = ['ALSMY', 'ASML', 'ADDDF', 'BASFY', 'BESIY', 'COTY', 'COVTY', 
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'FTCH', 'HCMLY', 'HENKY', 'JMIA', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'NOK', 'OTGLY', 'OTLY', 'PROSF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE', 'SPOT',
            'TEAM', 'TEF', 'TRYIY', 'TSM',
            'VALE', 'VWAPY', 'YARIY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock4a', mod5, True)[0]

In [ ]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
31,OTLY,RROnly,3.65,35.19,38.84,0.909091,4.965792,0.38,4.45,6.130000
38,SHOP,RROnly,7193.18,5069.34,12262.52,0.835106,148.342175,0.26,603.18,759.770020
21,JMIA,RROnly,290.71,249.88,540.59,0.827338,3.702083,0.25,9.32,11.620000
33,RYCEF,RROnly,17.66,61.51,79.17,0.797872,1.149845,0.24,1.26,1.560000
42,TEAM,RROnly,1850.96,1134.87,2985.83,0.792553,62.974033,0.24,272.02,338.440002
40,STNE,RROnly,400.83,368.05,768.88,0.882716,9.772103,0.22,11.01,13.420000
1,ASML,RROnly,3367.11,1785.91,5153.01,0.861702,151.207338,0.20,610.93,731.880005
16,DNMR,RROnly,239.69,177.33,417.01,0.804878,4.675956,0.18,5.28,6.240000
44,TRYIY,RROnly,52.11,56.25,108.36,0.861702,7.238675,0.16,9.91,11.510000
14,ESEA,RROnly,217.04,156.48,373.52,0.824468,2.409421,0.15,25.44,29.180000
0,ALSMY,RROnly,21.61,25.27,46.89,0.893617,1.982378,0.15,2.21,2.540000
23,NXPI,RROnly,741.69,596.31,1338.00,0.824468,66.439321,0.14,167.50,190.779999
5,COTY,RROnly,73.98,82.40,156.39,0.904255,2.902773,0.14,8.59,9.830000
17,GLOB,RROnly,1818.30,843.59,2661.89,0.797872,49.518929,0.12,239.06,268.239990
47,VWAPY,RROnly,104.82,162.54,267.36,0.882979,9.171759,0.12,16.53,18.469999
39,SIEGY,RROnly,291.62,240.83,532.45,0.840426,29.420804,0.12,64.01,71.510002
45,TSM,RROnly,416.43,241.07,657.50,0.824468,33.201502,0.11,99.29,110.489998
6,COVTY,RROnly,152.40,191.18,343.58,0.898936,13.161250,0.11,23.78,26.309999
19,HCMLY,RROnly,49.83,39.11,88.94,0.904255,5.509768,0.10,9.13,10.010000
13,ERJ,RROnly,83.83,157.02,240.85,0.845745,4.622069,0.09,11.80,12.890000
3,BASFY,RROnly,48.34,104.97,153.31,0.835106,9.788304,0.09,13.93,15.190000
2,ADDDF,RROnly,1475.33,1710.48,3185.81,0.898936,177.289273,0.09,220.30,241.000000
34,SAFRF,RROnly,835.35,691.27,1526.62,0.851064,59.992297,0.08,108.33,116.589996
24,OZON,RROnly,47.62,210.02,257.64,0.842105,13.064048,0.08,11.60,12.490000
4,BESIY,RROnly,436.59,295.01,731.60,0.856383,17.775067,0.08,73.72,79.790001
30,OTGLY,RROnly,57.49,73.76,131.25,0.925926,6.311794,0.07,9.90,10.600000
12,ERIC,RROnly,50.70,39.82,90.52,0.840426,6.060662,0.06,9.66,10.250000
35,SFTBY,RROnly,176.21,172.00,348.21,0.851064,13.366274,0.06,22.77,24.120001
37,SAP,RROnly,619.03,666.69,1285.72,0.882979,92.889824,0.05,108.47,113.519997
43,TEF,RROnly,16.61,28.96,45.57,0.829787,2.986840,0.04,4.97,5.150000
41,SPOT,RROnly,1933.31,1794.42,3727.73,0.909574,112.965066,0.04,141.28,146.589996
32,PROSF,RROnly,319.39,360.50,679.89,0.931034,50.590185,0.04,56.35,58.740002
18,FTCH,RROnly,300.95,274.92,575.87,0.861446,8.260785,0.03,14.30,14.740000
8,EADSF,RROnly,602.70,587.52,1190.22,0.867021,51.848729,0.03,112.00,115.199997
28,MYTE,RROnly,24.00,57.71,81.71,0.877551,11.528646,0.02,11.76,11.940000
27,LVMUY,RROnly,518.00,346.77,864.78,0.845745,53.982052,0.01,136.35,137.050003
20,HENKY,RROnly,57.84,112.40,170.24,0.914894,13.571456,0.01,16.29,16.430000
10,EDNMF,RROnly,214.29,77.55,291.84,0.478723,27.268742,0.00,49.11,49.160000
22,MELI,RROnly,9058.66,5970.20,15028.86,0.808511,297.462547,-0.00,1160.80,1160.510010
29,NOK,RROnly,36.38,28.44,64.82,0.941489,2.508853,0.00,5.37,5.380000
15,FANUY,RROnly,98.28,82.32,180.60,0.851064,11.358824,0.00,17.29,17.299999
7,DBOEY,RROnly,69.81,37.85,107.66,0.861702,10.212006,-0.02,18.20,17.860001
11,ENGGY,RROnly,34.43,41.94,76.37,0.877660,7.600054,-0.03,11.42,11.120000
46,VALE,RROnly,107.59,52.26,159.85,0.867021,5.521784,-0.04,20.10,19.290001
36,ORAN,RROnly,42.17,35.15,77.32,0.882979,9.064050,-0.04,11.99,11.550000
26,LYB,RROnly,572.18,411.19,983.37,0.920213,33.380373,-0.07,101.53,94.750000
9,EIFZF,RROnly,178.05,106.88,284.93,0.877660,7.720821,-0.08,34.00,31.260000
25,RACE,RROnly,982.54,755.20,1737.74,0.893617,97.410588,-0.08,219.51,202.270004
48,YARIY,RROnly,114.02,64.60,178.61,0.882979,10.522158,-0.12,27.89,24.580000

In [6]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'FLN', 'ECH', 'EWC', 'EWM', 'EWP', 'EWW', 
            'EWZ', 'IDX', 'ILF', 'KEMQ', 'THD', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf3b', mod6, False)[0]

loading model from results/cetf3b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [7]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
12,KEMQ,RROnly,102.41,124.68,227.09,0.888298,15.422687,0.46,17.20,25.090000
4,ECH,RROnly,34.03,87.55,121.58,0.601064,18.391532,0.14,27.84,31.799999
9,EWZ,RROnly,208.07,225.61,433.67,0.920213,19.307419,0.05,37.24,38.990002
2,EWD,RROnly,154.66,111.87,266.52,0.909574,20.613896,0.04,38.21,39.810001
13,THD,RROnly,82.88,111.99,194.86,0.574468,49.757121,0.03,76.31,78.730003
6,EWM,RROnly,57.70,67.73,125.43,0.840426,17.963330,0.02,25.55,26.010000
10,IDX,RROnly,81.93,63.79,145.72,0.898936,10.513860,0.02,21.51,21.920000
11,ILF,RROnly,104.05,83.38,187.43,0.835106,14.717968,0.02,29.34,29.990000
14,TUR,RROnly,122.07,110.71,232.78,0.824468,17.677691,0.02,23.11,23.490000
7,EWP,RROnly,83.94,87.08,171.02,0.909574,17.353378,0.01,25.81,26.030001
15,XCEM,RROnly,86.19,81.35,167.54,0.867021,16.729364,0.01,29.60,29.830000
3,FLN,RROnly,84.65,90.60,175.25,0.893617,9.719224,0.00,20.39,20.480000
8,EWW,RROnly,7.91,39.11,47.02,0.531915,27.015648,-0.02,52.66,51.389999
1,ARGT,RROnly,159.72,168.08,327.80,0.904255,14.660548,-0.03,35.21,33.990002
0,AGT,RROnly,129.54,107.96,237.50,0.893617,12.711294,-0.04,30.14,28.969999
5,EWC,RROnly,102.99,67.83,170.82,0.867021,17.334300,-0.08,39.68,36.590000

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'BGFV', 'CG', 'CMI', 'F', 'FLO',
            'HSII', 'HPE', 'IP', 'IPI', 'JWN', 'KHC', 'M', 'NTR', 'OMC', 
            'PETS', 'RH', 'REGN', 'SWK', 'T', 'TDG', 'TWI',
            'UNH', 'VRTX', 'VZ', 'WDC', 'WHR', 'WSM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val4a', mod7, True)[0]

In [9]:
df7.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
6,F,RROnly,96.77,61.80,158.56,0.914894,4.229889,0.21,15.48,18.700001
14,M,RROnly,150.28,172.79,323.07,0.893617,4.892385,0.17,25.80,30.309999
28,WHR,RROnly,914.40,734.09,1648.49,0.909574,63.445971,0.16,170.55,197.520004
4,CG,RROnly,199.01,125.74,324.75,0.909574,14.217310,0.10,42.72,47.110001
18,RH,RROnly,2823.89,2071.73,4895.62,0.893617,89.094187,0.10,334.53,367.200012
5,CMI,RROnly,810.76,682.15,1492.90,0.893617,100.104791,0.06,195.94,207.619995
29,WSM,RROnly,825.18,632.32,1457.50,0.888298,31.944541,0.05,148.98,155.750000
20,SWK,RROnly,887.54,739.36,1626.90,0.898936,72.523757,0.04,140.32,146.470001
3,BGFV,RROnly,106.28,84.16,190.43,0.851064,1.064145,0.03,16.42,16.940001
10,IP,RROnly,205.68,160.16,365.84,0.936170,23.556989,0.02,47.43,48.340000
2,BAX,RROnly,232.59,319.38,551.97,0.882979,59.944669,0.01,76.44,77.540001
25,VRTX,RROnly,1109.64,872.45,1982.09,0.914894,148.963781,0.01,287.97,289.980011
16,OMC,RROnly,347.29,254.73,602.02,0.898936,44.103962,0.01,78.69,79.510002
21,T,RROnly,67.83,71.22,139.05,0.914894,16.393761,-0.00,19.54,19.469999
0,APO,RROnly,268.62,231.68,500.30,0.872340,20.499715,0.00,57.49,57.689999
8,HSII,RROnly,162.67,239.63,402.30,0.941489,18.094574,-0.00,39.46,39.369999
9,HPE,RROnly,62.87,78.85,141.72,0.914894,7.488370,-0.01,15.38,15.240000
12,JWN,RROnly,298.80,377.58,676.39,0.914894,12.598903,-0.03,28.85,27.879999
23,TWI,RROnly,86.14,68.56,154.70,0.925532,1.328573,-0.03,14.84,14.350000
17,PETS,RROnly,193.15,162.59,355.74,0.909574,14.059393,-0.04,24.40,23.360001
26,VZ,RROnly,127.74,115.24,242.99,0.898936,39.360336,-0.04,53.83,51.840000
19,REGN,RROnly,2691.88,1857.18,4549.06,0.882979,281.965666,-0.05,733.02,696.729980
24,UNH,RROnly,1719.41,966.96,2686.37,0.914894,194.324248,-0.05,534.82,509.220001
27,WDC,RROnly,401.24,440.94,842.19,0.904255,29.994268,-0.05,46.34,43.930000
22,TDG,RROnly,3151.08,2265.32,5416.40,0.877660,254.173286,-0.06,638.48,601.250000
1,BAH,RROnly,419.28,232.53,651.80,0.930851,37.661989,-0.07,87.78,81.910004
13,KHC,RROnly,156.39,230.31,386.69,0.909574,18.910044,-0.07,42.29,39.259998
7,FLO,RROnly,80.17,53.89,134.06,0.877660,16.317363,-0.08,26.78,24.520000
15,NTR,RROnly,412.08,163.03,575.11,0.882979,24.002447,-0.16,112.00,94.160004
11,IPI,RROnly,494.93,273.18,768.11,0.888298,8.296061,-0.25,111.95,83.540001

In [10]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/* /content/drive/MyDrive/colab/results/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +60 -delete -print

sending incremental file list
val4a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

sent 3,215,262 bytes  received 35 bytes  6,430,594.00 bytes/sec
total size is 48,180,328  speedup is 14.98