In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

Todos:

 

1.   Load previously saved model before training
2.   Allow eval only without test/train spliting
3.   Incremental data load
4.    Add S&P, QQQ etc to the model
5. Save model to google drive

In [4]:
import runml.pipeline
from runml import pipeline,findata
#from importlib import reload
# reload(runml.pipeline)

In [ ]:
findata.EPOCHS=200
tickers = [
           'ABNB', 'AFRM', 'AHT','AI', 'AMBA', 'AMSC', 'APO', 'ASTR', 'ATOM',
           'BGFV', 'BILL', 'BKKT', 'BMBL',
           'CBNT', 'CFLT', 'CLOV', 'CRCT', 'CRWD',
           'DDOG', 'DNMR', 'DOCN', 'DOCU', 'ERJ', 'ESEA', 'EVGO',
           'FSLY', 'FTCH', 'GLBE', 'GLOB', 'GOGO', 'HIVE', 'HSII',
           'ILAL', 'INMD', 'JOBY', 'JWN', 'KULR', 'LYB',
           'MDB',  'MELI', 'MNDY', 'MPWR', 'MQ', 'MSCI',
           'MTCH', 'MYTE', 'NARI', 'NEPH', 'NET', 'NVAX', 'OKTA', 'ONDS',
           'PAR', 'PETS', 'PTON', 'RACE','RBLX',
           'SFT', 'SFTBY', 'SHOP', 'SNOW',
           'SPOT', 'STEM', 'STNE', 'SWAV', 'TDOC', 'TOST','TWLO', 'TWTR',
           'U','UBER','ULH', 'VRAR','WISH', 'Z', 'ZM']
mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df = pipeline.runModelCombined(tickers, 'ipos2b', mod, False)

In [11]:
df.sort_values('Gain', ascending=False)

   Ticker    Name    Buy   Sell  Total  Gain    Last  Predicted
19   DNMR  RROnly  10.32  10.55  20.87  0.79    3.99       7.13
9    BGFV  RROnly  18.91  18.55  37.47  0.66   17.96      29.73
49   NVAX  RROnly  26.82  39.82  66.64  0.39   83.08     115.40
1    AFRM  RROnly   4.19   4.41   8.60  0.30   42.63      55.59
75     ZM  RROnly   9.22   7.35  16.57  0.29  142.80     184.09
..    ...     ...    ...    ...    ...   ...     ...        ...
29   GOGO  RROnly  17.22  14.82  32.05 -0.34   13.12       8.61
22    ERJ  RROnly   7.96   7.94  15.90 -0.34   15.35      10.15
13   CBNT  RROnly  13.29  25.85  39.14 -0.40    0.02       0.01
23   ESEA  RROnly  15.65  13.85  29.50 -0.43   28.75      16.38
11   BKKT  RROnly  -0.03   0.34   0.31 -0.43    7.41       4.21

[76 rows x 8 columns]

In [ ]:
findata.EPOCHS=200
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'EEM', 'GBTC', 'GLD',
            'ICLN', 'IPO', 'IPOS', 'IWM', 'JETS', 'KEMQ',
            'MGK', 'MGV', 'MOAT', 'MTUM',
            'QQQ', 'SLV','SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME' ]
mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf2b', mod, False)

In [13]:
df1.sort_values('Gain', ascending=False)

   Ticker    Name    Buy   Sell  Total  Gain    Last  Predicted
1    ARKW  RROnly   6.28   7.47  13.75  0.23   94.64     116.44
0    ARKK  RROnly   6.52   8.00  14.52  0.12   73.54      82.64
21    VNQ  RROnly   2.71   2.70   5.41  0.10  103.37     113.40
6    ICLN  RROnly   6.61   5.58  12.19  0.09   18.55      20.18
8    IPOS  RROnly   3.32   3.15   6.47  0.09   22.73      24.86
7     IPO  RROnly   5.59   6.50  12.09  0.08   47.92      51.56
11   KEMQ  RROnly   4.36   3.85   8.21  0.06   21.46      22.80
2    DAPP  RROnly   1.59   2.17   3.76  0.05   15.26      15.99
32    XLU  RROnly   3.14   2.30   5.44  0.05   66.70      70.33
4    GBTC  RROnly  18.11  19.14  37.25  0.01   31.23      31.67
18    SMH  RROnly   4.51   6.70  11.21 -0.00  275.48     274.44
3     EEM  RROnly   3.38   3.38   6.76  0.00   49.22      49.22
9     IWM  RROnly   3.90   4.32   8.22  0.00  204.45     204.50
33    XLV  RROnly   2.14   3.04   5.19 -0.01  130.57     129.21
5     GLD  RROnly   2.13   1.90   4.03 -0.02  172.68     169.37
20    SPY  RROnly   2.56   3.21   5.76 -0.02  445.59     438.52
28    XLF  RROnly   4.39   3.35   7.74 -0.02   40.28      39.51
16    QQQ  RROnly   3.28   3.58   6.86 -0.02  354.34     348.17
19   SMOG  RROnly   6.50   5.89  12.39 -0.02  137.42     134.92
27    XLE  RROnly   7.48   5.13  12.61 -0.03   67.79      65.90
30    XLK  RROnly   2.98   4.50   7.48 -0.03  157.98     154.01
12    MGK  RROnly   3.24   3.97   7.21 -0.04  232.52     222.16
25    XLB  RROnly   2.76   3.45   6.21 -0.04   84.63      81.19
15   MTUM  RROnly   2.60   4.17   6.76 -0.04  165.50     158.92
31   XLRE  RROnly   3.41   2.37   5.77 -0.05   45.31      43.10
22     VT  RROnly   2.64   2.52   5.16 -0.05  102.46      97.66
26    XLC  RROnly   3.33   3.35   6.67 -0.05   70.07      66.59
34    XLY  RROnly   3.50   3.07   6.57 -0.06  185.31     175.08
23    VTI  RROnly   2.44   2.97   5.41 -0.06  225.51     212.35
14   MOAT  RROnly   2.72   2.54   5.25 -0.07   73.84      68.74
13    MGV  RROnly   2.45   2.63   5.08 -0.08  106.06      97.40
35    XME  RROnly   5.38   5.82  11.19 -0.09   48.88      44.26
29    XLI  RROnly   3.18   4.20   7.38 -0.09  100.69      92.04
10   JETS  RROnly   5.36   6.29  11.64 -0.10   23.38      21.09
24   WDIV  RROnly   2.35   3.04   5.39 -0.12   68.10      60.24
17    SLV  RROnly   5.96   4.58  10.54 -0.14   21.50      18.41