In [ ]:
pip install -q yahoo_fin

In [ ]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [ ]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [ ]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
import numpy as np
# profit factor 2 = 50% of predicted gain due to early profit taking
def addAlloc(df, stop_loss, profit_factor=2):
  df['Alloc'] = df['Accuracy']/stop_loss - (1-df['Accuracy'])*profit_factor/abs(df['Gain'])
  df['Alloc'] = np.where(df['Alloc'] < 0, 0, df['Alloc'])
  return df

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FSLY', 'FTCH', 'GFS', 'GLBE', 'GOGO',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'OLED', 'OSTK', 'PAR', 'PD', 'PTON', 'RBLX',  'SNOW',
            'SPLK', 'SPOT','STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos6b', mod, True, loss=lossfn)[0]

In [ ]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
19,FTCH,RROnly,347.67,259.47,607.14,0.887006,7.939256,0.31,9.43,12.330000
50,TWTR,RROnly,393.82,370.21,764.03,0.893617,23.075707,0.16,39.41,45.820000
55,ZM,RROnly,2097.80,2582.99,4680.79,0.878378,71.712765,0.07,122.64,130.649994
25,MAXR,RROnly,294.68,307.72,602.40,0.941489,4.813628,0.06,27.61,29.150000
6,BMBL,RROnly,91.11,195.82,286.93,0.842105,17.826093,0.02,31.98,32.470001
17,EXPE,RROnly,814.70,1067.46,1882.16,0.904255,49.139063,0.01,102.34,103.180000
8,CRCT,RROnly,43.42,115.61,159.03,0.941176,7.065295,0.01,6.58,6.650000
29,MQ,RROnly,20.60,106.99,127.59,0.900000,7.253239,0.01,10.11,10.230000
24,LYFT,RROnly,259.14,407.96,667.10,0.907285,15.132160,0.01,16.34,16.500000
20,GFS,RROnly,101.67,69.46,171.13,1.000000,44.878042,-0.02,45.89,45.070000
14,DOCS,RROnly,34.92,230.29,265.21,0.842105,31.424926,-0.02,41.50,40.790001
37,PAR,RROnly,442.45,417.32,859.77,0.882979,12.399959,-0.03,38.63,37.430000
47,TOST,RROnly,13.37,122.70,136.07,0.923077,13.730171,-0.04,15.15,14.560000
42,SPLK,RROnly,1139.64,1368.02,2507.66,0.898936,89.144916,-0.04,97.86,93.940002
32,NET,RROnly,749.29,631.31,1380.60,0.898438,17.517080,-0.04,51.84,49.810001
18,FSLY,RROnly,558.58,663.84,1222.42,0.868056,12.423267,-0.04,13.20,12.730000
0,ABNB,RROnly,364.32,633.87,998.19,0.846154,97.734068,-0.04,103.51,99.070000
44,STEM,RROnly,87.73,163.16,250.89,0.851351,7.511997,-0.07,8.40,7.780000
22,GOGO,RROnly,109.85,98.73,208.59,0.877660,1.821465,-0.07,16.53,15.450000
31,MTCH,RROnly,856.73,725.69,1582.42,0.893617,36.141788,-0.07,78.45,72.709999
11,DBX,RROnly,138.32,157.94,296.26,0.920213,16.118035,-0.07,22.62,21.020000
4,AMBA,RROnly,1036.35,963.06,1999.41,0.882979,35.134133,-0.08,72.86,67.169998
39,PTON,RROnly,782.99,582.71,1365.70,0.952381,12.318360,-0.08,11.01,10.180000
28,MPWR,RROnly,2678.81,1595.91,4274.72,0.861702,110.101292,-0.09,419.41,380.589996
30,MXL,RROnly,360.28,259.82,620.10,0.898936,9.251994,-0.10,34.88,31.230000
36,OSTK,RROnly,549.61,776.07,1325.68,0.835106,5.022090,-0.10,33.46,30.129999
10,DASH,RROnly,260.47,881.68,1142.15,0.892308,63.752552,-0.10,74.11,66.370003
2,AFRM,RROnly,418.26,423.69,841.95,0.918033,19.113639,-0.11,23.28,20.709999
52,UBER,RROnly,219.88,310.41,530.29,0.882759,16.051522,-0.12,23.03,20.200001
43,SPOT,RROnly,1525.16,1923.73,3448.89,0.946809,97.031444,-0.12,107.00,93.769997
46,TDOC,RROnly,997.24,1541.07,2538.31,0.904255,33.091364,-0.12,37.17,32.880001
45,SWAV,RROnly,1057.89,644.36,1702.25,0.863636,26.936505,-0.12,197.69,174.649994
34,NVCR,RROnly,860.81,1137.54,1998.35,0.888298,32.820921,-0.14,75.60,65.019997
21,GLBE,RROnly,59.42,196.82,256.24,0.818182,19.572443,-0.14,23.10,19.830000
1,ACLS,RROnly,313.77,310.35,624.12,0.851064,14.749708,-0.15,58.20,49.380001
3,AI,RROnly,27.32,183.38,210.70,0.753846,16.104819,-0.15,19.07,16.250000
41,SNOW,RROnly,831.40,1359.07,2190.47,0.883117,120.663297,-0.16,151.53,127.139999
38,PD,RROnly,265.18,326.33,591.51,0.939597,14.088872,-0.18,28.48,23.420000
27,MNDY,RROnly,222.47,1180.30,1402.77,0.850000,103.039851,-0.18,122.36,100.209999
53,Z,RROnly,725.79,797.86,1523.65,0.882979,27.735665,-0.19,35.46,28.889999
9,CRWD,RROnly,1216.91,1326.39,2543.30,0.879433,38.158644,-0.19,184.99,149.410004
48,TTD,RROnly,515.60,549.78,1065.38,0.877660,10.565357,-0.19,49.49,39.910000
54,ZEN,RROnly,751.36,929.25,1680.61,0.952128,50.884772,-0.21,74.17,58.320000
5,BILL,RROnly,1578.28,1215.63,2793.91,0.913043,36.397512,-0.22,130.48,101.370003
7,CFLT,RROnly,100.92,232.12,333.04,0.947368,20.061800,-0.23,25.28,19.440001
40,RBLX,RROnly,206.10,447.00,653.10,0.943396,27.294963,-0.24,36.42,27.520000
16,ESTC,RROnly,1116.84,780.95,1897.79,0.920000,47.175499,-0.25,77.58,58.060001
13,DOCN,RROnly,317.03,199.20,516.23,0.941176,33.312515,-0.26,47.75,35.450001
49,TWLO,RROnly,1729.29,1811.90,3541.19,0.882979,64.656377,-0.26,99.12,73.550003
15,DOCU,RROnly,1459.63,1238.53,2698.16,0.877660,43.376071,-0.27,68.75,50.020000
23,INMD,RROnly,326.90,286.28,613.18,0.857143,8.230708,-0.28,24.14,17.299999
51,U,RROnly,383.00,819.60,1202.60,0.935065,33.713178,-0.29,46.81,33.389999
35,OKTA,RROnly,1416.37,1556.08,2972.45,0.909574,52.501874,-0.30,101.26,71.129997
33,NVAX,RROnly,1618.64,1779.88,3398.52,0.829787,9.444414,-0.30,51.67,35.930000
26,MDB,RROnly,3235.59,2452.44,5688.02,0.909574,61.134107,-0.31,303.09,209.279999
12,DDOG,RROnly,838.65,516.70,1355.35,0.921260,31.052749,-0.33,107.48,72.239998

In [ ]:
findata.EPOCHS=200
# https://seekingalpha.com/etfs-and-funds/etf-tables/sectors
tickers1 = ['ARKF', 'ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX','GBTC', 
            'ICLN', 'IJR', 'IPO', 'IXC', 'IXN', 'IXP', 'IWM', 'IYZ',
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'ONLN', 'QQQ', 'SMH', 'SMOG', 'SPY', 'TDIV',
            'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1, res = pipeline.runModelCombined(tickers1, 'etf6b', mod, False)
# !cp -r results /content/drive/MyDrive/colab

loading model from results/etf6b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
detail = res['ARKK'].final_df

mindate = detail['date'].min()
totalday = (detail['date'].max()-mindate).days
detail['diff'] = ((detail['date']-mindate).dt.days+1)/totalday
detail['sum_profit'] = (detail['buy_profit'] + detail['sell_profit'])/detail['adjclose']
detail['predicted_profit'] = ((detail['adjclose_15']-detail['adjclose'])/detail['adjclose']).abs()
profit_df = detail[detail['sum_profit'] > 0][['sum_profit', 'predicted_profit']]
average_profit = (profit_df['sum_profit']).mean()
excess_profit = (profit_df['sum_profit'] - profit_df['predicted_profit']).mean()
avergage_loss = -detail[detail['sum_profit'] < 0]['sum_profit'].mean()
detail['has_profit'] = np.where(detail['sum_profit'] > 0, 1 , 0)

accuracy = detail['has_profit'].mean()
weight_accuracy = (detail['has_profit']*detail['diff']).sum()/detail['diff'].sum()
(accuracy, weight_accuracy, average_profit, excess_profit, average_loss)

(0.9414893617021277,
 0.9609749956726303,
 0.09136171477381604,
 0.0018685215708016485,
 0.011578703765508486)

In [ ]:

import numpy as np
df = df1
df['Alloc'] = df['Accuracy']/0.33 - (1-df['Accuracy'])*2/abs(df['Gain']) # 50% gain bc profit taking
df['Alloc'] = np.where(df['Alloc'] < 0, 0, df['Alloc'])
df.sort_values('Alloc', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted,Alloc
0,ARKF,RROnly,166.17,291.01,457.18,0.931250,15.427774,0.26,15.85,19.950001,2.293124
1,ARKK,RROnly,607.70,579.11,1186.81,0.941489,34.845250,0.18,41.22,48.619999,2.202880
3,DAPP,RROnly,36.13,95.60,131.73,0.918367,4.876535,0.26,4.46,5.610000,2.154988
11,IPO,RROnly,301.17,277.14,578.31,0.936170,22.236298,-0.08,30.87,28.500000,1.241135
2,ARKW,RROnly,687.02,645.76,1332.78,0.914894,39.524621,0.10,50.29,55.270000,1.070277
22,ONLN,RROnly,288.47,363.91,652.39,0.959770,28.122513,0.04,33.54,34.970001,0.896900
17,JETS,RROnly,109.06,173.82,282.89,0.909574,12.255820,0.07,16.83,18.000000,0.172700
32,XITK,RROnly,888.34,1038.88,1927.22,0.930851,78.872878,-0.05,109.63,104.199997,0.054803
34,XLC,RROnly,174.56,231.51,406.07,0.904255,38.446555,-0.01,54.82,54.509998,0.000000
28,VNQ,RROnly,321.22,240.86,562.08,0.893617,53.707320,-0.02,92.75,90.449997,0.000000
29,VT,RROnly,259.33,265.55,524.88,0.968085,52.681105,-0.00,85.87,85.769997,0.000000
30,VTI,RROnly,656.55,586.88,1243.43,0.946809,109.191515,-0.01,190.61,189.350006,0.000000
31,WDIV,RROnly,136.70,182.52,319.23,0.925532,36.957140,-0.01,61.83,61.049999,0.000000
33,XLB,RROnly,249.84,242.69,492.53,0.888298,37.398421,-0.02,74.12,72.589996,0.000000
36,XLF,RROnly,136.42,111.54,247.96,0.920213,17.190186,-0.02,31.88,31.299999,0.000000
35,XLE,RROnly,301.07,295.56,596.63,0.909574,21.835994,0.00,72.58,72.629997,0.000000
26,SPY,RROnly,1124.85,774.57,1899.42,0.930851,218.207037,-0.00,381.24,380.059998,0.000000
37,XLI,RROnly,328.66,285.44,614.10,0.909574,47.844956,0.01,88.10,89.180000,0.000000
38,XLK,RROnly,539.87,391.69,931.56,0.925532,56.729743,-0.02,127.41,125.269997,0.000000
39,XLRE,RROnly,142.43,93.00,235.43,0.925532,24.040337,-0.02,41.59,40.639999,0.000000
40,XLU,RROnly,252.38,139.94,392.33,0.893617,42.357433,-0.06,71.85,67.760002,0.000000
41,XLV,RROnly,354.73,234.86,589.60,0.920213,72.920191,-0.03,129.68,125.510002,0.000000
42,XLY,RROnly,606.80,357.75,964.55,0.893617,87.375107,-0.00,140.01,139.889999,0.000000
43,XME,RROnly,243.27,176.40,419.66,0.925532,14.587255,0.00,43.61,43.680000,0.000000
44,XNTK,RROnly,660.21,340.11,1000.33,0.941489,54.730159,-0.03,102.68,99.389999,0.000000
27,TDIV,RROnly,154.70,128.42,283.12,0.914894,29.329284,0.01,49.70,50.360001,0.000000
23,QQQ,RROnly,1433.14,806.07,2239.21,0.962766,142.846641,-0.01,282.13,279.690002,0.000000
25,SMOG,RROnly,765.30,442.37,1207.66,0.898936,52.158004,-0.05,126.24,120.419998,0.000000
12,IXC,RROnly,145.88,163.35,309.23,0.925532,11.865793,-0.03,34.09,32.959999,0.000000
4,DIA,RROnly,858.56,810.67,1669.23,0.888298,181.042621,0.01,310.85,315.230011,0.000000
5,DTEC,RROnly,184.55,172.70,357.25,0.973404,22.613274,-0.01,33.59,33.290001,0.000000
6,EEM,RROnly,146.41,125.38,271.79,0.925532,29.643538,0.04,39.85,41.310001,0.000000
7,FPX,RROnly,408.22,428.08,836.30,0.898936,55.942313,-0.04,83.13,80.129997,0.000000
8,GBTC,RROnly,315.93,333.16,649.09,0.882979,4.712017,0.02,12.25,12.480000,0.000000
9,ICLN,RROnly,120.99,86.75,207.74,0.914894,7.766303,0.05,19.32,20.299999,0.000000
10,IJR,RROnly,313.24,303.59,616.83,0.904255,48.312103,-0.01,93.28,92.500000,0.000000
13,IXN,RROnly,218.53,130.15,348.68,0.914894,22.308704,0.03,45.57,46.830002,0.000000
24,SMH,RROnly,1079.17,757.40,1836.57,0.904255,81.879146,0.04,195.99,204.179993,0.000000
14,IXP,RROnly,196.42,243.41,439.83,0.952128,45.807356,-0.02,61.56,60.509998,0.000000
15,IWM,RROnly,747.13,732.99,1480.12,0.914894,99.052904,0.00,171.41,171.639999,0.000000
16,IYZ,RROnly,79.98,90.39,170.38,0.898936,21.398741,-0.04,25.41,24.420000,0.000000
18,MGK,RROnly,658.97,611.73,1270.70,0.941489,98.843666,-0.01,183.42,181.130005,0.000000
19,MGV,RROnly,250.83,191.10,441.93,0.920213,54.138258,0.00,97.14,97.379997,0.000000
20,MOAT,RROnly,217.36,148.29,365.65,0.957447,37.305236,0.01,64.38,65.250000,0.000000
21,MTUM,RROnly,509.78,525.30,1035.08,0.920213,89.733038,-0.00,137.83,137.419998,0.000000
45,XSW,RROnly,569.17,644.70,1213.86,0.914894,70.888854,-0.06,112.88,106.099998,0.000000

In [ ]:
findata.EPOCHS=200
# exclude = ['GTSWF', 'CBNT', 'ILAL']
tickers3 = [ 'AIRI', 'APRN', 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGSF', 'BLNK', 'CLOV', 
            'DMTK', 'EVGO', 'EXPR', 'GBOX',  'HIVE', 
            'INLX', 'JOBY',  'KULR', 'LILM', 'MMMB', 'MTTR', 'MULN',
            'NEPH', 'OMQS', 'ONDS', 'OPEN', 'OTLY',
            'REAL', 'RIDE', 'RIG', 'SFIX', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols5b', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
# df3.sort_values('Gain', ascending=False)
import numpy as np
df = df3
df['Alloc'] = df['Accuracy']/0.33 - (1-df['Accuracy'])*2/abs(df['Gain']) # 50% gain bc profit taking
df['Alloc'] = np.where(df['Alloc'] < 0, 0, df['Alloc'])
df.sort_values('Alloc', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted,Alloc
27,OTLY,RROnly,7.77,51.70,59.47,0.977273,3.225083,0.07,3.64,3.89,2.312082
31,SFIX,RROnly,453.81,451.92,905.73,0.877660,6.840117,0.60,4.90,7.84,2.251773
28,REAL,RROnly,120.78,181.92,302.71,0.913669,2.922589,0.30,2.47,3.22,2.193155
23,NEPH,RROnly,44.41,65.32,109.73,0.877660,1.710692,0.37,1.50,2.06,1.998275
5,ASTR,RROnly,54.64,79.48,134.12,0.906667,1.745602,0.19,1.33,1.58,1.765019
3,AHT,RROnly,783.37,2105.42,2888.79,0.675532,21.768535,1.99,5.98,17.90,1.720968
29,RIDE,RROnly,131.38,134.17,265.55,0.718121,2.108578,0.54,1.60,2.46,1.132127
22,MULN,RROnly,94.02,118.03,212.05,0.851064,1.015783,0.18,1.08,1.27,0.924135
24,OMQS,RROnly,94.83,81.18,176.01,0.904255,3.316754,-0.10,5.95,5.37,0.825274
14,GBOX,RROnly,99.26,78.37,177.63,0.686170,0.471320,0.49,1.07,1.59,0.798366
18,KULR,RROnly,25.83,24.19,50.02,0.818182,0.884668,-0.19,1.53,1.25,0.565463
30,RIG,RROnly,32.47,73.30,105.77,0.835106,0.937452,-0.15,3.33,2.84,0.332044
35,WISH,RROnly,8.39,71.45,79.84,0.723077,1.786000,0.29,1.63,2.10,0.281328
33,SFT,RROnly,14.47,59.54,74.00,0.685315,1.071896,0.33,0.87,1.16,0.169527
13,EXPR,RROnly,44.84,63.12,107.96,0.851064,0.797988,0.06,1.90,2.02,0.000000
25,ONDS,RROnly,26.41,36.85,63.26,0.820896,4.490688,-0.13,5.50,4.80,0.000000
34,VRAR,RROnly,41.38,21.69,63.07,0.868421,3.548096,-0.08,4.08,3.77,0.000000
32,STEM,RROnly,130.54,164.83,295.37,0.893333,7.340947,0.01,7.15,7.22,0.000000
2,AUGX,RROnly,3.10,18.70,21.80,0.803922,1.915159,-0.08,1.98,1.82,0.000000
4,AMSC,RROnly,138.81,144.37,283.18,0.856383,5.117116,0.08,4.86,5.27,0.000000
6,ATOM,RROnly,247.78,199.05,446.83,0.797872,3.308049,-0.11,9.30,8.30,0.000000
7,BKKT,RROnly,24.91,127.68,152.59,0.681159,3.018631,0.28,2.17,2.78,0.000000
8,BGSF,RROnly,81.95,137.81,219.76,0.845745,6.298811,-0.11,12.33,10.92,0.000000
26,OPEN,RROnly,100.85,153.05,253.90,0.900000,5.213998,0.05,5.11,5.37,0.000000
9,BLNK,RROnly,316.95,199.01,515.95,0.739362,2.475338,-0.01,15.94,15.73,0.000000
12,EVGO,RROnly,13.16,39.90,53.06,0.797101,6.664612,0.13,5.63,6.38,0.000000
10,CLOV,RROnly,68.80,65.53,134.32,0.846154,2.541438,0.07,2.25,2.41,0.000000
11,DMTK,RROnly,263.52,280.73,544.25,0.686170,5.888000,0.03,5.52,5.67,0.000000
21,MTTR,RROnly,17.83,12.94,30.77,0.576271,6.723769,0.08,3.62,3.91,0.000000
20,MMMB,RROnly,1.03,5.45,6.48,0.916667,1.187455,0.05,1.40,1.47,0.000000
19,LILM,RROnly,-5.84,25.08,19.24,0.676471,3.071667,0.09,2.40,2.62,0.000000
1,APRN,RROnly,106.34,160.23,266.57,0.739362,3.492829,0.12,4.10,4.59,0.000000
17,JOBY,RROnly,13.12,34.14,47.26,0.728571,4.031667,-0.01,4.90,4.84,0.000000
16,INLX,RROnly,59.96,72.00,131.96,0.776596,0.376553,0.02,5.00,5.08,0.000000
15,HIVE,RROnly,116.55,120.80,237.35,0.750000,0.847657,0.02,3.11,3.16,0.000000
0,AIRI,RROnly,6.56,9.02,15.58,0.680851,0.778112,0.05,0.67,0.70,0.000000

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CAT', 'CRM', 'COST', 'CSCO', 'DE', 'DHR', 'DIS',
            'GOOGL', 'FB', 'FDX',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'QCOM', 'SBUX', 'TMO', 'TSLA', 'UNH']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df4 = pipeline.runModelCombined(tickers4, 'mcap-7a', mod4, False)[0]

loading model from results/mcap-7a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
# df4.sort_values('Gain', ascending=False)
import numpy as np
df = df4
# stop loss 14$ + 3% treasury
df['Alloc'] = df['Accuracy']/0.17 - (1-df['Accuracy'])*2/abs(df['Gain'])
df['Alloc'] = np.where(df['Alloc'] < 0, 0, df['Alloc'])
df.sort_values('Alloc', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted,Alloc
25,NVDA,RROnly,1222.61,1229.28,2451.89,0.952128,35.083753,0.13,145.23,164.500000,4.864253
3,AMD,RROnly,573.53,492.43,1065.96,0.888298,17.607629,0.22,73.67,89.779999,4.209808
18,FDX,RROnly,1217.48,1333.69,2551.17,0.962766,90.740368,0.05,223.61,234.580002,4.173967
0,AAPL,RROnly,669.56,579.17,1248.72,0.957447,35.852003,-0.04,138.93,133.649994,3.504380
15,DIS,RROnly,605.09,979.44,1584.53,0.957447,87.398345,-0.04,96.14,92.010002,3.504380
27,ORCL,RROnly,251.56,240.33,491.89,0.914894,39.115566,-0.09,70.87,64.250000,3.490474
31,TMO,RROnly,2260.98,1429.13,3690.11,0.930851,212.001077,-0.06,548.27,516.150024,3.170630
24,NKE,RROnly,567.26,644.48,1211.73,0.930851,63.014844,-0.06,101.18,94.849998,3.170630
19,HD,RROnly,1347.20,950.23,2297.43,0.930851,147.966272,-0.06,279.08,263.450012,3.170630
16,GOOGL,RROnly,9210.52,7441.63,16652.15,0.936170,1007.772963,0.05,2174.75,2276.719971,2.953692
7,BKNG,RROnly,12087.09,11244.74,23331.83,0.941489,1176.459886,0.04,1767.98,1847.489990,2.612641
6,BA,RROnly,1140.85,2881.36,4022.21,0.925532,99.264680,0.05,139.84,147.009995,2.465582
20,INTC,RROnly,260.51,303.22,563.73,0.946809,36.889978,0.03,36.34,37.389999,2.023363
30,SBUX,RROnly,443.91,318.72,762.63,0.914894,47.956451,-0.05,79.26,75.160004,1.977472
26,NOW,RROnly,2758.67,2322.36,5081.03,0.898936,164.254322,-0.06,484.36,457.709991,1.919065
17,FB,RROnly,1480.17,1083.12,2563.29,0.941489,127.340053,0.03,160.03,164.529999,1.637463
14,DHR,RROnly,1095.30,640.94,1736.24,0.888298,96.158534,-0.06,258.05,243.669998,1.501877
11,COST,RROnly,1734.48,998.94,2733.42,0.851064,184.175940,-0.08,485.76,445.779999,1.282854
9,CAT,RROnly,844.01,833.98,1677.99,0.909574,89.174736,0.04,178.29,184.600006,0.829161
23,MSFT,RROnly,1130.07,652.73,1782.80,0.920213,93.713352,-0.03,259.58,252.009995,0.093867
12,CSCO,RROnly,238.98,242.08,481.06,0.898936,31.481806,-0.00,42.60,42.560001,0.000000
13,DE,RROnly,1294.61,1416.88,2711.49,0.898936,111.411895,0.02,301.63,306.290009,0.000000
21,IBM,RROnly,544.69,514.09,1058.78,0.946809,81.951829,-0.01,141.12,139.839996,0.000000
22,ISRG,RROnly,1232.76,949.58,2182.34,0.893617,125.925919,-0.04,206.10,197.630005,0.000000
10,CRM,RROnly,1182.31,927.34,2109.65,0.925532,123.372324,-0.00,168.20,167.550003,0.000000
1,ACN,RROnly,1054.19,1211.36,2265.55,0.930851,131.222974,0.01,280.65,283.059998,0.000000
8,BRK-B,RROnly,990.01,530.67,1520.68,0.909574,164.233672,0.01,277.50,279.190002,0.000000
5,AVGO,RROnly,2277.51,1702.04,3979.55,0.898936,159.366662,-0.02,477.84,467.959991,0.000000
28,PYPL,RROnly,1123.15,1321.21,2444.36,0.946809,73.193233,-0.00,71.40,71.279999,0.000000
29,QCOM,RROnly,641.65,725.79,1367.45,0.920213,46.957250,-0.02,123.53,121.529999,0.000000
4,AMZN,RROnly,793.25,575.61,1368.85,0.909574,68.981753,0.02,109.56,111.510002,0.000000
2,ADBE,RROnly,2589.47,2492.93,5082.40,0.941489,211.246729,0.00,368.48,369.619995,0.000000
32,TSLA,RROnly,5168.72,3716.94,8885.65,0.808511,50.923201,-0.05,681.79,649.830017,0.000000
33,UNH,RROnly,1604.20,1243.26,2847.46,0.909574,192.979091,-0.03,517.40,503.750000,0.000000

In [ ]:
findata.EPOCHS=200
tickers5 = ['AEXAF', 'ALSMY', 'AMSSY', 'ASML', 'ADDDF', 'ADYEY',
            'BASFY', 'BESIY', 'COTY', 'COVTY', 'CX',
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'HCMLY', 'HENKY', 'HMC', 'JMIA', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'NOK', 'OTGLY', 'PROSF', 'RNMBF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE',
            'TEAM', 'TEF', 'THQQF', 'TRYIY', 'TSM',
            'VALE', 'VNT', 'VWAPY', 'YARIY', 'ZURVY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock6a', mod5, False)[0]

loading model from results/gstock6a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
20,DNMR,RROnly,184.59,212.16,396.75,0.922222,4.284006,0.34,4.04,5.430000
1,ALSMY,RROnly,24.57,29.38,53.94,0.930851,1.968985,0.11,2.76,3.070000
33,OTGLY,RROnly,56.93,120.63,177.55,0.827586,6.604929,0.09,6.14,6.680000
36,RYCEF,RROnly,20.49,62.35,82.84,0.851064,1.101015,0.09,1.17,1.280000
27,OZON,RROnly,57.17,193.43,250.60,0.812500,12.652691,0.09,11.60,12.660000
6,BASFY,RROnly,67.11,78.29,145.40,0.909574,9.010555,0.08,13.94,15.080000
24,JMIA,RROnly,-13.57,35.43,21.86,0.589041,6.419047,0.07,7.63,8.200000
48,VNT,RROnly,40.58,64.35,104.93,0.876712,22.594621,0.06,26.99,28.730000
38,SFTBY,RROnly,184.40,189.60,374.00,0.930851,13.281972,0.06,20.74,21.940001
28,RACE,RROnly,1084.76,817.92,1902.68,0.920213,95.890204,0.05,193.27,202.309998
22,HCMLY,RROnly,49.66,47.37,97.03,0.936170,5.496641,0.05,9.92,10.400000
39,ORAN,RROnly,37.86,47.69,85.55,0.914894,8.739891,0.04,11.92,12.390000
23,HENKY,RROnly,78.80,79.12,157.92,0.930851,13.878640,0.03,16.59,17.090000
21,GLOB,RROnly,1149.00,1235.76,2384.76,0.861702,51.973642,0.01,199.76,201.229996
35,RNMBF,RROnly,102.29,-121.43,-19.13,0.303191,80.417524,0.01,198.35,200.130005
37,SAFRF,RROnly,760.83,763.68,1524.50,0.888298,58.534115,0.01,101.83,103.220001
15,ENGGY,RROnly,41.09,37.20,78.29,0.936170,7.567701,0.00,11.56,11.600000
19,FANUY,RROnly,106.34,121.31,227.65,0.946809,11.662837,-0.00,16.23,16.180000
2,AMSSY,RROnly,5.60,56.00,61.61,0.558511,6.987510,0.00,5.80,5.820000
26,NXPI,RROnly,1023.67,439.21,1462.88,0.888298,65.624969,0.00,180.01,180.399994
32,NOK,RROnly,31.19,35.62,66.81,0.952128,2.482591,-0.01,5.00,4.960000
34,PROSF,RROnly,365.02,369.86,734.89,0.951220,43.885099,-0.01,52.60,52.130001
51,ZURVY,RROnly,88.97,50.05,139.02,0.643617,24.608700,-0.01,45.16,44.830002
31,MYTE,RROnly,37.32,80.59,117.91,0.964912,9.954960,-0.02,12.01,11.720000
25,MELI,RROnly,10400.70,7961.75,18362.45,0.909574,285.241168,-0.03,803.99,778.479980
12,EADSF,RROnly,654.75,561.65,1216.40,0.888298,52.064469,-0.03,120.24,116.970001
11,DBOEY,RROnly,72.07,57.61,129.68,0.914894,9.976040,-0.03,16.64,16.110001
4,ADDDF,RROnly,1749.27,1842.48,3591.75,0.936170,172.479922,-0.04,195.00,187.669998
16,ERIC,RROnly,48.26,61.04,109.30,0.930851,6.070209,-0.04,8.22,7.850000
14,EDNMF,RROnly,163.38,170.73,334.11,0.452128,28.185202,-0.04,49.11,47.279999
43,TEAM,RROnly,1541.49,1397.72,2939.21,0.851064,65.400144,-0.04,190.27,183.389999
50,YARIY,RROnly,98.90,77.96,176.86,0.920213,9.794649,-0.05,26.76,25.340000
49,VWAPY,RROnly,147.52,63.48,211.00,0.909574,8.635379,-0.05,16.84,15.980000
30,LVMUY,RROnly,590.41,411.52,1001.93,0.925532,53.086694,-0.05,131.42,124.519997
47,VALE,RROnly,105.62,71.18,176.79,0.888298,5.616442,-0.05,18.54,17.670000
45,TRYIY,RROnly,51.66,61.04,112.70,0.888298,7.530422,-0.05,10.31,9.750000
7,BESIY,RROnly,423.78,323.98,747.76,0.898936,16.342846,-0.06,60.58,56.930000
40,SAP,RROnly,478.86,604.18,1083.04,0.930851,89.482000,-0.06,100.86,94.800003
0,AEXAF,RROnly,-57.10,284.52,227.41,0.558511,31.069204,-0.06,28.25,26.690001
17,ERJ,RROnly,97.78,120.21,217.99,0.898936,4.466958,-0.06,10.92,10.240000
8,COTY,RROnly,93.38,99.46,192.83,0.920213,2.860766,-0.06,7.25,6.790000
44,TEF,RROnly,23.64,28.05,51.69,0.914894,2.874826,-0.08,5.04,4.630000
46,TSM,RROnly,503.35,296.04,799.39,0.867021,32.992276,-0.09,93.11,84.580002
18,ESEA,RROnly,201.63,142.31,343.94,0.835106,2.224723,-0.09,33.66,30.719999
5,ADYEY,RROnly,111.69,107.30,218.99,0.942623,6.714589,-0.10,16.01,14.340000
42,SIEGY,RROnly,306.46,309.18,615.64,0.914894,31.709941,-0.10,67.29,60.549999
10,CX,RROnly,31.31,40.85,72.17,0.904255,1.763409,-0.10,4.39,3.960000
9,COVTY,RROnly,116.15,201.53,317.69,0.898936,12.074702,-0.11,23.53,21.010000
13,EIFZF,RROnly,172.64,112.80,285.44,0.888298,7.860818,-0.12,36.06,31.639999
3,ASML,RROnly,3486.14,2273.24,5759.38,0.888298,149.157828,-0.16,571.69,483.059998
29,LYB,RROnly,550.94,307.63,858.56,0.936170,31.240487,-0.16,109.83,92.669998
41,SHOP,RROnly,6697.70,5712.52,12410.22,0.872340,139.160570,-0.17,360.62,298.850006

In [ ]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'CUBS', 'FLN', 'FM',
            'ECH', 'EWI', 'EWC', 'EWM', 'EWP', 'EWW', 'EWY', 'EWZ',
            'IDX', 'ILF', 'KEMQ', 'THD', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf5a', mod6, False)[0]

loading model from results/cetf5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
14,KEMQ,RROnly,86.92,124.73,211.65,0.835106,14.385566,0.34,16.27,21.850000
9,EWW,RROnly,188.29,117.33,305.62,0.867021,24.501704,0.07,47.41,50.590000
8,EWP,RROnly,68.92,88.00,156.92,0.808511,17.248541,0.06,23.95,25.389999
12,IDX,RROnly,74.19,77.46,151.64,0.888298,10.495694,0.06,20.49,21.790001
1,ARGT,RROnly,156.27,160.05,316.32,0.909574,14.631783,0.06,28.23,29.910000
0,AGT,RROnly,155.25,126.28,281.52,0.925532,12.397123,0.06,23.76,25.150000
5,EWI,RROnly,71.51,66.86,138.38,0.670213,17.689650,0.06,25.26,26.870001
10,EWY,RROnly,248.47,291.43,539.90,0.898936,38.802948,0.04,63.13,65.519997
2,EWD,RROnly,154.30,112.29,266.59,0.904255,20.074241,0.04,33.35,34.660000
16,TUR,RROnly,107.43,114.35,221.78,0.813830,17.334817,0.03,19.37,19.910000
15,THD,RROnly,293.35,257.67,551.03,0.882979,46.903006,0.02,71.60,73.199997
6,EWC,RROnly,103.07,46.04,149.12,0.845745,17.277278,0.01,36.23,36.750000
4,ECH,RROnly,107.16,130.15,237.31,0.877660,16.705116,0.01,27.70,27.980000
17,XCEM,RROnly,93.85,76.99,170.84,0.867021,16.651193,-0.01,27.09,26.820000
7,EWM,RROnly,70.81,78.76,149.57,0.867021,17.670128,-0.02,22.49,22.150000
3,FLN,RROnly,88.17,74.52,162.69,0.882979,9.710906,-0.02,18.69,18.400000
11,EWZ,RROnly,199.59,176.00,375.59,0.872340,18.589744,-0.03,30.53,29.610001
13,ILF,RROnly,109.06,151.74,260.80,0.920213,14.020765,-0.05,24.85,23.510000

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'BLK', 'BGFV',
            'CI', 'CIVI', 'CG', 'CMI', 'COKE', 'DD', 'F', 'FLO',
            'HSII', 'HPE', 'IP', 'IPI', 'JWN', 'KD', 'KHC',
            'M', 'MMM', 'NFG', 'NTR', 'OMC', 'OSK', 
            'PCAR', 'PETS', 'RH', 'REGN', 'SCCO', 'SPTN', 'SPG', 'SWK',
            'T', 'TCN', 'TDG', 'TWI',
            'UNH', 'VRTX', 'VZ', 'WDC', 'WHR', 'WSM', 'XOM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val6a', mod7, True)[0]

In [ ]:
df7.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
18,KD,RROnly,4.93,27.16,32.09,1.000000,10.339757,0.29,9.83,12.690000
16,IPI,RROnly,423.94,356.33,780.27,0.861702,8.425461,0.27,57.25,72.949997
32,TCN,RROnly,4.74,12.39,17.13,0.954545,10.909710,0.16,10.69,12.420000
30,SWK,RROnly,975.64,649.57,1625.22,0.914894,71.822628,0.14,109.96,125.180000
23,OMC,RROnly,253.90,235.41,489.31,0.877660,43.820658,0.10,67.99,74.739998
7,CG,RROnly,197.81,151.19,349.00,0.867021,14.115165,0.09,35.96,39.139999
21,MMM,RROnly,562.23,823.32,1385.55,0.946809,110.887288,0.08,137.65,149.259995
10,DD,RROnly,343.34,485.92,829.26,0.888298,28.432686,0.08,63.53,68.540001
0,APO,RROnly,322.14,216.05,538.19,0.914894,20.484645,0.07,54.45,58.049999
38,WDC,RROnly,366.36,487.98,854.34,0.888298,30.047762,0.06,54.03,57.500000
17,JWN,RROnly,238.68,344.56,583.24,0.872340,12.537513,0.05,26.74,28.180000
40,WSM,RROnly,920.77,670.05,1590.82,0.909574,31.835068,0.05,121.24,126.800003
15,IP,RROnly,222.84,175.76,398.60,0.920213,23.329010,0.04,45.00,46.900002
22,NTR,RROnly,294.29,201.82,496.11,0.845745,24.407943,0.04,86.46,90.269997
36,VRTX,RROnly,903.42,1075.00,1978.42,0.898936,151.059783,0.03,254.88,261.940002
25,PETS,RROnly,142.51,173.08,315.59,0.893617,13.903997,0.03,20.87,21.510000
39,WHR,RROnly,951.52,788.04,1739.56,0.882979,63.390185,0.03,164.35,169.289993
13,HSII,RROnly,216.13,223.20,439.33,0.957447,18.178265,0.03,32.38,33.290001
8,CMI,RROnly,971.57,756.13,1727.69,0.920213,100.288082,0.03,205.50,212.270004
28,SCCO,RROnly,318.34,282.14,600.48,0.936170,21.974169,0.02,60.11,61.200001
2,BAX,RROnly,261.12,328.06,589.18,0.877660,59.706032,0.02,73.12,74.709999
11,F,RROnly,70.53,61.82,132.36,0.840426,4.244076,0.02,12.75,13.000000
33,TDG,RROnly,3079.27,2331.02,5410.29,0.893617,255.247104,0.01,581.13,585.539978
37,VZ,RROnly,127.51,132.99,260.50,0.909574,41.772757,0.00,50.82,51.049999
31,T,RROnly,78.50,54.00,132.50,0.909574,15.424768,0.00,20.69,20.730000
3,BLK,RROnly,3390.88,2936.80,6327.68,0.941489,320.271072,0.00,617.67,620.570007
9,COKE,RROnly,3072.06,1858.33,4930.39,0.877660,135.041446,0.00,582.35,582.520020
24,PCAR,RROnly,343.45,241.46,584.91,0.888298,48.078024,0.00,85.10,85.160004
14,HPE,RROnly,65.77,76.22,142.00,0.888298,7.455636,0.00,14.23,14.280000
12,FLO,RROnly,92.71,55.52,148.22,0.914894,16.169547,0.00,25.07,25.080000
6,CIVI,RROnly,336.99,212.47,549.46,0.861702,9.830719,-0.01,80.66,79.879997
34,TWI,RROnly,94.77,58.20,152.97,0.909574,1.358379,-0.02,17.82,17.480000
35,UNH,RROnly,1905.48,969.00,2874.48,0.914894,194.225572,-0.02,484.63,473.130005
5,CI,RROnly,1095.86,908.96,2004.82,0.893617,129.789971,-0.03,253.29,246.830002
20,M,RROnly,160.13,166.42,326.55,0.914894,4.901218,-0.04,23.04,22.170000
26,RH,RROnly,2756.79,2046.73,4803.52,0.898936,89.789084,-0.05,278.07,265.500000
29,SPTN,RROnly,148.80,83.42,232.22,0.877660,8.396879,-0.07,32.38,30.270000
1,BAH,RROnly,396.78,301.59,698.37,0.941489,41.775793,-0.07,84.91,78.989998
19,KHC,RROnly,125.49,193.35,318.85,0.867021,18.718551,-0.07,37.45,34.900002
41,XOM,RROnly,384.96,290.75,675.72,0.877660,28.449386,-0.08,100.46,92.830002
27,REGN,RROnly,3199.40,2375.15,5574.55,0.914894,282.556906,-0.09,571.81,523.010010
4,BGFV,RROnly,133.03,115.72,248.75,0.835106,1.069686,-0.11,11.27,10.080000

In [ ]:
findata.EPOCHS=200
tickers8 = [ 'GLD', 'JJU', 'PDBC', 'SLV', 'SOYB', 'TIP', 'TLT', 'UUP', 'WEAT']
mod8 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df8 = pipeline.runModelCombined(tickers8, 'com5a', mod8, False)[0]

loading model from results/com5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df8.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,SLV,RROnly,88.92,73.24,162.16,0.771277,11.728000,0.09,19.98,21.709999
1,JJU,RROnly,145.46,113.33,258.79,0.755319,33.476249,0.06,53.99,57.470001
6,TLT,RROnly,95.00,120.06,215.07,0.574468,109.683381,0.03,112.08,115.320000
0,GLD,RROnly,484.64,174.41,659.05,0.829787,113.255014,0.01,171.27,173.009995
5,TIP,RROnly,101.19,55.47,156.66,0.744681,98.044582,0.01,114.73,115.379997
8,WEAT,RROnly,23.16,11.59,34.75,0.712766,5.085621,0.00,10.60,10.600000
4,SOYB,RROnly,58.03,23.15,81.18,0.723404,13.767791,-0.02,28.47,27.889999
7,UUP,RROnly,29.30,15.61,44.91,0.765957,24.236498,-0.02,27.95,27.500000
2,PDBC,RROnly,42.67,12.10,54.77,0.712766,7.600531,-0.07,19.38,18.000000

In [ ]:
findata.EPOCHS=200
tickers9 = [ 'BTC-USD', 'ETH-USD', 'ADA-USD', 'DOGE-USD']
mod9 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df9 = pipeline.runModelCombined(tickers9, 'cry-6b', mod9, True)[0]

In [ ]:
df9.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
1,ETH-USD,RROnly,24225.92,14455.31,38681.23,0.648936,287.157304,0.17,937.22,1092.469971
0,BTC-USD,RROnly,267070.09,254425.62,521495.71,0.675532,8458.431991,0.13,18257.98,20559.919922
2,ADA-USD,RROnly,9.20,6.16,15.36,0.569149,0.135685,-0.02,0.44,0.430000
3,DOGE-USD,RROnly,2.06,2.00,4.06,0.638298,0.020475,-0.06,0.05,0.050000

In [ ]:
findata.EPOCHS=200
save = ['CF']
tickers10 = ['ACHC', 'ALKS', 'BMY', 'BTC-USD', 'BYDDF', 'CNC', 'DLTR',
             'GOOGL', 'HRMY', 'HUM', 'HQY',  'LKNCY', 'LLY', 'LNTH',
             'MRCY', 'MRK', 'NOW', 'QQQ', 'SWAV', 'ULTA', 'UNH', 'UTHR']
mod10 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df10 = pipeline.runModelCombined(tickers10, 'trade-7a', mod10, False)[0]

loading model from results/trade-7a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
addAlloc(df10, 0.07)
df10.sort_values('Alloc', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted,Alloc
14,MRCY,RROnly,468.01,423.86,891.87,0.936170,40.230423,-0.12,62.95,55.619999,12.310030
10,HQY,RROnly,614.05,612.53,1226.59,0.941489,40.924767,-0.08,60.96,56.310001,11.987082
21,UTHR,RROnly,1074.18,611.54,1685.72,0.920213,77.468243,-0.08,241.90,223.149994,11.151216
8,HRMY,RROnly,159.84,171.50,331.34,0.951220,26.792353,-0.04,54.92,52.849998,11.149826
0,ACHC,RROnly,351.04,240.27,591.31,0.893617,12.816758,-0.11,71.80,64.230003,10.831721
11,LKNCY,RROnly,189.52,173.56,363.08,0.828767,2.105248,-0.18,13.60,11.110000,9.936943
19,ULTA,RROnly,2003.96,1212.94,3216.90,0.861702,134.526650,0.10,381.76,419.609985,9.544073
9,HUM,RROnly,2253.03,1809.55,4062.58,0.904255,216.841490,-0.05,477.48,453.540009,9.088146
17,QQQ,RROnly,1100.10,1031.26,2131.36,0.914894,144.895702,-0.04,288.80,277.410004,8.814590
15,MRK,RROnly,309.25,170.05,479.30,0.909574,53.436307,-0.04,93.13,89.480003,8.472644
1,ALKS,RROnly,150.23,205.81,356.04,0.877660,13.645940,-0.06,31.87,29.940001,8.459980
3,BTC-USD,RROnly,321643.29,304543.96,626187.25,0.813830,6023.555454,-0.10,20306.15,18280.599609,7.902736
4,BYDDF,RROnly,238.47,111.52,349.99,0.819149,4.938295,-0.09,40.55,37.020000,7.683215
7,GOOGL,RROnly,9401.99,4423.14,13825.13,0.851064,1018.281460,-0.06,2291.44,2156.149902,7.193516
12,LLY,RROnly,1166.37,548.96,1715.33,0.851064,85.905638,-0.06,330.15,310.109985,7.193516
20,UNH,RROnly,1535.50,1225.22,2760.72,0.925532,194.014883,-0.01,515.29,510.839996,0.000000
18,SWAV,RROnly,1124.83,615.45,1740.28,0.858974,26.933852,0.01,196.06,197.169998,0.000000
5,CNC,RROnly,370.26,356.55,726.82,0.914894,43.816137,-0.01,86.01,85.019997,0.000000
16,NOW,RROnly,1035.31,288.21,1323.52,0.547872,202.304286,0.09,493.31,536.219971,0.000000
2,BMY,RROnly,237.99,173.14,411.13,0.920213,39.589172,-0.00,76.22,75.860001,0.000000
6,DLTR,RROnly,743.15,469.48,1212.63,0.925532,67.181942,0.01,165.79,166.809998,0.000000
13,LNTH,RROnly,243.19,108.75,351.94,0.813830,10.043299,0.03,61.42,63.060001,0.000000

In [ ]:
findata.G_LOOKUP_STEP = 5
mod11 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df11 = pipeline.runModelCombined(tickers10, 'trade-7a', mod11, False)[0]

loading model from results/trade-7a-sh-1-sc-1-sbd-0-seq-50-step-5-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
addAlloc(df11, 0.07)
df11.sort_values('Alloc', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted,Alloc
8,HRMY,RROnly,77.04,69.76,146.80,0.833333,27.130410,-0.05,54.92,52.410000,5.238095
0,ACHC,RROnly,119.64,83.01,202.65,0.694737,13.189085,-0.10,71.80,64.589996,3.819549
21,UTHR,RROnly,382.49,302.84,685.33,0.684211,78.419585,-0.10,241.90,218.139999,3.458647
19,ULTA,RROnly,922.49,843.56,1766.05,0.705263,137.410883,-0.08,381.76,350.429993,2.706767
11,LKNCY,RROnly,54.62,96.77,151.39,0.689189,2.436651,-0.07,13.60,12.700000,0.965251
10,HQY,RROnly,298.50,256.94,555.44,0.784211,41.651610,-0.04,60.96,58.630001,0.413534
4,BYDDF,RROnly,92.44,65.96,158.40,0.673684,4.974575,-0.07,40.55,37.610001,0.300752
14,MRCY,RROnly,223.78,224.06,447.84,0.805263,40.589185,-0.01,62.95,62.119999,0.000000
20,UNH,RROnly,746.02,656.23,1402.24,0.757895,195.091836,-0.04,515.29,493.579987,0.000000
18,SWAV,RROnly,639.44,321.84,961.28,0.620253,28.670471,-0.02,196.06,192.699997,0.000000
17,QQQ,RROnly,506.15,382.17,888.32,0.721053,144.624780,-0.01,288.80,285.239990,0.000000
16,NOW,RROnly,618.79,578.44,1197.23,0.552632,177.518356,-0.04,493.31,474.779999,0.000000
15,MRK,RROnly,136.95,78.69,215.64,0.721053,53.910935,-0.03,93.13,90.190002,0.000000
3,BTC-USD,RROnly,136339.68,128701.75,265041.44,0.684211,6354.985107,0.02,20296.10,20655.560547,0.000000
13,LNTH,RROnly,74.18,53.84,128.02,0.621053,10.199758,-0.00,61.42,61.169998,0.000000
1,ALKS,RROnly,40.74,64.75,105.49,0.642105,13.898749,-0.00,31.87,31.709999,0.000000
9,HUM,RROnly,809.51,729.18,1538.69,0.678947,219.037677,-0.05,477.48,453.899994,0.000000
2,BMY,RROnly,113.84,38.19,152.03,0.684211,39.988118,-0.04,76.22,73.290001,0.000000
7,GOOGL,RROnly,3002.28,3301.72,6304.00,0.673684,1023.556123,-0.01,2291.44,2266.510010,0.000000
6,DLTR,RROnly,231.80,153.93,385.73,0.678947,68.557093,-0.04,165.79,159.830002,0.000000
5,CNC,RROnly,173.72,192.07,365.79,0.757895,44.241673,-0.03,86.01,83.680000,0.000000
12,LLY,RROnly,429.77,26.67,456.45,0.615789,86.980825,-0.08,330.15,302.470001,0.000000

In [ ]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/* /content/drive/MyDrive/colab/results/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +90 -delete -print

sending incremental file list
mcap-7a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

sent 3,215,980 bytes  received 35 bytes  6,432,030.00 bytes/sec
total size is 64,251,360  speedup is 19.98