In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [4]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [5]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FSLY', 'FTCH', 'GFS', 'GLBE', 'GOGO',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'OSTK', 'PAR', 'PD', 'PTON', 'RBLX',  'SNOW',
            'SPLK', 'SPOT','STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos5b', mod, True, loss=lossfn)[0]

In [ ]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
35,OSTK,RROnly,798.37,840.03,1638.40,0.851064,5.089311,0.91,27.54,52.599998
44,TDOC,RROnly,1269.33,1268.55,2537.88,0.882979,34.004089,0.47,32.74,48.160000
8,CRCT,RROnly,37.10,101.37,138.47,0.891304,9.240230,0.40,8.35,11.680000
24,MAXR,RROnly,356.37,262.34,618.70,0.872340,5.095155,0.39,25.87,35.970001
15,DOCU,RROnly,1410.11,1436.96,2847.07,0.840426,43.333762,0.31,76.75,100.620003
32,NVAX,RROnly,1554.50,1798.17,3352.67,0.734043,10.178128,0.25,53.42,66.800003
20,GLBE,RROnly,48.77,232.10,280.87,0.925000,18.879288,0.24,19.47,24.049999
31,NET,RROnly,856.30,426.51,1282.81,0.894309,18.251292,0.24,55.69,68.830002
36,PAR,RROnly,351.40,439.08,790.48,0.914894,12.101893,0.24,35.19,43.810001
50,UBER,RROnly,205.50,308.84,514.34,0.865248,15.929533,0.22,23.35,28.500000
45,TOST,RROnly,21.29,87.46,108.75,0.904762,13.863857,0.22,15.36,18.700001
7,CFLT,RROnly,131.16,167.82,298.98,0.941176,21.028807,0.22,18.91,22.990000
52,ZEN,RROnly,628.37,657.62,1285.99,0.840426,50.799221,0.22,98.96,120.879997
16,ESTC,RROnly,898.52,1027.79,1926.31,0.929412,47.004619,0.22,60.00,73.199997
39,RBLX,RROnly,69.40,335.33,404.73,0.875000,25.889164,0.21,31.60,38.240002
37,PD,RROnly,230.10,349.15,579.25,0.951724,14.024348,0.21,23.92,28.850000
10,DASH,RROnly,363.03,653.66,1016.69,0.918033,65.094938,0.20,66.23,79.589996
27,MPWR,RROnly,2618.14,1248.29,3866.43,0.845745,110.359961,0.19,418.12,497.429993
18,FSLY,RROnly,438.47,751.44,1189.91,0.914286,12.688959,0.16,11.93,13.780000
3,AI,RROnly,32.91,269.80,302.71,0.836066,16.092502,0.16,18.22,21.100000
43,SWAV,RROnly,935.96,745.17,1681.13,0.866667,27.329040,0.15,158.27,181.380005
49,U,RROnly,271.47,682.57,954.04,0.902778,33.647480,0.14,41.32,46.980000
23,LYFT,RROnly,327.76,410.72,738.49,0.945205,17.663679,0.13,19.07,21.600000
0,ABNB,RROnly,336.12,480.40,816.52,0.850000,112.099936,0.13,112.55,126.900002
47,TWLO,RROnly,2144.10,1691.24,3835.34,0.829787,61.737505,0.12,103.03,115.010002
2,AFRM,RROnly,276.47,607.60,884.07,0.964286,18.698853,0.12,24.82,27.730000
40,SNOW,RROnly,917.81,1250.11,2167.92,0.944444,140.244392,0.11,141.49,157.550003
26,MNDY,RROnly,242.29,998.84,1241.13,0.916667,104.012330,0.11,114.27,126.790001
42,STEM,RROnly,129.07,152.44,281.51,0.942029,7.428581,0.09,7.59,8.310000
11,DBX,RROnly,133.38,159.42,292.80,0.925532,16.212260,0.09,20.17,21.959999
28,MQ,RROnly,25.06,92.24,117.30,0.944444,7.494363,0.08,9.84,10.670000
34,OKTA,RROnly,1503.69,1194.30,2697.99,0.898936,53.062945,0.07,84.22,90.019997
4,AMBA,RROnly,814.55,619.92,1434.47,0.872340,34.885646,0.07,76.45,81.879997
14,DOCS,RROnly,79.90,252.71,332.61,1.000000,31.638840,0.07,31.56,33.750000
33,NVCR,RROnly,1015.71,996.25,2011.96,0.872340,32.363366,0.07,74.70,79.870003
6,BMBL,RROnly,90.28,216.46,306.74,0.942308,17.664759,0.07,28.17,30.200001
30,MTCH,RROnly,690.08,690.66,1380.73,0.856383,36.579395,0.06,76.70,81.269997
38,PTON,RROnly,688.28,495.10,1183.38,0.900826,15.958166,0.06,14.51,15.400000
46,TTD,RROnly,570.36,565.76,1136.11,0.872340,10.384672,0.06,52.64,55.939999
41,SPLK,RROnly,1156.87,1180.43,2337.30,0.893617,91.227537,0.02,98.90,100.550003
51,Z,RROnly,800.56,552.95,1353.51,0.888298,27.819233,0.02,40.96,41.779999
48,TWTR,RROnly,396.88,256.16,653.04,0.909574,23.276368,0.01,38.29,38.720001
25,MDB,RROnly,3457.31,2042.14,5499.45,0.882979,57.701935,-0.01,248.10,245.660004
17,EXPE,RROnly,1015.93,865.28,1881.21,0.898936,48.984249,-0.01,124.59,122.839996
19,GFS,RROnly,26.23,90.62,116.85,0.875000,46.035546,-0.01,55.00,54.639999
1,ACLS,RROnly,349.98,183.08,533.06,0.813830,14.693937,-0.02,56.25,55.349998
21,GOGO,RROnly,119.81,90.50,210.31,0.851064,1.823479,-0.03,18.01,17.410000
29,MXL,RROnly,290.87,228.69,519.56,0.877660,9.334520,-0.03,38.45,37.270000
12,DDOG,RROnly,851.87,611.89,1463.76,0.942623,31.411034,-0.04,94.79,90.650002
53,ZM,RROnly,1695.42,2241.86,3937.28,0.875000,71.332481,-0.06,89.74,84.400002
13,DOCN,RROnly,219.18,282.10,501.28,0.956522,33.760990,-0.06,42.66,40.299999
5,BILL,RROnly,1427.77,990.00,2417.77,0.909910,35.296326,-0.08,118.63,109.699997
9,CRWD,RROnly,1278.16,906.23,2184.39,0.926471,38.283947,-0.16,148.74,124.809998
22,INMD,RROnly,230.18,212.29,442.47,0.890625,8.052362,-0.26,23.35,17.180000

In [ ]:
findata.EPOCHS=200
# https://seekingalpha.com/etfs-and-funds/etf-tables/sectors
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX','GBTC', 
            'ICLN', 'IJR', 'IPO', 'IXC', 'IXN', 'IXP', 'IWM', 'IYZ',
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'QQQ', 'SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf4b', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df1.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
2,DAPP,RROnly,43.18,50.79,93.97,0.863636,8.077119,0.22,7.12,8.700000
0,ARKK,RROnly,531.33,686.33,1217.66,0.914894,35.410682,0.14,45.41,51.840000
16,JETS,RROnly,128.19,147.77,275.96,0.904255,12.349815,0.07,20.60,22.010000
31,XLC,RROnly,215.63,146.13,361.76,0.876344,38.834473,0.01,60.22,61.040001
5,EEM,RROnly,135.83,151.57,287.40,0.888298,30.118918,0.01,42.05,42.410000
39,XLY,RROnly,638.47,334.25,972.71,0.856383,88.260802,-0.00,153.76,153.589996
1,ARKW,RROnly,580.83,686.38,1267.21,0.824468,40.113494,-0.00,58.16,58.040001
21,QQQ,RROnly,1264.33,760.86,2025.19,0.936170,144.864844,-0.00,309.10,307.679993
20,MTUM,RROnly,490.57,512.78,1003.34,0.882979,90.515680,-0.01,147.94,146.779999
35,XLK,RROnly,581.78,381.65,963.43,0.941489,57.161906,-0.02,141.46,139.210007
17,MGK,RROnly,742.43,608.15,1350.58,0.930851,99.841205,-0.02,199.62,195.429993
28,WDIV,RROnly,182.33,151.55,333.87,0.920213,37.910910,-0.02,67.08,65.750000
33,XLF,RROnly,134.18,106.29,240.47,0.909574,17.335265,-0.03,35.57,34.349998
18,MGV,RROnly,303.98,192.58,496.57,0.898936,54.868822,-0.03,105.21,101.599998
24,SPY,RROnly,1041.77,771.56,1813.33,0.936170,219.977742,-0.04,415.26,398.989990
38,XLV,RROnly,369.61,203.84,573.45,0.792553,73.837045,-0.04,134.02,128.899994
10,IPO,RROnly,284.13,204.26,488.39,0.840426,22.517797,-0.04,31.66,30.270000
36,XLRE,RROnly,160.52,75.34,235.85,0.835106,24.424175,-0.04,44.82,43.029999
34,XLI,RROnly,296.31,206.32,502.62,0.882979,48.513480,-0.04,95.47,91.360001
14,IWM,RROnly,669.78,706.27,1376.06,0.914894,99.487918,-0.04,187.64,179.759995
26,VT,RROnly,271.50,202.18,473.68,0.930851,53.331702,-0.04,94.01,90.230003
19,MOAT,RROnly,216.68,154.95,371.63,0.904255,37.487276,-0.04,69.50,66.910004
25,VNQ,RROnly,278.80,167.60,446.40,0.851064,54.328058,-0.05,100.30,95.300003
27,VTI,RROnly,647.98,295.50,943.48,0.898936,110.289893,-0.05,208.07,198.649994
32,XLE,RROnly,272.35,207.53,479.88,0.861702,22.690246,-0.05,88.53,83.699997
37,XLU,RROnly,191.49,126.98,318.47,0.893617,42.797638,-0.05,75.37,71.800003
9,IJR,RROnly,311.06,288.34,599.40,0.893617,48.774530,-0.05,102.40,97.370003
3,DIA,RROnly,923.88,476.13,1400.02,0.851064,181.986660,-0.05,332.07,315.869995
7,GBTC,RROnly,308.36,212.08,520.44,0.861702,5.054078,-0.05,18.96,18.000000
4,DTEC,RROnly,169.38,124.82,294.20,0.909574,22.796017,-0.06,36.84,34.540001
13,IXP,RROnly,223.62,180.96,404.57,0.925532,46.305826,-0.06,66.63,62.869999
12,IXN,RROnly,181.15,129.92,311.07,0.920213,22.499832,-0.06,51.35,48.160000
29,XITK,RROnly,947.99,901.45,1849.45,0.936170,79.438586,-0.07,120.16,111.709999
41,XNTK,RROnly,701.96,377.44,1079.40,0.936170,55.245646,-0.07,115.34,107.190002
11,IXC,RROnly,114.02,127.01,241.03,0.867021,12.291681,-0.07,41.00,38.130001
6,FPX,RROnly,463.76,372.98,836.74,0.872340,56.409042,-0.08,93.28,85.570000
30,XLB,RROnly,312.98,174.54,487.53,0.941489,37.813644,-0.08,87.36,80.800003
23,SMOG,RROnly,726.70,511.94,1238.63,0.882979,52.381667,-0.08,130.21,119.349998
8,ICLN,RROnly,127.63,85.83,213.46,0.829787,7.910758,-0.09,20.14,18.360001
22,SMH,RROnly,1193.61,678.34,1871.95,0.925532,82.101516,-0.10,245.60,221.380005
15,IYZ,RROnly,17.01,57.90,74.92,0.643617,22.060116,-0.10,27.54,24.750000
42,XSW,RROnly,574.50,496.25,1070.76,0.920213,71.918106,-0.10,124.33,111.889999
40,XME,RROnly,235.13,144.04,379.17,0.882979,15.013278,-0.13,55.59,48.279999

In [ ]:
findata.EPOCHS=200
# exclude = ['GTSWF', 'CBNT', 'ILAL']
tickers3 = [ 'AIRI', 'APRN', 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGSF', 'BLNK', 'CLOV', 
            'DMTK', 'EVGO', 'EXPR', 'GBOX',  'HIVE', 
            'INLX', 'JOBY',  'KULR', 'MMMB', 'MTTR', 'MULN',
            'NEPH', 'OMQS', 'ONDS', 'OPEN', 'OTLY',
            'REAL', 'RIDE', 'RIG', 'SFIX', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols5b', mod, True)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df3.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,AHT,RROnly,801.13,2959.61,3760.74,0.744681,16.102027,3.50,5.55,24.969999
27,RIDE,RROnly,159.28,108.66,267.94,0.703448,2.318765,0.98,1.99,3.940000
1,APRN,RROnly,145.21,193.26,338.47,0.819149,3.160400,0.68,3.34,5.610000
9,BLNK,RROnly,265.37,197.75,463.13,0.680851,2.387745,0.46,16.79,24.549999
21,NEPH,RROnly,50.05,51.22,101.27,0.840426,1.962878,0.31,1.85,2.430000
11,DMTK,RROnly,230.45,317.59,548.03,0.739362,6.094125,0.28,7.14,9.160000
26,REAL,RROnly,127.54,136.99,264.53,0.888889,3.410622,0.27,3.27,4.140000
33,WISH,RROnly,3.34,67.54,70.88,0.672131,1.838577,0.26,1.80,2.260000
29,SFIX,RROnly,450.10,492.30,942.40,0.851064,9.065358,0.22,8.59,10.440000
15,HIVE,RROnly,109.30,87.80,197.10,0.750000,0.837363,0.21,3.98,4.820000
7,BKKT,RROnly,33.77,113.05,146.82,0.687500,3.103700,0.20,2.66,3.190000
4,AMSC,RROnly,122.54,144.82,267.36,0.882979,5.176561,0.17,5.50,6.430000
5,ASTR,RROnly,36.78,86.71,123.49,0.900000,2.660740,0.17,2.47,2.890000
24,OPEN,RROnly,88.86,150.05,238.91,0.883721,6.442526,0.06,7.49,7.910000
2,AUGX,RROnly,4.62,19.77,24.39,0.956522,2.033229,0.06,2.11,2.230000
31,SFT,RROnly,43.90,43.66,87.56,0.811594,1.220857,0.05,1.07,1.120000
25,OTLY,RROnly,2.95,53.41,56.36,0.948718,3.265800,0.05,4.19,4.390000
10,CLOV,RROnly,51.79,79.94,131.73,0.862069,2.531585,0.04,2.71,2.820000
19,MMMB,RROnly,1.98,3.03,5.00,0.935484,1.193859,0.02,1.24,1.270000
12,EVGO,RROnly,45.70,90.84,136.53,0.953125,7.756572,0.00,9.78,9.830000
32,VRAR,RROnly,14.35,63.02,77.37,0.941176,3.672664,-0.00,4.05,4.050000
0,AIRI,RROnly,13.77,13.82,27.59,0.840426,0.686422,-0.02,0.71,0.690000
22,OMQS,RROnly,67.41,88.06,155.47,0.861702,3.343711,-0.04,5.89,5.660000
23,ONDS,RROnly,32.52,36.76,69.28,0.919355,4.425476,-0.04,7.16,6.900000
18,KULR,RROnly,25.78,26.84,52.62,0.840659,0.897278,-0.07,1.47,1.370000
14,GBOX,RROnly,91.00,73.18,164.18,0.750000,0.454365,-0.12,2.61,2.300000
30,STEM,RROnly,79.77,163.46,243.23,0.842857,7.705837,-0.13,8.86,7.720000
20,MULN,RROnly,113.66,106.33,219.99,0.829787,1.026967,-0.14,0.97,0.830000
28,RIG,RROnly,43.18,66.70,109.88,0.829787,0.945906,-0.15,4.18,3.550000
8,BGSF,RROnly,84.05,152.63,236.67,0.851064,6.277679,-0.15,12.78,10.870000
16,INLX,RROnly,47.33,48.93,96.26,0.707447,0.418999,-0.20,4.85,3.900000
17,JOBY,RROnly,14.90,40.20,55.10,0.772727,3.997407,-0.20,6.01,4.800000
6,ATOM,RROnly,203.24,146.28,349.52,0.696809,3.400139,-0.24,12.99,9.930000
13,EXPR,RROnly,27.98,73.10,101.08,0.824468,0.804646,-0.29,3.00,2.120000

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CAT', 'CRM', 'COST', 'CSCO', 'DE', 'DHR', 'DIS', 'GOOGL', 'FB',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'SBUX', 'TMO', 'UNH']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df4 = pipeline.runModelCombined(tickers4, 'mcap4b', mod4, False)[0]

loading model from results/mcap4b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df4.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
27,PYPL,RROnly,910.12,1248.29,2158.41,0.819149,78.474096,0.38,86.81,120.089996
11,COST,RROnly,1420.99,667.42,2088.41,0.787234,189.439601,0.06,472.47,498.839996
15,DIS,RROnly,759.95,553.16,1313.11,0.898936,88.716015,0.05,107.83,113.449997
29,TMO,RROnly,1873.20,1376.46,3249.66,0.904255,208.481672,0.03,552.88,570.219971
14,DHR,RROnly,1237.19,591.16,1828.35,0.909574,96.949229,0.01,263.74,265.160004
21,ISRG,RROnly,1343.04,1160.59,2503.63,0.877660,127.123780,0.01,216.43,218.220001
19,INTC,RROnly,262.67,266.93,529.60,0.893617,39.431347,0.01,43.34,43.570000
16,GOOGL,RROnly,9233.10,4211.56,13444.66,0.851064,1015.680740,0.00,2336.41,2342.189941
12,CSCO,RROnly,205.46,209.27,414.73,0.898936,31.784601,0.00,45.33,45.340000
13,DE,RROnly,1293.80,695.63,1989.43,0.787234,113.762890,-0.00,362.91,362.470001
5,AVGO,RROnly,2537.88,1088.65,3626.53,0.872340,163.278042,-0.01,561.23,555.330017
22,MSFT,RROnly,1099.37,482.84,1582.21,0.877660,94.531178,-0.01,268.75,266.140015
4,AMZN,RROnly,595.93,652.64,1248.58,0.845745,70.094509,-0.02,124.79,121.690002
8,BRK-B,RROnly,955.05,683.76,1638.81,0.872340,165.696095,-0.02,312.15,307.399994
0,AAPL,RROnly,619.40,387.72,1007.12,0.904255,37.000307,-0.03,146.14,141.800003
17,FB,RROnly,1451.13,1287.80,2738.93,0.941489,128.625163,-0.04,194.25,186.259995
9,CAT,RROnly,869.91,618.30,1488.22,0.851064,90.204806,-0.04,223.63,214.559998
10,CRM,RROnly,1228.99,977.70,2206.69,0.893617,124.564767,-0.06,182.87,171.490005
26,ORCL,RROnly,227.27,207.25,434.52,0.851064,39.428558,-0.06,72.97,68.480003
30,UNH,RROnly,1919.17,653.08,2572.25,0.845745,195.592233,-0.06,490.18,460.779999
7,BKNG,RROnly,12700.28,12755.72,25456.00,0.914894,1189.801100,-0.07,2347.30,2186.520020
25,NOW,RROnly,2461.23,2472.25,4933.48,0.888298,166.205085,-0.08,492.54,454.790009
6,BA,RROnly,1548.73,2499.06,4047.78,0.898936,102.096637,-0.09,139.24,126.599998
23,NKE,RROnly,493.59,525.84,1019.43,0.867021,63.991484,-0.09,120.23,109.739998
28,SBUX,RROnly,358.53,293.81,652.34,0.867021,46.369447,-0.10,78.98,71.150002
20,IBM,RROnly,532.90,449.96,982.86,0.861702,83.339272,-0.11,142.88,127.250000
1,ACN,RROnly,1120.10,1030.74,2150.84,0.861702,132.189761,-0.13,304.73,264.630005
18,HD,RROnly,1211.12,984.65,2195.77,0.867021,149.729265,-0.13,303.89,262.950012
2,ADBE,RROnly,2451.80,2464.67,4916.47,0.920213,213.440151,-0.14,429.46,370.019989
24,NVDA,RROnly,1530.70,1060.12,2590.81,0.861702,35.920014,-0.16,187.86,157.270004
3,AMD,RROnly,506.07,562.80,1068.87,0.840426,17.594081,-0.24,105.65,80.480003

In [ ]:
findata.EPOCHS=200
tickers5 = ['AEXAF', 'ALSMY', 'AMSSY', 'ASML', 'ADDDF', 'ADYEY', 'BASFY', 'BESIY', 'COTY', 'COVTY', 'CX',
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'HCMLY', 'HENKY', 'JMIA', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'NOK', 'OTGLY', 'PROSF', 'RNMBF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE',
            'TEAM', 'TEF', 'TRYIY', 'TSM',
            'VALE', 'VNT', 'VWAPY', 'YARIY', 'ZURVY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock6a', mod5, False)[0]

loading model from results/gstock6a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
20,DNMR,RROnly,184.59,212.16,396.75,0.922222,4.284006,0.34,4.04,5.430000
1,ALSMY,RROnly,24.57,29.38,53.94,0.930851,1.968985,0.11,2.76,3.070000
33,OTGLY,RROnly,56.93,120.63,177.55,0.827586,6.604929,0.09,6.14,6.680000
36,RYCEF,RROnly,20.49,62.35,82.84,0.851064,1.101015,0.09,1.17,1.280000
27,OZON,RROnly,57.17,193.43,250.60,0.812500,12.652691,0.09,11.60,12.660000
6,BASFY,RROnly,67.11,78.29,145.40,0.909574,9.010555,0.08,13.94,15.080000
24,JMIA,RROnly,-13.57,35.43,21.86,0.589041,6.419047,0.07,7.63,8.200000
48,VNT,RROnly,40.58,64.35,104.93,0.876712,22.594621,0.06,26.99,28.730000
38,SFTBY,RROnly,184.40,189.60,374.00,0.930851,13.281972,0.06,20.74,21.940001
28,RACE,RROnly,1084.76,817.92,1902.68,0.920213,95.890204,0.05,193.27,202.309998
22,HCMLY,RROnly,49.66,47.37,97.03,0.936170,5.496641,0.05,9.92,10.400000
39,ORAN,RROnly,37.86,47.69,85.55,0.914894,8.739891,0.04,11.92,12.390000
23,HENKY,RROnly,78.80,79.12,157.92,0.930851,13.878640,0.03,16.59,17.090000
21,GLOB,RROnly,1149.00,1235.76,2384.76,0.861702,51.973642,0.01,199.76,201.229996
35,RNMBF,RROnly,102.29,-121.43,-19.13,0.303191,80.417524,0.01,198.35,200.130005
37,SAFRF,RROnly,760.83,763.68,1524.50,0.888298,58.534115,0.01,101.83,103.220001
15,ENGGY,RROnly,41.09,37.20,78.29,0.936170,7.567701,0.00,11.56,11.600000
19,FANUY,RROnly,106.34,121.31,227.65,0.946809,11.662837,-0.00,16.23,16.180000
2,AMSSY,RROnly,5.60,56.00,61.61,0.558511,6.987510,0.00,5.80,5.820000
26,NXPI,RROnly,1023.67,439.21,1462.88,0.888298,65.624969,0.00,180.01,180.399994
32,NOK,RROnly,31.19,35.62,66.81,0.952128,2.482591,-0.01,5.00,4.960000
34,PROSF,RROnly,365.02,369.86,734.89,0.951220,43.885099,-0.01,52.60,52.130001
51,ZURVY,RROnly,88.97,50.05,139.02,0.643617,24.608700,-0.01,45.16,44.830002
31,MYTE,RROnly,37.32,80.59,117.91,0.964912,9.954960,-0.02,12.01,11.720000
25,MELI,RROnly,10400.70,7961.75,18362.45,0.909574,285.241168,-0.03,803.99,778.479980
12,EADSF,RROnly,654.75,561.65,1216.40,0.888298,52.064469,-0.03,120.24,116.970001
11,DBOEY,RROnly,72.07,57.61,129.68,0.914894,9.976040,-0.03,16.64,16.110001
4,ADDDF,RROnly,1749.27,1842.48,3591.75,0.936170,172.479922,-0.04,195.00,187.669998
16,ERIC,RROnly,48.26,61.04,109.30,0.930851,6.070209,-0.04,8.22,7.850000
14,EDNMF,RROnly,163.38,170.73,334.11,0.452128,28.185202,-0.04,49.11,47.279999
43,TEAM,RROnly,1541.49,1397.72,2939.21,0.851064,65.400144,-0.04,190.27,183.389999
50,YARIY,RROnly,98.90,77.96,176.86,0.920213,9.794649,-0.05,26.76,25.340000
49,VWAPY,RROnly,147.52,63.48,211.00,0.909574,8.635379,-0.05,16.84,15.980000
30,LVMUY,RROnly,590.41,411.52,1001.93,0.925532,53.086694,-0.05,131.42,124.519997
47,VALE,RROnly,105.62,71.18,176.79,0.888298,5.616442,-0.05,18.54,17.670000
45,TRYIY,RROnly,51.66,61.04,112.70,0.888298,7.530422,-0.05,10.31,9.750000
7,BESIY,RROnly,423.78,323.98,747.76,0.898936,16.342846,-0.06,60.58,56.930000
40,SAP,RROnly,478.86,604.18,1083.04,0.930851,89.482000,-0.06,100.86,94.800003
0,AEXAF,RROnly,-57.10,284.52,227.41,0.558511,31.069204,-0.06,28.25,26.690001
17,ERJ,RROnly,97.78,120.21,217.99,0.898936,4.466958,-0.06,10.92,10.240000
8,COTY,RROnly,93.38,99.46,192.83,0.920213,2.860766,-0.06,7.25,6.790000
44,TEF,RROnly,23.64,28.05,51.69,0.914894,2.874826,-0.08,5.04,4.630000
46,TSM,RROnly,503.35,296.04,799.39,0.867021,32.992276,-0.09,93.11,84.580002
18,ESEA,RROnly,201.63,142.31,343.94,0.835106,2.224723,-0.09,33.66,30.719999
5,ADYEY,RROnly,111.69,107.30,218.99,0.942623,6.714589,-0.10,16.01,14.340000
42,SIEGY,RROnly,306.46,309.18,615.64,0.914894,31.709941,-0.10,67.29,60.549999
10,CX,RROnly,31.31,40.85,72.17,0.904255,1.763409,-0.10,4.39,3.960000
9,COVTY,RROnly,116.15,201.53,317.69,0.898936,12.074702,-0.11,23.53,21.010000
13,EIFZF,RROnly,172.64,112.80,285.44,0.888298,7.860818,-0.12,36.06,31.639999
3,ASML,RROnly,3486.14,2273.24,5759.38,0.888298,149.157828,-0.16,571.69,483.059998
29,LYB,RROnly,550.94,307.63,858.56,0.936170,31.240487,-0.16,109.83,92.669998
41,SHOP,RROnly,6697.70,5712.52,12410.22,0.872340,139.160570,-0.17,360.62,298.850006

In [ ]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'FLN',
            'ECH', 'EWI', 'EWC', 'EWM', 'EWP', 'EWW', 'EWY', 'EWZ',
            'IDX', 'ILF', 'KEMQ', 'THD', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf5a', mod6, False)[0]

loading model from results/cetf5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
14,KEMQ,RROnly,86.92,124.73,211.65,0.835106,14.385566,0.34,16.27,21.850000
9,EWW,RROnly,188.29,117.33,305.62,0.867021,24.501704,0.07,47.41,50.590000
8,EWP,RROnly,68.92,88.00,156.92,0.808511,17.248541,0.06,23.95,25.389999
12,IDX,RROnly,74.19,77.46,151.64,0.888298,10.495694,0.06,20.49,21.790001
1,ARGT,RROnly,156.27,160.05,316.32,0.909574,14.631783,0.06,28.23,29.910000
0,AGT,RROnly,155.25,126.28,281.52,0.925532,12.397123,0.06,23.76,25.150000
5,EWI,RROnly,71.51,66.86,138.38,0.670213,17.689650,0.06,25.26,26.870001
10,EWY,RROnly,248.47,291.43,539.90,0.898936,38.802948,0.04,63.13,65.519997
2,EWD,RROnly,154.30,112.29,266.59,0.904255,20.074241,0.04,33.35,34.660000
16,TUR,RROnly,107.43,114.35,221.78,0.813830,17.334817,0.03,19.37,19.910000
15,THD,RROnly,293.35,257.67,551.03,0.882979,46.903006,0.02,71.60,73.199997
6,EWC,RROnly,103.07,46.04,149.12,0.845745,17.277278,0.01,36.23,36.750000
4,ECH,RROnly,107.16,130.15,237.31,0.877660,16.705116,0.01,27.70,27.980000
17,XCEM,RROnly,93.85,76.99,170.84,0.867021,16.651193,-0.01,27.09,26.820000
7,EWM,RROnly,70.81,78.76,149.57,0.867021,17.670128,-0.02,22.49,22.150000
3,FLN,RROnly,88.17,74.52,162.69,0.882979,9.710906,-0.02,18.69,18.400000
11,EWZ,RROnly,199.59,176.00,375.59,0.872340,18.589744,-0.03,30.53,29.610001
13,ILF,RROnly,109.06,151.74,260.80,0.920213,14.020765,-0.05,24.85,23.510000

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'BLK', 'BGFV',
            'CI', 'CIVI', 'CG', 'CMI', 'COKE', 'DD', 'F', 'FLO',
            'HSII', 'HPE', 'IP', 'IPI', 'JWN', 'KD', 'KHC',
            'M', 'MMM', 'NTR', 'OMC', 
            'PCAR', 'PETS', 'RH', 'REGN', 'SCCO', 'SPTN', 'SWK',
            'T', 'TCN', 'TDG', 'TWI',
            'UNH', 'VRTX', 'VZ', 'WDC', 'WHR', 'WSM', 'XOM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val6a', mod7, True)[0]

In [ ]:
df7.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
18,KD,RROnly,4.93,27.16,32.09,1.000000,10.339757,0.29,9.83,12.690000
16,IPI,RROnly,423.94,356.33,780.27,0.861702,8.425461,0.27,57.25,72.949997
32,TCN,RROnly,4.74,12.39,17.13,0.954545,10.909710,0.16,10.69,12.420000
30,SWK,RROnly,975.64,649.57,1625.22,0.914894,71.822628,0.14,109.96,125.180000
23,OMC,RROnly,253.90,235.41,489.31,0.877660,43.820658,0.10,67.99,74.739998
7,CG,RROnly,197.81,151.19,349.00,0.867021,14.115165,0.09,35.96,39.139999
21,MMM,RROnly,562.23,823.32,1385.55,0.946809,110.887288,0.08,137.65,149.259995
10,DD,RROnly,343.34,485.92,829.26,0.888298,28.432686,0.08,63.53,68.540001
0,APO,RROnly,322.14,216.05,538.19,0.914894,20.484645,0.07,54.45,58.049999
38,WDC,RROnly,366.36,487.98,854.34,0.888298,30.047762,0.06,54.03,57.500000
17,JWN,RROnly,238.68,344.56,583.24,0.872340,12.537513,0.05,26.74,28.180000
40,WSM,RROnly,920.77,670.05,1590.82,0.909574,31.835068,0.05,121.24,126.800003
15,IP,RROnly,222.84,175.76,398.60,0.920213,23.329010,0.04,45.00,46.900002
22,NTR,RROnly,294.29,201.82,496.11,0.845745,24.407943,0.04,86.46,90.269997
36,VRTX,RROnly,903.42,1075.00,1978.42,0.898936,151.059783,0.03,254.88,261.940002
25,PETS,RROnly,142.51,173.08,315.59,0.893617,13.903997,0.03,20.87,21.510000
39,WHR,RROnly,951.52,788.04,1739.56,0.882979,63.390185,0.03,164.35,169.289993
13,HSII,RROnly,216.13,223.20,439.33,0.957447,18.178265,0.03,32.38,33.290001
8,CMI,RROnly,971.57,756.13,1727.69,0.920213,100.288082,0.03,205.50,212.270004
28,SCCO,RROnly,318.34,282.14,600.48,0.936170,21.974169,0.02,60.11,61.200001
2,BAX,RROnly,261.12,328.06,589.18,0.877660,59.706032,0.02,73.12,74.709999
11,F,RROnly,70.53,61.82,132.36,0.840426,4.244076,0.02,12.75,13.000000
33,TDG,RROnly,3079.27,2331.02,5410.29,0.893617,255.247104,0.01,581.13,585.539978
37,VZ,RROnly,127.51,132.99,260.50,0.909574,41.772757,0.00,50.82,51.049999
31,T,RROnly,78.50,54.00,132.50,0.909574,15.424768,0.00,20.69,20.730000
3,BLK,RROnly,3390.88,2936.80,6327.68,0.941489,320.271072,0.00,617.67,620.570007
9,COKE,RROnly,3072.06,1858.33,4930.39,0.877660,135.041446,0.00,582.35,582.520020
24,PCAR,RROnly,343.45,241.46,584.91,0.888298,48.078024,0.00,85.10,85.160004
14,HPE,RROnly,65.77,76.22,142.00,0.888298,7.455636,0.00,14.23,14.280000
12,FLO,RROnly,92.71,55.52,148.22,0.914894,16.169547,0.00,25.07,25.080000
6,CIVI,RROnly,336.99,212.47,549.46,0.861702,9.830719,-0.01,80.66,79.879997
34,TWI,RROnly,94.77,58.20,152.97,0.909574,1.358379,-0.02,17.82,17.480000
35,UNH,RROnly,1905.48,969.00,2874.48,0.914894,194.225572,-0.02,484.63,473.130005
5,CI,RROnly,1095.86,908.96,2004.82,0.893617,129.789971,-0.03,253.29,246.830002
20,M,RROnly,160.13,166.42,326.55,0.914894,4.901218,-0.04,23.04,22.170000
26,RH,RROnly,2756.79,2046.73,4803.52,0.898936,89.789084,-0.05,278.07,265.500000
29,SPTN,RROnly,148.80,83.42,232.22,0.877660,8.396879,-0.07,32.38,30.270000
1,BAH,RROnly,396.78,301.59,698.37,0.941489,41.775793,-0.07,84.91,78.989998
19,KHC,RROnly,125.49,193.35,318.85,0.867021,18.718551,-0.07,37.45,34.900002
41,XOM,RROnly,384.96,290.75,675.72,0.877660,28.449386,-0.08,100.46,92.830002
27,REGN,RROnly,3199.40,2375.15,5574.55,0.914894,282.556906,-0.09,571.81,523.010010
4,BGFV,RROnly,133.03,115.72,248.75,0.835106,1.069686,-0.11,11.27,10.080000

In [ ]:
findata.EPOCHS=200
tickers8 = [ 'GLD', 'JJU', 'PDBC', 'SLV', 'SOYB', 'TIP', 'UUP', 'WEAT']
mod8 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df8 = pipeline.runModelCombined(tickers8, 'com5a', mod8, True)[0]

In [ ]:
df8.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,SLV,RROnly,85.44,76.87,162.31,0.739362,11.749350,0.15,19.42,22.330000
0,GLD,RROnly,390.65,311.79,702.44,0.824468,113.292831,0.04,168.79,176.220001
1,JJU,RROnly,173.07,49.85,222.92,0.686170,33.382429,0.04,59.98,62.139999
5,TIP,RROnly,113.62,38.41,152.03,0.718085,99.163111,0.01,118.71,119.839996
6,UUP,RROnly,27.36,17.83,45.19,0.813830,24.029795,-0.01,27.97,27.740000
4,SOYB,RROnly,57.52,22.88,80.40,0.776596,13.701561,-0.03,27.87,26.940001
7,WEAT,RROnly,16.92,7.88,24.80,0.675532,5.091488,-0.06,11.64,10.930000
2,PDBC,RROnly,43.18,13.22,56.40,0.664894,7.598456,-0.09,18.97,17.309999

In [ ]:
findata.EPOCHS=200
tickers9 = [ 'BTC-USD', 'ETH-USD', 'ADA-USD']
mod9 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df9 = pipeline.runModelCombined(tickers9, 'cry', mod9, False)[0]

loading model from results/cry-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df9.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
2,ADA-USD,RROnly,8.33,5.09,13.42,0.606383,0.136180,0.22,0.52,0.630000
0,BTC-USD,RROnly,221400.25,126406.72,347806.97,0.643617,7463.825779,0.17,29253.36,34109.039062
1,ETH-USD,RROnly,23840.15,4881.19,28721.34,0.648936,284.636319,0.17,1964.30,2291.169922

In [6]:
findata.EPOCHS=200
tickers10 = [ 'ACHC', 'ALKS', 'ASH', 'ATKR', 'BECN', 'CF', 'CNQ', 'CVX', 'DLTR',
             'EQNR', 'GLNG', 'HWM', 'IMXI', 'LLY',
             'MRK', 'MU', 'NOC', 'ULTA', 'VAL', 'VRTX', 'WRB' ]
mod10 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df10 = pipeline.runModelCombined(tickers10, 'trade-6a', mod10, False)[0]

loading model from results/trade-6a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [7]:
df10.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
15,MU,RROnly,111.91,12.90,124.81,0.489362,34.910918,0.19,62.62,74.320000
5,CF,RROnly,248.49,62.52,311.01,0.627660,23.942526,0.16,87.72,101.519997
10,GLNG,RROnly,133.02,152.72,285.75,0.909574,5.043784,0.08,23.80,25.760000
12,IMXI,RROnly,101.14,73.79,174.93,0.914894,7.425514,0.08,19.17,20.719999
14,MRK,RROnly,337.53,167.53,505.06,0.930851,51.666977,0.07,87.18,93.169998
18,VAL,RROnly,126.73,17.38,144.11,0.909091,21.591556,0.06,56.04,59.250000
11,HWM,RROnly,37.97,-3.01,34.96,0.585106,13.181857,0.05,33.98,35.599998
19,VRTX,RROnly,623.40,73.74,697.14,0.632979,162.260983,0.05,254.88,266.690002
13,LLY,RROnly,1099.89,493.78,1593.66,0.861702,81.678482,0.05,297.01,310.720001
0,ACHC,RROnly,291.78,227.43,519.21,0.845745,12.814976,0.05,68.23,71.860001
2,ASH,RROnly,364.19,404.01,768.20,0.861702,39.924889,0.05,102.72,107.379997
3,ATKR,RROnly,556.82,236.45,793.27,0.808511,13.698877,0.03,103.02,106.449997
1,ALKS,RROnly,51.62,79.78,131.40,0.702128,14.554104,0.02,27.46,28.020000
8,DLTR,RROnly,704.36,429.87,1134.23,0.861702,67.597219,0.02,156.00,159.889999
20,WRB,RROnly,201.89,106.72,308.61,0.867021,28.604779,0.02,68.26,69.480003
16,NOC,RROnly,1475.07,1171.35,2646.42,0.909574,218.528081,0.01,463.82,468.260010
17,ULTA,RROnly,1015.61,494.31,1509.92,0.590426,153.690892,-0.00,407.72,407.079987
9,EQNR,RROnly,154.70,103.10,257.80,0.909574,8.628615,-0.01,35.89,35.490002
4,BECN,RROnly,299.78,231.93,531.71,0.872340,12.985402,-0.01,61.75,61.150002
7,CVX,RROnly,580.09,350.33,930.42,0.872340,50.441892,-0.04,175.40,168.279999
6,CNQ,RROnly,129.27,26.00,155.27,0.601064,9.649030,-0.06,64.85,60.910000

In [8]:
findata.G_LOOKUP_STEP = 5
mod11 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df11 = pipeline.runModelCombined(tickers10, 'trade-6a', mod11, False)[0]

loading model from results/trade-6a-sh-1-sc-1-sbd-0-seq-50-step-5-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [9]:
df11.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
5,CF,RROnly,87.46,48.64,136.10,0.568421,22.034005,0.06,87.72,92.790001
3,ATKR,RROnly,63.69,60.07,123.76,0.505263,14.791693,0.05,103.02,108.610001
10,GLNG,RROnly,5.80,29.30,35.10,0.573684,5.610523,0.04,23.80,24.719999
15,MU,RROnly,45.60,36.85,82.45,0.494737,31.757483,0.04,62.62,65.160004
19,VRTX,RROnly,220.93,239.39,460.32,0.573684,154.330899,0.03,254.88,261.779999
12,IMXI,RROnly,22.60,17.63,40.23,0.573684,7.705059,0.03,19.17,19.680000
11,HWM,RROnly,8.60,3.09,11.69,0.547368,11.604169,0.02,33.98,34.590000
18,VAL,RROnly,22.92,6.54,29.46,0.565217,22.305205,0.02,56.04,57.360001
14,MRK,RROnly,54.38,41.18,95.56,0.600000,52.555743,0.02,87.18,88.589996
8,DLTR,RROnly,138.81,42.38,181.19,0.552632,69.224943,0.02,156.00,158.580002
13,LLY,RROnly,207.09,114.87,321.96,0.563158,83.971048,0.01,297.01,300.410004
0,ACHC,RROnly,46.83,52.40,99.23,0.605263,13.833182,0.01,68.23,68.800003
1,ALKS,RROnly,26.12,10.24,36.36,0.542105,14.114847,0.01,27.46,27.760000
2,ASH,RROnly,32.39,58.14,90.52,0.542105,40.805108,0.01,102.72,103.320000
16,NOC,RROnly,409.66,74.73,484.39,0.584211,221.967214,0.00,463.82,465.220001
4,BECN,RROnly,49.23,10.05,59.28,0.531579,13.661218,-0.00,61.75,61.509998
20,WRB,RROnly,58.18,20.74,78.92,0.589474,28.967407,0.00,68.26,68.529999
9,EQNR,RROnly,20.57,6.70,27.27,0.526316,8.944013,-0.01,35.89,35.709999
7,CVX,RROnly,48.48,94.82,143.30,0.536842,51.473568,-0.01,175.40,173.000000
6,CNQ,RROnly,56.96,22.71,79.67,0.557895,8.117778,-0.01,64.85,63.970001
17,ULTA,RROnly,301.50,356.99,658.49,0.589474,139.874680,-0.01,407.72,405.570007

In [ ]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/* /content/drive/MyDrive/colab/results/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +60 -delete -print