In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [4]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [5]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FTCH', 'GFS', 'GLBE',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'PAR', 'PD', 'PTON', 'RBLX',  'REAL', 'SNOW',
           'SFIX', 'SPLK', 'STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos3a', mod, True, loss=lossfn)[0]

In [ ]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,AI,RROnly,44.69,255.51,300.20,0.820000,22.089260,0.48,20.05,29.660000
30,NET,RROnly,455.37,676.18,1131.55,0.848214,17.497948,0.33,100.91,134.119995
6,BMBL,RROnly,84.69,155.63,240.32,0.902439,19.260415,0.33,18.08,23.980000
25,MNDY,RROnly,74.52,970.17,1044.69,0.920000,138.292882,0.32,135.91,179.169998
2,AFRM,RROnly,343.79,391.59,735.38,0.911111,38.690876,0.29,35.82,46.130001
31,NVAX,RROnly,1590.53,1597.82,3188.35,0.792553,8.504409,0.28,71.72,92.160004
27,MQ,RROnly,37.83,79.93,117.76,0.960000,9.692616,0.24,9.50,11.790000
15,DOCU,RROnly,1394.05,1239.55,2633.60,0.873626,41.885818,0.23,101.38,125.180000
18,FTCH,RROnly,313.33,276.12,589.45,0.869565,7.947100,0.19,14.74,17.590000
39,SFIX,RROnly,367.61,605.33,972.94,0.882979,12.461465,0.15,11.17,12.820000
14,DOCS,RROnly,17.55,181.90,199.45,0.956522,42.999493,0.14,48.50,55.150002
44,TOST,RROnly,10.99,19.42,30.41,0.800000,19.563896,0.13,17.89,20.190001
28,MXL,RROnly,283.77,154.91,438.68,0.882979,8.889133,0.12,55.98,62.619999
32,NVCR,RROnly,1021.77,1152.82,2174.60,0.888298,22.687642,0.12,69.46,77.739998
7,CFLT,RROnly,125.94,47.76,173.70,0.913043,39.221288,0.11,35.60,39.520000
38,SNOW,RROnly,548.94,1104.46,1653.40,0.903226,195.473329,0.09,209.65,228.029999
41,STEM,RROnly,95.52,136.76,232.28,0.896552,9.399686,0.08,8.18,8.840000
8,CRCT,RROnly,7.83,103.35,111.18,0.828571,15.336083,0.08,14.50,15.600000
48,U,RROnly,303.01,571.56,874.57,0.950820,71.925888,0.07,89.01,94.889999
50,Z,RROnly,678.13,838.33,1516.46,0.914894,26.963964,0.06,51.71,54.919998
1,ACLS,RROnly,334.19,202.59,536.78,0.909574,14.404934,0.06,61.63,65.220001
35,PTON,RROnly,511.93,553.11,1065.04,0.909910,22.237651,0.05,23.49,24.709999
36,RBLX,RROnly,166.54,333.85,500.39,1.000000,44.944661,0.05,42.29,44.590000
10,DASH,RROnly,271.17,425.41,696.58,0.920000,94.228136,0.04,89.86,93.199997
12,DDOG,RROnly,863.11,486.02,1349.14,0.928571,30.700440,0.03,142.19,146.529999
13,DOCN,RROnly,256.25,254.52,510.77,0.972222,38.149954,0.03,51.37,52.750000
20,GLBE,RROnly,47.16,114.45,161.61,0.896552,27.901153,0.02,32.43,32.930000
47,TWTR,RROnly,445.77,424.83,870.60,0.920213,23.077303,0.01,33.39,33.820000
11,DBX,RROnly,118.32,175.18,293.50,0.887701,16.127468,0.01,22.00,22.200001
22,LYFT,RROnly,275.84,383.08,658.92,0.933824,17.280609,-0.02,35.28,34.459999
24,MDB,RROnly,2865.83,1356.55,4222.38,0.893617,42.806027,-0.02,306.11,300.480011
52,ZM,RROnly,1814.64,2049.59,3864.23,0.947368,69.939024,-0.03,108.94,105.879997
0,ABNB,RROnly,286.15,327.82,613.97,0.940000,128.410469,-0.04,142.70,136.470001
17,EXPE,RROnly,887.41,617.10,1504.52,0.867021,48.514141,-0.06,176.23,165.389999
42,SWAV,RROnly,827.11,613.01,1440.12,0.913669,26.688889,-0.07,176.03,164.289993
26,MPWR,RROnly,2231.77,983.77,3215.54,0.856383,107.117849,-0.08,413.78,381.140015
40,SPLK,RROnly,1161.27,1353.56,2514.83,0.946809,91.094683,-0.08,129.06,118.199997
45,TTD,RROnly,531.22,458.83,990.06,0.914894,6.353372,-0.09,75.66,68.750000
34,PAR,RROnly,432.32,415.58,847.90,0.882979,11.704235,-0.10,38.34,34.549999
16,ESTC,RROnly,933.40,888.52,1821.92,0.924528,46.211371,-0.10,79.65,71.320000
37,REAL,RROnly,95.50,202.47,297.97,0.918699,6.058218,-0.11,7.39,6.540000
29,MTCH,RROnly,812.24,573.38,1385.62,0.888298,34.997345,-0.14,96.59,82.790001
19,GFS,RROnly,9.98,12.71,22.69,0.800000,47.038705,-0.14,60.69,52.230000
46,TWLO,RROnly,1916.46,1989.34,3905.80,0.882979,42.094343,-0.14,148.82,128.360001
21,INMD,RROnly,230.04,231.63,461.67,0.837607,8.219393,-0.15,38.48,32.860001
4,AMBA,RROnly,873.66,639.48,1513.14,0.882979,34.150196,-0.16,87.53,73.290001
9,CRWD,RROnly,1248.98,977.11,2226.09,0.896000,37.554218,-0.17,179.03,148.580002
33,OKTA,RROnly,1336.60,1106.41,2443.01,0.872340,41.444734,-0.17,158.41,132.029999
43,TDOC,RROnly,1238.25,1207.85,2446.10,0.920213,42.842956,-0.17,66.78,55.630001
51,ZEN,RROnly,779.58,579.95,1359.53,0.946809,46.918928,-0.19,119.81,97.440002
5,BILL,RROnly,1238.22,743.68,1981.90,0.920000,35.080881,-0.22,205.26,161.050003
49,UBER,RROnly,243.18,262.05,505.23,0.930769,15.766246,-0.23,29.83,22.969999
23,MAXR,RROnly,275.45,401.41,676.86,0.909574,4.786686,-0.25,33.05,24.680000

In [ ]:
findata.EPOCHS=200
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX',
            'GBTC', 'GLD',
            'ICLN', 'IJR', 'IPO', 'IPOS', 'IWM',
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'QQQ', 'SLV','SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf2b', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

loading model from results/etf2b-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df1.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
0,ARKK,RROnly,447.93,328.46,776.39,0.702128,38.043836,0.28,60.23,76.940002
1,ARKW,RROnly,398.66,499.04,897.70,0.702128,42.583915,0.20,77.66,93.279999
12,IPOS,RROnly,46.66,50.47,97.13,0.707447,18.680599,0.19,18.71,22.250000
7,GBTC,RROnly,152.20,94.54,246.74,0.643617,6.588279,0.14,26.13,29.879999
11,IPO,RROnly,215.53,95.73,311.26,0.691489,23.386561,0.14,40.26,45.700001
9,ICLN,RROnly,95.46,57.63,153.09,0.718085,8.422411,0.06,19.42,20.670000
2,DAPP,RROnly,15.75,57.26,73.01,0.757576,14.323566,0.05,12.62,13.270000
5,EEM,RROnly,86.95,96.55,183.50,0.707447,30.717654,0.03,44.62,45.779999
14,JETS,RROnly,55.54,93.33,148.87,0.654255,13.233784,0.03,19.03,19.570000
13,IWM,RROnly,547.27,423.63,970.90,0.734043,102.147598,0.02,198.66,202.820007
21,SMH,RROnly,638.60,241.47,880.07,0.686170,85.722217,0.00,255.35,255.750000
20,SLV,RROnly,31.82,45.63,77.45,0.579787,11.977656,-0.00,23.64,23.600000
29,XLC,RROnly,140.52,90.76,231.28,0.742857,39.612319,-0.01,66.49,65.570000
19,QQQ,RROnly,896.28,472.03,1368.31,0.787234,147.490439,-0.01,337.30,333.540009
10,IJR,RROnly,262.21,192.38,454.59,0.734043,50.057560,-0.01,106.33,104.790001
8,GLD,RROnly,150.46,-14.99,135.47,0.500000,115.506734,-0.01,183.68,180.979996
23,SPY,RROnly,977.21,370.73,1347.94,0.760638,224.180601,-0.02,432.17,424.420013
3,DIA,RROnly,748.82,433.52,1182.35,0.760638,185.892165,-0.03,336.47,325.220001
28,XLB,RROnly,179.59,100.59,280.18,0.771277,38.773180,-0.03,83.06,80.930000
33,XLK,RROnly,462.66,179.04,641.70,0.797872,58.922523,-0.03,149.75,145.940002
36,XLV,RROnly,262.67,45.84,308.51,0.670213,75.129006,-0.03,132.52,128.589996
22,SMOG,RROnly,428.51,248.92,677.43,0.686170,55.233524,-0.03,130.52,126.220001
4,DTEC,RROnly,110.48,107.52,218.01,0.744681,23.252253,-0.03,40.02,38.709999
17,MOAT,RROnly,164.69,51.27,215.96,0.686170,38.135953,-0.03,72.76,70.430000
31,XLF,RROnly,98.10,50.21,148.31,0.723404,17.927218,-0.04,37.23,35.860001
6,FPX,RROnly,349.27,199.84,549.11,0.787234,58.046521,-0.04,100.18,95.930000
24,VNQ,RROnly,238.09,206.23,444.32,0.712766,55.611838,-0.05,105.24,99.610001
18,MTUM,RROnly,408.74,251.74,660.48,0.734043,92.283506,-0.05,157.07,149.050003
37,XLY,RROnly,343.97,188.85,532.82,0.680851,90.166195,-0.05,171.60,163.100006
32,XLI,RROnly,208.84,130.75,339.60,0.659574,49.869870,-0.06,100.39,94.010002
35,XLU,RROnly,143.73,80.59,224.32,0.606383,44.080287,-0.07,70.89,66.209999
38,XME,RROnly,55.70,30.53,86.23,0.558511,15.972094,-0.07,59.11,55.169998
30,XLE,RROnly,163.03,26.65,189.68,0.622340,24.120215,-0.07,75.23,70.160004
27,WDIV,RROnly,108.38,89.43,197.81,0.702128,38.929489,-0.09,65.27,59.250000
34,XLRE,RROnly,108.57,61.87,170.44,0.696809,24.964115,-0.09,46.67,42.660000
15,MGK,RROnly,639.17,234.49,873.66,0.792553,101.439254,-0.09,218.57,199.509995
26,VTI,RROnly,506.10,275.04,781.14,0.760638,112.351919,-0.09,217.96,199.389999
16,MGV,RROnly,151.16,63.96,215.12,0.659574,55.953637,-0.10,105.47,94.629997
25,VT,RROnly,259.17,42.65,301.82,0.755319,54.337827,-0.12,96.99,85.650002

In [ ]:
findata.EPOCHS=200
tickers3 = [ 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGFV', 'BGSF', 'BLNK', 'CBNT', 'CLOV',
            'DMTK', 'EVGO', 'EXPR', 'MULN', 'FSLY', 'GOGO', 'HIVE', 
            'ILAL', 'INLX', 'JMIA', 'JOBY',  'KULR', 'MTTR',
            'NEPH', 'ONDS', 'OSTK', 'PETS', 'RIG', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

loading model from results/vols-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df3.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
9,CBNT,RROnly,3.27,11.98,15.25,0.377049,0.085327,6.60,0.02,0.130000
15,FSLY,RROnly,629.88,515.96,1145.84,0.938462,13.258549,1.88,13.37,38.490002
11,DMTK,RROnly,281.64,258.79,540.43,0.760638,5.918399,1.63,11.88,31.290001
1,AHT,RROnly,1638.64,3351.92,4990.57,0.808511,15.913951,1.40,8.00,19.200001
29,STEM,RROnly,139.52,163.69,303.21,0.900000,8.914942,1.40,7.53,18.080000
4,ATOM,RROnly,197.36,138.39,335.75,0.813830,3.210989,1.13,10.90,23.190001
17,HIVE,RROnly,21.52,22.56,44.08,0.787234,0.151954,0.97,1.62,3.190000
5,BKKT,RROnly,9.01,7.14,16.15,0.875000,4.176921,0.81,4.62,8.360000
31,VRAR,RROnly,31.73,24.98,56.71,0.913043,6.488660,0.70,5.22,8.850000
2,AMSC,RROnly,140.68,141.71,282.39,0.872340,5.132317,0.59,7.49,11.890000
18,ILAL,RROnly,0.97,2.64,3.61,0.893617,0.442942,0.49,0.47,0.700000
24,NEPH,RROnly,48.04,58.09,106.13,0.808511,3.729366,0.48,3.92,5.800000
23,MTTR,RROnly,69.14,62.76,131.91,0.818182,6.888422,0.32,6.76,8.910000
20,JMIA,RROnly,231.59,233.09,464.68,0.874074,3.481948,0.28,6.67,8.550000
32,WISH,RROnly,5.61,59.79,65.40,0.800000,2.226703,0.26,1.78,2.240000
26,OSTK,RROnly,713.40,806.59,1519.99,0.898936,4.878775,0.24,43.15,53.599998
0,AUGX,RROnly,0.68,1.98,2.66,0.857143,2.288919,0.24,2.40,2.960000
13,EXPR,RROnly,8.15,2.47,10.62,0.462766,1.650613,0.23,3.43,4.230000
30,SFT,RROnly,25.25,55.22,80.47,0.750000,1.842781,0.16,1.62,1.870000
10,CLOV,RROnly,53.75,50.56,104.31,0.881579,2.388651,0.13,2.71,3.080000
3,ASTR,RROnly,39.78,62.07,101.85,0.933333,3.563558,0.09,3.51,3.810000
21,JOBY,RROnly,6.86,35.86,42.72,0.872727,3.896747,0.07,4.24,4.530000
12,EVGO,RROnly,27.67,54.21,81.88,0.905660,7.675681,0.03,11.04,11.420000
14,MULN,RROnly,24.65,57.31,81.96,0.659574,2.061195,-0.03,1.83,1.770000
25,ONDS,RROnly,17.67,33.87,51.54,0.903846,4.389086,-0.04,4.93,4.750000
27,PETS,RROnly,118.21,217.83,336.04,0.824468,14.379051,-0.04,26.69,25.620001
6,BGFV,RROnly,126.76,93.37,220.14,0.750000,1.245470,-0.07,15.67,14.550000
28,RIG,RROnly,-15.72,3.44,-12.28,0.425532,2.103342,-0.08,4.16,3.840000
22,KULR,RROnly,21.30,27.55,48.85,0.831395,0.888284,-0.09,2.06,1.870000
16,GOGO,RROnly,112.51,87.06,199.57,0.888298,1.763720,-0.12,17.19,15.100000
8,BLNK,RROnly,280.93,234.02,514.95,0.787234,2.267142,-0.14,22.08,18.980000
7,BGSF,RROnly,106.48,150.29,256.78,0.893617,6.175651,-0.21,13.70,10.810000
19,INLX,RROnly,59.84,66.82,126.66,0.744681,0.311562,-0.24,6.25,4.740000

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CRM', 'COST', 'CSCO', 'DHR', 'DIS', 'GOOGL', 'FB',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'SBUX', 'TMO']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df4 = pipeline.runModelCombined(tickers4, 'megacap3a', mod4, True)[0]
# !cp results/mcap* /content/drive/MyDrive/colab/results/

In [ ]:
df4.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
0,AAPL,RROnly,645.89,292.12,938.01,0.877660,36.455087,0.16,150.88,175.300003
20,MSFT,RROnly,1011.30,419.43,1430.74,0.914894,87.967537,0.10,278.04,305.540009
14,GOOGL,RROnly,7746.87,5294.34,13041.21,0.882979,1010.429784,0.08,2520.35,2727.719971
27,TMO,RROnly,1880.38,962.63,2843.01,0.851064,208.088939,0.05,535.64,562.359985
17,INTC,RROnly,298.84,257.40,556.24,0.893617,39.674619,0.03,44.40,45.910000
3,AMD,RROnly,656.00,316.80,972.80,0.829787,11.619147,0.01,101.67,102.430000
10,COST,RROnly,1631.83,805.05,2436.88,0.888298,177.037859,0.00,524.78,526.640015
23,NOW,RROnly,2553.09,1744.75,4297.84,0.819149,166.138514,-0.01,497.41,490.100006
11,CSCO,RROnly,229.42,164.65,394.07,0.882979,31.895935,-0.01,54.12,53.700001
25,PYPL,RROnly,1132.26,1025.25,2157.51,0.845745,75.571813,-0.02,96.96,94.559998
21,NKE,RROnly,637.63,269.89,907.52,0.877660,63.703126,-0.02,117.40,114.489998
16,HD,RROnly,1095.19,881.49,1976.68,0.872340,149.889321,-0.02,317.11,309.649994
7,BKNG,RROnly,8664.12,10614.07,19278.19,0.840426,1187.095471,-0.02,1994.66,1945.329956
5,AVGO,RROnly,2256.62,944.48,3201.10,0.893617,162.409888,-0.03,565.12,550.679993
2,ADBE,RROnly,2416.91,1776.82,4193.73,0.893617,212.570967,-0.03,408.99,398.130005
13,DIS,RROnly,612.84,454.42,1067.26,0.856383,88.101921,-0.03,129.01,124.900002
1,ACN,RROnly,1207.10,916.47,2123.56,0.909574,131.493185,-0.03,304.59,295.510010
4,AMZN,RROnly,13480.92,11094.53,24575.45,0.888298,1385.626693,-0.03,2840.08,2764.300049
18,IBM,RROnly,508.47,645.78,1154.26,0.925532,83.211617,-0.03,123.45,120.320000
19,ISRG,RROnly,1274.49,876.53,2151.03,0.893617,126.801107,-0.04,264.67,254.589996
15,FB,RROnly,1348.03,1570.24,2918.27,0.914894,128.851438,-0.05,189.30,180.589996
22,NVDA,RROnly,1509.54,584.20,2093.74,0.877660,36.139416,-0.06,212.10,199.649994
8,BRK-B,RROnly,1012.33,401.69,1414.02,0.909574,164.603396,-0.06,328.87,310.519989
26,SBUX,RROnly,405.77,363.72,769.49,0.930851,46.556465,-0.06,79.11,74.730003
6,BA,RROnly,1459.74,2439.75,3899.49,0.909574,101.092475,-0.08,172.93,159.910004
12,DHR,RROnly,943.27,595.02,1538.29,0.888298,97.063959,-0.12,266.23,233.740005
9,CRM,RROnly,1072.26,1002.55,2074.81,0.861702,116.654346,-0.14,192.31,164.800003
24,ORCL,RROnly,275.04,195.82,470.87,0.872340,39.548734,-0.18,77.18,63.400002

In [ ]:
findata.EPOCHS=200
tickers5 = ['ALSMY', 'ASML', 'ADDDF', 'BASFY', 'BESIY', 'COTY', 'COVTY', 'CX',
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'FTCH', 'HCMLY', 'HENKY', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'NOK', 'OTLY', 'PROSF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE', 'SPOT',
            'TEAM', 'TEF', 'TRYIY', 'TSM',
            'VALE', 'VWAPY', 'YARIY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock', mod5, False)[0]

In [7]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
24,OZON,RROnly,41.88,215.89,257.77,0.907407,13.380956,0.43,11.60,16.610001
21,HENKY,RROnly,56.60,69.01,125.61,0.856383,14.118447,0.14,16.90,19.190001
30,OTLY,RROnly,-9.90,13.82,3.92,0.533333,6.395238,0.12,5.72,6.380000
32,RYCEF,RROnly,-9.00,18.96,9.96,0.526596,1.851026,0.12,1.25,1.400000
13,ERIC,RROnly,40.55,50.07,90.62,0.845745,6.061151,0.11,9.05,10.010000
42,TEF,RROnly,20.60,28.74,49.35,0.914894,2.978119,0.09,4.57,4.970000
28,MYTE,RROnly,21.06,56.35,77.41,0.804348,12.360324,0.08,11.86,12.780000
17,DNMR,RROnly,140.28,171.58,311.87,0.873418,4.482022,0.08,5.66,6.110000
33,SAFRF,RROnly,117.85,243.49,361.34,0.606383,66.999009,0.07,113.25,121.129997
23,NXPI,RROnly,817.41,646.42,1463.83,0.797872,66.711916,0.05,192.42,201.610001
18,GLOB,RROnly,1301.86,831.26,2133.12,0.835106,48.627232,0.05,275.15,287.890015
25,RACE,RROnly,797.39,654.64,1452.03,0.877660,98.101223,0.05,209.61,219.149994
11,EDNMF,RROnly,80.88,32.74,113.61,0.377660,29.846636,0.05,49.11,51.799999
3,BASFY,RROnly,70.55,109.60,180.15,0.920213,9.784635,0.04,14.96,15.500000
14,ERJ,RROnly,47.79,82.61,130.39,0.686170,5.527822,0.04,12.07,12.580000
19,FTCH,RROnly,289.66,285.39,575.05,0.889571,7.978472,0.04,14.33,14.920000
35,ORAN,RROnly,24.26,42.60,66.86,0.872340,9.080447,0.03,11.64,12.000000
34,SFTBY,RROnly,189.07,172.06,361.13,0.920213,13.314479,0.02,21.68,22.030001
9,EADSF,RROnly,117.88,152.03,269.91,0.542553,58.781362,0.02,116.25,118.989998
31,PROSF,RROnly,117.31,161.08,278.39,0.646018,54.625714,0.02,58.36,59.660000
40,SPOT,RROnly,1654.18,1629.31,3283.49,0.909091,112.310071,0.01,144.78,145.580002
29,NOK,RROnly,29.07,30.89,59.97,0.930851,2.512560,0.00,5.33,5.340000
0,ALSMY,RROnly,1.92,-0.92,1.00,0.526596,2.280361,-0.00,2.36,2.350000
15,ESEA,RROnly,233.12,164.19,397.31,0.792553,2.432624,-0.00,29.70,29.690001
44,TSM,RROnly,329.77,62.62,392.39,0.632979,36.569993,-0.02,106.72,104.870003
2,ADDDF,RROnly,1396.57,1528.10,2924.67,0.813830,178.717914,-0.03,245.55,238.759995
20,HCMLY,RROnly,24.67,27.25,51.92,0.675532,5.872841,-0.03,9.99,9.730000
39,STNE,RROnly,410.70,268.96,679.66,0.779874,10.189117,-0.03,13.65,13.300000
6,COVTY,RROnly,121.70,156.50,278.20,0.803191,13.755466,-0.04,26.35,25.190001
1,ASML,RROnly,3099.40,2179.74,5279.14,0.861702,151.646454,-0.04,679.86,649.969971
26,LYB,RROnly,353.66,264.76,618.42,0.734043,35.063809,-0.05,102.43,97.360001
46,VWAPY,RROnly,119.23,194.81,314.04,0.882979,9.321337,-0.05,17.08,16.250000
36,SAP,RROnly,209.12,152.00,361.12,0.569149,98.524019,-0.06,115.36,108.790001
27,LVMUY,RROnly,636.75,298.78,935.53,0.867021,54.282834,-0.07,143.16,133.399994
12,ENGGY,RROnly,35.18,32.93,68.11,0.882979,7.589220,-0.07,11.07,10.350000
4,BESIY,RROnly,182.17,50.10,232.27,0.632979,21.454871,-0.07,87.77,82.040001
8,DBOEY,RROnly,68.07,40.34,108.42,0.882979,10.204692,-0.08,17.82,16.480000
38,SIEGY,RROnly,164.96,108.15,273.10,0.659574,31.610600,-0.09,75.42,68.980003
47,YARIY,RROnly,29.81,21.37,51.19,0.558511,11.368063,-0.10,25.26,22.770000
43,TRYIY,RROnly,10.40,26.56,36.96,0.595745,7.702143,-0.10,10.73,9.650000
10,EIFZF,RROnly,144.81,121.59,266.40,0.824468,7.906642,-0.11,32.54,29.049999
16,FANUY,RROnly,7.14,49.04,56.18,0.579787,12.454976,-0.12,17.87,15.770000
7,CX,RROnly,9.85,9.14,18.99,0.515957,2.123200,-0.13,5.27,4.590000
5,COTY,RROnly,62.19,98.89,161.08,0.867021,2.981338,-0.19,9.06,7.340000
45,VALE,RROnly,92.11,76.95,169.06,0.893617,5.517588,-0.20,19.06,15.320000
41,TEAM,RROnly,1663.63,1213.46,2877.09,0.851064,60.313995,-0.22,294.73,230.210007
22,MELI,RROnly,9378.72,6695.40,16074.12,0.867021,287.960332,-0.30,1185.53,829.450012
37,SHOP,RROnly,6942.54,6577.45,13519.99,0.893617,140.392069,-0.35,780.00,509.260010

In [ ]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'FLN', 'EWC', 'EWM', 'EWP',
            'EWZ', 'IDX', 'ILF', 'KEMQ', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf3b', mod6, True)[0]

In [12]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
10,KEMQ,RROnly,110.32,103.40,213.72,0.904255,15.341025,0.23,18.62,22.950001
11,TUR,RROnly,100.02,163.91,263.92,0.914894,17.471670,0.05,19.50,20.410000
5,EWM,RROnly,69.46,62.68,132.14,0.877660,17.849034,0.03,25.65,26.360001
8,IDX,RROnly,84.00,102.18,186.18,0.941489,10.522772,-0.01,20.85,20.559999
0,AGT,RROnly,127.93,121.97,249.90,0.941489,12.567995,-0.02,29.23,28.570000
1,ARGT,RROnly,145.98,132.59,278.57,0.909574,14.647052,-0.02,34.08,33.470001
6,EWP,RROnly,92.61,105.58,198.19,0.888298,17.378038,-0.02,25.48,24.870001
4,EWC,RROnly,103.19,78.90,182.09,0.882979,17.326936,-0.04,39.78,38.240002
7,EWZ,RROnly,194.64,147.83,342.47,0.904255,19.251142,-0.04,34.65,33.209999
3,FLN,RROnly,84.01,57.43,141.45,0.914894,9.682634,-0.05,19.84,18.850000
9,ILF,RROnly,139.75,114.16,253.91,0.920213,14.544259,-0.08,28.15,25.889999
12,XCEM,RROnly,89.90,56.76,146.65,0.872340,16.662716,-0.09,30.49,27.870001
2,EWD,RROnly,151.73,120.00,271.73,0.877660,20.654167,-0.11,40.05,35.790001

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'CG', 'DE', 'F',
            'HSII', 'HPE', 'IP', 'JWN', 'M',
            'RH', 'REGN', 'TDG', 'UNH', 'VRTX', 'WDC', 'WSM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val3a', mod7, True)[0]

In [ ]:
df7.sort_values('Gain', ascending=False)

   Ticker    Name      Buy     Sell  ...       Error  Gain    Last   Predicted
6      IP  RROnly   181.67   154.27  ...   23.696441  0.08   42.36   45.570000
0     APO  RROnly   304.94   214.64  ...   20.834689  0.05   65.36   68.519997
5    HSII  RROnly   211.57   233.26  ...   18.318473  0.05   41.39   43.439999
10   REGN  RROnly  2578.81  2056.72  ...  283.490136  0.04  614.73  641.909973
9      RH  RROnly  2819.03  1997.44  ...   88.466471  0.03  400.51  414.019989
4       F  RROnly    87.72    69.80  ...    4.316892 -0.00   17.73   17.660000
11    TDG  RROnly  2930.71  1668.55  ...  255.536720  0.00  665.69  667.909973
1     BAX  RROnly   333.17   273.14  ...   60.040865 -0.02   85.36   83.400002
12   VRTX  RROnly   996.22   966.51  ...  149.590458 -0.03  236.61  228.789993
2      CG  RROnly   201.69   152.62  ...   14.378342 -0.06   46.67   43.869999
8       M  RROnly   131.22   170.88  ...    5.072420 -0.07   25.83   24.110001
13    WSM  RROnly   823.51   549.87  ...   33.191967 -0.09  150.34  136.839996
7     JWN  RROnly   253.76   272.63  ...   13.069061 -0.10   26.13   23.459999
3      DE  RROnly  1162.33   534.06  ...  113.714148 -0.17  381.99  318.470001

[14 rows x 10 columns]

In [ ]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/ /content/drive/MyDrive/colab/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +60 -delete -print