In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

Todos:

 

1.   Load previously saved model before training
2.   Allow eval only without test/train spliting
3.   Incremental data load
4.    Add S&P, QQQ etc to the model
5. Save model to google drive

In [4]:
import runml.pipeline
from runml import pipeline,findata
#from importlib import reload
# reload(runml.pipeline)

In [ ]:
findata.EPOCHS=200
tickers = [
           'ABNB', 'ACLS', 'AFRM', 'AHT','AI', 'AMBA', 'AMSC', 'APO', 'ASTR', 'ATOM',
           'BGFV', 'BILL', 'BKKT', 'BMBL',
           'CBNT', 'CFLT', 'CLOV', 'CRCT', 'CRWD',
           'DDOG', 'DNMR', 'DOCN', 'DOCS', 'DOCU',
           'ERJ', 'ESEA', 'EVGO', 'EXPE',
           'FSLY', 'FTCH', 'GLBE', 'GLOB', 'GOGO', 'HIVE', 'HSII',
           'ILAL', 'INMD', 'JOBY', 'JWN', 'KULR', 'LYB',
           'MDB',  'MELI', 'MNDY', 'MPWR', 'MQ', 'MSCI', 'MXL',
           'MTCH', 'MYTE', 'NARI', 'NEPH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'ONDS',
           'PAR', 'PETS', 'PTON', 'RACE','RBLX', 'RDFN', 'REGN',
           'SFT', 'SFTBY', 'SHOP', 'SNOW',
           'SPOT', 'STEM', 'STNE', 'SWAV',
           'TDOC', 'TOST','TREX', 'TWLO', 'TWTR', 
           'U','UBER','ULH', 'VRAR', 'VRTX', 'WISH', 'Z', 'ZM']
mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df = pipeline.runModelCombined(tickers, 'ipos2b', mod, False)

In [6]:
df.sort_values('Gain', ascending=False)

   Ticker    Name    Buy   Sell  Total  Gain    Last  Predicted
10   BGFV  RROnly  19.66  21.23  40.89  1.06   16.35      33.63
20   DNMR  RROnly  10.87  11.38  22.25  1.00    3.67       7.35
28   FSLY  RROnly   7.86  11.01  18.87  0.47   18.70      27.49
84     ZM  RROnly   5.61  10.16  15.77  0.38  126.96     175.13
70   STNE  RROnly   8.24  12.72  20.96  0.37   10.71      14.66
..    ...     ...    ...    ...    ...   ...     ...        ...
14   CBNT  RROnly  10.16  22.12  32.27 -0.36    0.02       0.01
47    MXL  RROnly   1.85   3.97   5.82 -0.39   60.83      36.89
32   GOGO  RROnly  14.26  14.25  28.51 -0.46   12.96       6.99
24    ERJ  RROnly   8.00   9.35  17.35 -0.48   14.93       7.80
25   ESEA  RROnly  24.50  14.17  38.66 -0.50   30.26      15.19

[85 rows x 8 columns]

In [ ]:
findata.EPOCHS=200
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'DTEC', 'EEM', 'FPX',
            'GBTC', 'GLD',
            'ICLN', 'IJR', 'IPO', 'IPOS', 'IWM',
            'JETS', 'KEMQ',
            'MGK', 'MGV', 'MOAT', 'MTUM',
            'QQQ', 'SLV','SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME' ]
mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf2b', mod, False)

In [8]:
df1.sort_values('Gain', ascending=False)

   Ticker    Name    Buy   Sell  Total  Gain    Last  Predicted
1    ARKW  RROnly   5.52   7.63  13.15  0.31   82.43     107.82
0    ARKK  RROnly   6.25   8.23  14.48  0.18   64.80      76.72
10    IPO  RROnly   5.52   6.56  12.08  0.18   44.46      52.38
2    DAPP  RROnly   1.71   2.58   4.29  0.14   13.58      15.49
11   IPOS  RROnly   3.23   4.25   7.48  0.14   21.97      25.03
24    VNQ  RROnly   2.52   2.58   5.10  0.13  102.01     115.17
14   KEMQ  RROnly   4.98   4.27   9.26  0.12   20.57      23.09
8    ICLN  RROnly   6.92   4.36  11.28  0.09   18.14      19.73
6    GBTC  RROnly  13.52  20.10  33.62  0.06   27.30      28.89
35    XLU  RROnly   3.25   1.62   4.87  0.05   66.22      69.71
21    SMH  RROnly   5.45   5.57  11.01  0.04  265.25     275.82
4     EEM  RROnly   2.92   4.25   7.16  0.03   48.72      50.16
12    IWM  RROnly   4.32   3.88   8.20  0.02  199.47     202.66
36    XLV  RROnly   2.94   2.83   5.77  0.02  127.51     129.80
23    SPY  RROnly   3.22   2.62   5.85  0.02  434.23     443.40
22   SMOG  RROnly   5.51   8.08  13.59  0.02  133.38     136.28
31    XLF  RROnly   3.15   4.34   7.49  0.02   39.22      40.13
33    XLK  RROnly   3.48   3.58   7.06  0.01  152.44     154.28
19    QQQ  RROnly   2.80   5.53   8.34  0.01  341.51     344.49
18   MTUM  RROnly   3.22   4.20   7.42  0.00  158.71     158.83
15    MGK  RROnly   3.10   3.73   6.83 -0.01  223.71     222.20
25     VT  RROnly   2.42   3.11   5.53 -0.01  100.28      98.88
37    XLY  RROnly   2.94   4.50   7.44 -0.02  180.00     176.27
7     GLD  RROnly   2.28   2.45   4.74 -0.02  177.12     172.69
9     IJR  RROnly   3.12   4.31   7.43 -0.02  106.16     104.06
26    VTI  RROnly   2.60   3.99   6.59 -0.02  219.37     214.37
28    XLB  RROnly   3.59   3.34   6.93 -0.03   83.86      81.17
29    XLC  RROnly   2.59   3.88   6.47 -0.03   67.41      65.72
30    XLE  RROnly   6.32   5.45  11.76 -0.04   68.05      65.14
13   JETS  RROnly   5.11   5.88  10.98 -0.04   22.56      21.75
3    DTEC  RROnly   0.50   1.27   1.78 -0.04   40.59      39.05
34   XLRE  RROnly   3.71   3.46   7.16 -0.05   44.68      42.60
17   MOAT  RROnly   2.81   2.81   5.62 -0.05   72.05      68.49
38    XME  RROnly   6.17   5.96  12.14 -0.06   49.40      46.35
5     FPX  RROnly   1.86   3.67   5.53 -0.07  104.03      96.58
32    XLI  RROnly   3.60   3.32   6.93 -0.08   98.34      90.10
16    MGV  RROnly   2.74   2.30   5.03 -0.09  104.24      95.03
27   WDIV  RROnly   3.16   2.45   5.61 -0.12   67.59      59.24
20    SLV  RROnly   3.89   4.88   8.77 -0.13   22.12      19.23