<a href="https://colab.research.google.com/github/ahsank/runml/blob/main/TrendTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install -q yahoo_fin

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [ ]:
import runml.pipeline
from runml import pipeline,findata

In [7]:
ticker = 'SPY'
data = findata.fetch_data(ticker)
data.tail(1)

,open,high,low,close,adjclose,volume,ticker
2022-12-23,379.649994,383.059998,378.029999,382.910004,382.910004,59761100,SPY

In [66]:
tdata = data.tail(1000)
newdata = tdata
#mas = [50, 200]
mas = list(range(5, 201, 5))
for i in mas:
  df = (tdata['adjclose']
     .rolling(window=i, min_periods=1)
     .mean()
     .to_frame('ma_' + str(i)))
#          .dropna()
  newdata = df.join(newdata)
newdata['ma_0'] = newdata['adjclose']
mas.insert(0, 0)
newdata.sample(10)

,ma_200,ma_195,ma_190,ma_185,ma_180,ma_175,ma_170,ma_165,ma_160,ma_155,...,ma_10,ma_5,open,high,low,close,adjclose,volume,ticker,ma_0
2022-10-25,406.959111,405.608089,404.717961,404.002376,402.908583,401.839895,400.961414,400.261983,399.599775,399.055591,...,367.323254,372.686627,378.790009,385.250000,378.670013,384.920013,383.160522,78846300,SPY,383.160522
2019-03-21,254.899779,254.899779,254.899779,254.899779,254.899779,254.899779,254.899779,254.899779,254.899779,254.899779,...,263.216946,265.429675,280.640015,285.179993,280.589996,284.730011,267.559052,79550400,SPY,267.559052
2020-08-11,292.072542,292.188675,292.209866,292.185438,292.097256,291.942130,291.826203,291.607007,291.222409,290.718899,...,318.196487,321.560645,336.850006,337.540009,332.010010,332.799988,320.524353,69601100,SPY,320.524353
2022-08-31,422.826644,421.883816,420.967231,420.282558,419.201442,418.187346,416.852407,415.267308,413.867220,412.561929,...,407.471387,400.674646,399.929993,401.239990,395.040009,395.179993,391.764313,76029700,SPY,391.764313
2019-11-18,274.088687,274.605639,275.043340,275.428236,275.819391,276.296998,276.651156,277.028959,277.377811,277.605913,...,293.225632,294.350690,311.529999,312.279999,311.029999,312.019989,295.989899,49228000,SPY,295.989899
2022-04-25,440.318447,440.706235,441.160835,441.470723,441.776378,442.000914,442.274365,442.403019,442.410139,442.534321,...,432.311075,430.838330,423.670013,428.690002,418.839996,428.510010,422.979095,119647700,SPY,422.979095
2020-12-23,308.058375,309.846092,312.040691,313.838830,315.609706,316.986053,318.415498,319.699175,321.152738,322.615325,...,356.600302,357.849036,368.279999,369.619995,367.220001,367.570007,356.944000,46201400,SPY,356.944000
2021-08-12,386.487504,388.207457,389.595878,390.797691,392.050801,393.208867,394.293080,395.492583,396.662699,397.854106,...,431.468085,433.247052,443.619995,445.260010,442.660004,445.109985,435.076843,38909400,SPY,435.076843
2022-09-01,422.499825,421.547912,420.684472,419.924735,418.860481,417.829209,416.400267,414.855739,413.426552,412.261127,...,404.351590,396.096558,392.890015,396.779999,390.040009,396.420013,392.993622,78740100,SPY,392.993622
2022-02-28,436.111574,436.950754,437.728829,438.492611,439.230465,440.032430,440.794960,441.431313,441.963693,442.580995,...,428.765005,423.961932,432.029999,438.200012,430.700012,436.630005,429.659515,145615000,SPY,429.659515

In [62]:
import numpy as np
import pandas as pd

In [67]:
final_price = newdata['adjclose'].iloc[-1]
buy_profit  = lambda current, ma: final_price - current if current > ma else 0
sell_profit = lambda current, ma: current - final_price if current < ma else 0
buy_dollar = lambda current, ma: current if current > ma else 0
sell_dollar = lambda current, ma: -current if current < ma else 0

fns = {'buy_profit': buy_profit,
       'sell_profit': sell_profit,
       'buy_dollar': buy_dollar,
       'sell_dollar': sell_dollar}

profit = np.zeros((len(mas), len(mas)))
mas_rows = ["ma_" + str(x) for x in mas]

for idx, i in enumerate(mas):
  for idx1, j in enumerate(mas[idx+1:], start=idx+1):
    #print (f'Comparing {i}, {j}')
    col1 = 'ma_' + str(i)
    col2 = "ma_" + str(j)
    tmpdf = newdata[['adjclose', col1, col2]].copy()
    for col, fn in fns.items():
      # since we don't have profit for last sequence, add 0's
      tmpdf[col] = list(map(fn,
                            tmpdf[col1],
                            tmpdf[col2]))

    total_buy_profit = tmpdf["buy_profit"].sum()
    total_sell_profit = tmpdf['sell_profit'].sum()
    total_buy_dollar = tmpdf['buy_dollar'].sum()
    total_sell_dollar = tmpdf['sell_dollar'].sum()
    total_return = (total_buy_profit + total_sell_profit)/(total_buy_dollar + total_sell_dollar)
    profit[idx, idx1] = total_return  

        
profit_df = pd.DataFrame(profit, index= mas_rows, columns = mas_rows)
profit_df
#newdata.tail(10)

,ma_0,ma_5,ma_10,ma_15,ma_20,ma_25,ma_30,ma_35,ma_40,ma_45,...,ma_155,ma_160,ma_165,ma_170,ma_175,ma_180,ma_185,ma_190,ma_195,ma_200
ma_0,0.0,0.113728,0.118551,0.136772,0.129330,0.129224,0.120452,0.124265,0.113546,0.110983,...,0.132471,0.130424,0.135365,0.136712,0.137530,0.133185,0.134876,0.133876,0.134518,0.134772
ma_5,0.0,0.000000,0.158682,0.143224,0.136093,0.142831,0.127469,0.123541,0.110084,0.103972,...,0.129420,0.127746,0.132615,0.131998,0.131840,0.138649,0.138932,0.137220,0.139422,0.142951
ma_10,0.0,0.000000,0.000000,0.135292,0.128822,0.133869,0.127336,0.119252,0.116008,0.107842,...,0.138216,0.138261,0.137633,0.141957,0.146076,0.143312,0.143048,0.137723,0.139756,0.138684
ma_15,0.0,0.000000,0.000000,0.000000,0.142374,0.135723,0.135679,0.125027,0.112717,0.109851,...,0.138537,0.144904,0.148958,0.148210,0.144440,0.137348,0.140705,0.143137,0.143423,0.140453
ma_20,0.0,0.000000,0.000000,0.000000,0.000000,0.128906,0.136214,0.122831,0.118628,0.114906,...,0.152478,0.158365,0.151654,0.151588,0.150209,0.148835,0.154487,0.153550,0.148751,0.145706
ma_25,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.137323,0.124635,0.113343,0.111026,...,0.159462,0.159599,0.161520,0.160750,0.161691,0.162726,0.168430,0.166457,0.162896,0.158414
ma_30,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133008,0.113515,0.111069,...,0.158651,0.158773,0.160716,0.160926,0.162618,0.163954,0.167187,0.165360,0.164917,0.163173
ma_35,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.129200,0.114809,...,0.157917,0.158873,0.160845,0.163066,0.163275,0.163162,0.163825,0.162014,0.160932,0.159196
ma_40,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.123957,...,0.158130,0.158413,0.158536,0.162261,0.161072,0.159932,0.159932,0.158838,0.157084,0.157787
ma_45,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.159249,0.159249,0.158340,0.158340,0.157185,0.157185,0.156083,0.155029,0.155029,0.154025
ma_50,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.157146,0.157146,0.155986,0.155986,0.154148,0.154148,0.152352,0.153077,0.152066,0.150355
ma_55,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.156105,0.156105,0.154946,0.152371,0.152371,0.151283,0.149505,0.148523,0.147546,0.145868
ma_60,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.157076,0.155147,0.153278,0.149583,0.147778,0.146002,0.144254,0.144065,0.142380,0.141472
ma_65,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.153510,0.152360,0.151253,0.148671,0.144084,0.142341,0.138929,0.138008,0.136367,0.136308
ma_70,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.149580,0.147736,0.146683,0.143140,0.140446,0.137040,0.133728,0.133728,0.132863,0.132086
ma_75,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.143112,0.142100,0.141119,0.137693,0.135988,0.133467,0.131832,0.130223,0.129463,0.128657
ma_80,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.138452,0.137485,0.135789,0.133192,0.134013,0.131532,0.129916,0.127583,0.126037,0.124514
ma_85,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.134624,0.132940,0.132063,0.131215,0.129645,0.128858,0.128096,0.126519,0.123433,0.123512
ma_90,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.130840,0.130055,0.128434,0.128460,0.127667,0.126899,0.126157,0.125441,0.125441,0.123912
ma_95,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.120819,0.125507,0.126361,0.125658,0.124895,0.125747,0.125013,0.124305,0.123623,0.122118
ma_100,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.119061,0.121163,0.125123,0.124348,0.123705,0.122981,0.122281,0.123994,0.122462,0.121811
ma_105,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.118419,0.118414,0.122182,0.124734,0.123971,0.124099,0.123384,0.121964,0.122160,0.121512
ma_110,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.117088,0.117831,0.120962,0.121743,0.122624,0.122032,0.122206,0.122390,0.123252,0.123439
ma_115,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.117432,0.117347,0.119706,0.119706,0.119840,0.120039,0.121070,0.121271,0.122999,0.123186
ma_120,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.116059,0.116961,0.116997,0.117896,0.118037,0.118933,0.118430,0.120190,0.122783,0.122962
ma_125,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.117018,0.117359,0.116050,0.116178,0.116321,0.117217,0.117374,0.118499,0.121072,0.121262
ma_130,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.116759,0.113816,0.115016,0.115422,0.115559,0.117463,0.118328,0.120041,0.120196,0.120395
ma_135,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.113190,0.113592,0.112489,0.112927,0.114820,0.115834,0.119041,0.120042,0.119400,0.121066
ma_140,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.112999,0.110935,0.110008,0.109575,0.112381,0.112690,0.115983,0.116980,0.118657,0.119486
ma_145,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.113618,0.110831,0.109779,0.107118,0.108393,0.108886,0.110756,0.114008,0.117923,0.117484
ma_150,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.116566,0.111379,0.108606,0.106856,0.105969,0.105618,0.108388,0.109401,0.114139,0.116736
ma_155,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.112586,0.107662,0.105165,0.103564,0.103252,0.105168,0.106430,0.110430,0.114380
ma_160,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.108917,0.105651,0.103158,0.101666,0.102842,0.104144,0.107282,0.112036
ma_165,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.112064,0.102865,0.101383,0.101251,0.103126,0.104530,0.108887
ma_170,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.111547,0.112770,0.108067,0.103105,0.102242,0.104041
ma_175,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.112370,0.114293,0.111241,0.115252,0.113540
ma_180,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.113199,0.113656,0.116444,0.123443
ma_185,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117570,0.115839,0.122943
ma_190,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.121832,0.122212
ma_195,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125625
ma_200,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

0.13477183089695693